doctype html
html(lang='ru')
    head
        include ../partials/head.pug
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
        link(rel='stylesheet', href='/scss/admin/admin.scss')
    body
        nav(class='navbar fixed-top navbar-expand-lg navbar-dark bg-dark')
            div(class='container-fluid')
                ul(class='navbar-nav')
                    li(class='nav-item')
                        a(class='nav-link' href='#') Главная
                    li(class='nav-item')
                        a(class='nav-link' href='#') Список продукции
                    li(class='nav-item')
                        a(class='nav-link active' href='/admin/create-product') Создать продукт
                select(id='nav-select' class='form-select')
                    option(selected) Создать HTML элемент
                    option(value='TEXT_BLOCK') Текстовый блок
                    option(value='TITLE') Заголовок
                    option(value='LIST') Список
                    option(value='IMG_BLOCK') Вставить картинку
                    option(value='IMG_AND_I_BLOCK') Вставить картинку с подписью

        div(class='container-md')
            form(id='form' method='POST' enctype='multipart/form-data')
                h3(class='text-center') Создать продукт
                div(class='mb-5')
                    select(class='form-select d-block mb-3' name='productCategory' required)
                        option(value='') Выберите категорию
                        option(value='Расходные материалы') Расходные материалы
                        option(value='Металлопрокат') Металлопрокат
                        option(value='Фасонные изделия') Фасонные изделия

                    label(class='form-label') Название продукта
                    input(class='form-control mb-3' type='text' name='productName' required)

                    label(class='form-label') Изображение продукта
                    input(class='form-control' type='file' name='productImage' required)

                button(id='form-button' class='btn btn-outline-primary' type='submit') Создать страницу

        script(src='/scripts/create-product.js')