doctype html
html(lang='ru')
    head
        include ../partials/head.pug
        link(rel='stylesheet', href='/scss/admin/admin.scss')
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
    body
        div(class='container-md')
            h1(class='text-center' style='margin-top: 45vh;')=id