.banner
    #burger-btn.burger-btn
        div
        div
        div
    +btn(
    'tel:+78435052775',
    '#phone',
    'Позвоните нам',
    '',
    'btn--banner-media',
    'btn__logo--banner-media',
    'btn__text--banner-media')