.banner
    #burger-btn.burger-btn
        div
        div
        div

    input(id='search-input' class='search-input' type='text' placeholder='Поиск на сайте')

    +btn(
    'tel:+78435052775',
    '#phone',
    'Позвоните нам',
    '',
    'btn--banner-media',
    'btn__logo--banner-media',
    'btn__text--banner-media')

    ul(id='search-output' class='search-output')