footer.footer
    .footer__item
        a(href='/').footer__logo
            img(src='/assets/header/img/logo.jpg' alt='ecosystem производство и поставка воздуховодов')
        p Производство и поставка воздуховодов

        .footer__contact
            span с 8:00 до 20:00
            div
                p
                    a(href='tel:+78435052775') +7(843)505-27-75
                p
                    a(href='tel:+79395052775') +7(939)505-27-75

    address.footer__address
        .footer__address-item
            span Наш адрес
            div
                p г. Казань,  Оренбургский тракт, 10 км, стр. 1

        .footer__address-item
            a(href='mailto:ecosystem.vent@gmail.com') ecosystem.vent@gmail.com