footer.footer
    .footer__col
        h2 ECOSYSTEM
        p Производство и поставка воздуховодов
    .footer__col
        p +7(843)204-04-10
        p с 8:00 до 20:00
    .footer__col
        p г. Казань,  Оренбургский тракт, 10 км, стр. 1