footer.footer
    .footer__col
        h2 ECOSYSTEM
        p Производство и поставка воздуховодов
    .footer__col
        p +7(843)505-27-75
        p +7(939)505-27-75
        p с 8:00 до 20:00
    .footer__col
        p г. Казань,  Оренбургский тракт, 10 км, стр. 1