header.header
    .header__body
        a(href='/').header__logo
            img(src='/assets/header/img/logo.png' alt='ecosystem производство и поставка воздуховодов')
        a(href='/').header__logo-mini
            img(src='/assets/header/img/logo-mini.png' alt='ecosystem производство и поставка воздуховодов')

        nav
            ul.nav
                if isHome
                    li.nav__link
                        a.active(href='/') Главная
                else
                    li.nav__link
                        a(href='/') Главная

                if isCatalog
                    li.nav__link
                        a.active(href='/catalog') Каталог
                else
                    li.nav__link
                        a(href='/catalog') Каталог

                //- if isProducts
                //-     li.nav__link
                //-         a.active(href='/products') Продукция
                //- else
                //-     li.nav__link
                //-         a(href='/products') Продукция

                if isService
                    li.nav__link
                        a.active(href='/service') Услуги
                else
                    li.nav__link
                        a(href='/service') Услуги

        a.btn.btn--header-media(href='tel:+78435052775')
            svg.btn__logo.btn__logo--header-media
                use(xlink:href='#phone')
            p.btn__text.btn__text--header-media Позвоните нам