.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица быстросъемных хомутов МХ

    table
        thead
            tr
                th Модель
                th &Oslash;d
                th A
                th В

        tbody
            tr
                td МХ 100
                td 100
                td 60
                td 10
            tr
                td МХ 125
                td 125
                td 60
                td 10
            tr
                td МХ 160
                td 160
                td 60
                td 10
            tr
                td МХ 200
                td 200
                td 60
                td 10
            tr
                td МХ 250
                td 250
                td 60
                td 10
            tr
                td МХ 315
                td 315
                td 60
                td 10
            tr
                td МХ 355
                td 355
                td 60
                td 10
            tr
                td МХ 400
                td 400
                td 60
                td 10
            tr
                td МХ 500
                td 500
                td 60
                td 10
            tr
                td МХ 630
                td 630
                td 60
                td 10