.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица данных дроссель клапанов

    table
        thead
            tr
                th Диаметр d, мм
                th Длинна L, мм
                th Площадь, м<sup>2</sup>

        tbody
            tr
                td 100
                td 200
                td 0,116
            tr
                td 125
                td 200
                td 0,140
            tr
                td 160
                td 200
                td 0,178
            tr
                td 200
                td 200
                td 0,225
            tr
                td 250
                td 200
                td 0,292
            tr
                td 315
                td 250
                td 0,440
            tr
                td 355
                td 250
                td 0,514
            tr
                td 400
                td 300
                td 0,665
            tr
                td 450
                td 300
                td 0,779
            tr
                td 500
                td 300
                td 0,901
            tr
                td 560
                td 300
                td 1,057