.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица гибких вставок

    table
        thead
            tr
                th Наименование

        tbody
            tr
                td Гиб В 35*60 (25метров)
            tr
                td Гиб В 45*75 (25метров)
            tr
                td Гиб В 70*100 (25метров)