.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица данных круглых переходов

    table
        thead
            tr
                th Диаметр &Oslash;<sub>1</sub>, мм
                th Диаметр &Oslash;<sub>2</sub>, мм
                th Длина L, мм
                th Площадь м<sup>2</sup>
                th Вес кг

        tbody
            tr
                td 125
                td 100
                td 64
                td 0.07
                td 0.4
            tr
                td 160
                td 100
                td 112
                td 0.11
                td 0.5
            tr
                td 160
                td 125
                td 78
                td 0.09
                td 0.4
            tr
                td 200
                td 100
                td 167
                td 0.16
                td 0.7
            tr
                td 200
                td 125
                td 133
                td 0.14
                td 0.7
            tr
                td 200
                td 160
                td 85
                td 0.12
                td 0.6
            tr
                td 225
                td 100
                td 200
                td 0.16
                td 0.7
            tr
                td 225
                td 125
                td 166
                td 0.14
                td 0.7
            tr
                td 225
                td 160
                td 118
                td 0.12
                td 0.6
            tr
                td 225
                td 200
                td 63
                td 0.11
                td 0.5
            tr
                td 250
                td 100
                td 236
                td 0.21
                td 1
            tr
                td 250
                td 125
                td 202
                td 0.2
                td 1
            tr
                td 250
                td 160
                td 154
                td 0.19
                td 0.9
            tr
                td 250
                td 200
                td 99
                td 0.17
                td 0.8
            tr
                td 250
                td 224
                td 66
                td 0.15
                td 0.7
            tr
                td 280
                td 125
                td 243
                td 0.24
                td 1.1
            tr
                td 280
                td 160
                td 195
                td 0.22
                td 1.1
            tr
                td 280
                td 200
                td 140
                td 0.21
                td 1
            tr
                td 280
                td 224
                td 107
                td 0.19
                td 0.9
            tr
                td 280
                td 250
                td 71
                td 0.18
                td 0.8
            tr
                td 300
                td 125
                td 270
                td 0.29
                td 1.3
            tr
                td 300
                td 160
                td 222
                td 0.26
                td 1.2
            tr
                td 300
                td 200
                td 167
                td 0.24
                td 1.1
            tr
                td 300
                td 224
                td 135
                td 0.22
                td 1
            tr
                td 300
                td 250
                td 99
                td 0.21
                td 1
            tr
                td 300
                td 280
                td 58
                td 0.2
                td 0.9
            tr
                td 315
                td 125
                td 291
                td 0.32
                td 1.4
            tr
                td 315
                td 160
                td 243
                td 0.3
                td 1.3
            tr
                td 315
                td 200
                td 188
                td 0.28
                td 1.3
            tr
                td 315
                td 224
                td 155
                td 0.26
                td 1.1
            tr
                td 315
                td 250
                td 119
                td 0.25
                td 1.1
            tr
                td 315
                td 280
                td 78
                td 0.22
                td 1
            tr
                td 315
                td 300
                td 51
                td 0.2
                td 0.9
            tr
                td 355
                td 160
                td 298
                td 0.38
                td 2.1
            tr
                td 355
                td 200
                td 243
                td 0.38
                td 2.1
            tr
                td 355
                td 224
                td 210
                td 0.35
                td 2
            tr
                td 355
                td 250
                td 174
                td 0.32
                td 1.8
            tr
                td 355
                td 280
                td 133
                td 0.3
                td 1.7
            tr
                td 355
                td 300
                td 106
                td 0.28
                td 1.6
            tr
                td 355
                td 315
                td 85
                td 0.26
                td 1.5
            tr
                td 400
                td 160
                td 365
                td 0.47
                td 2.6
            tr
                td 400
                td 200
                td 310
                td 0.45
                td 2.5
            tr
                td 400
                td 224
                td 277
                td 0.42
                td 2.3
            tr
                td 400
                td 250
                td 241
                td 0.39
                td 2.2
            tr
                td 400
                td 280
                td 200
                td 0.37
                td 2.1
            tr
                td 400
                td 300
                td 172
                td 0.36
                td 2
            tr
                td 400
                td 315
                td 152
                td 0.35
                td 2
            tr
                td 400
                td 355
                td 97
                td 0.3
                td 1.7
            tr
                td 450
                td 200
                td 378
                td 0.56
                td 3.1
            tr
                td 450
                td 224
                td 346
                td 0.54
                td 3
            tr
                td 450
                td 250
                td 310
                td 0.57
                td 3.2
            tr
                td 450
                td 280
                td 269
                td 0.5
                td 2.8
            tr
                td 450
                td 300
                td 241
                td 0.49
                td 2.7
            tr
                td 450
                td 315
                td 221
                td 0.47
                td 2.6
            tr
                td 450
                td 355
                td 166
                td 0.42
                td 2.4
            tr
                td 450
                td 400
                td 109
                td 0.36
                td 2
            tr
                td 500
                td 200
                td 447
                td 0.69
                td 3.8
            tr
                td 500
                td 224
                td 414
                td 0.67
                td 3.7
            tr
                td 500
                td 250
                td 378
                td 0.65
                td 3.6
            tr
                td 500
                td 280
                td 337
                td 0.63
                td 3.5
            tr
                td 500
                td 300
                td 310
                td 0.61
                td 3.4
            tr
                td 500
                td 315
                td 289
                td 0.59
                td 3.3
            tr
                td 500
                td 355
                td 234
                td 0.54
                td 3
            tr
                td 500
                td 400
                td 177
                td 0.48
                td 2.7
            tr
                td 500
                td 450
                td 109
                td 0.4
                td 2.2
            tr
                td 630
                td 250
                td 557
                td 1.03
                td 5.7
            tr
                td 630
                td 280
                td 516
                td 1
                td 5.6
            tr
                td 630
                td 300
                td 488
                td 0.98
                td 5.5
            tr
                td 630
                td 315
                td 468
                td 0.97
                td 5.4
            tr
                td 630
                td 355
                td 413
                td 0.92
                td 5.1
            tr
                td 630
                td 400
                td 356
                td 0.88
                td 4.9
            tr
                td 630
                td 450
                td 287
                td 0.81
                td 4.5
            tr
                td 630
                td 500
                td 219
                td 0.73
                td 4.1
            tr
                td 710
                td 355
                td 528
                td 1.21
                td 6.7
            tr
                td 710
                td 400
                td 471
                td 1.16
                td 6.4
            tr
                td 710
                td 450
                td 402
                td 1.1
                td 6.1
            tr
                td 710
                td 500
                td 333
                td 1
                td 5.5
            tr
                td 710
                td 630
                td 155
                td 0.74
                td 4.1
            tr
                td 800
                td 400
                td 594
                td 1.5
                td 8.4
            tr
                td 800
                td 450
                td 526
                td 1.45
                td 8
            tr
                td 800
                td 500
                td 457
                td 1.37
                td 7.6
            tr
                td 800
                td 630
                td 279
                td 1.1
                td 6.1
            tr
                td 800
                td 710
                td 174
                td 0.89
                td 4.9
            tr
                td 1000
                td 500
                td 732
                td 2.27
                td 17.9
            tr
                td 1000
                td 630
                td 553
                td 1.98
                td 15.6
            tr
                td 1000
                td 710
                td 448
                td 1.81
                td 14.3
            tr
                td 1000
                td 800
                td 325
                td 1.56
                td 12.3
            tr
                td 1120
                td 630
                td 718
                td 2.58
                td 20.3
            tr
                td 1120
                td 710
                td 613
                td 2.4
                td 18.9
            tr
                td 1120
                td 800
                td 490
                td 2.16
                td 17
            tr
                td 1120
                td 1000
                td 215
                td 1.42
                td 11.2
            tr
                td 1250
                td 630
                td 897
                td 3.35
                td 26.3
            tr
                td 1250
                td 710
                td 792
                td 3.17
                td 24.9
            tr
                td 1250
                td 800
                td 668
                td 2.91
                td 22.9
            tr
                td 1250
                td 1000
                td 393
                td 2.23
                td 17.6
            tr
                td 1250
                td 1120
                td 229
                td 1.72
                td 13.6