.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица данных круглых, прямых врезок

    table
        thead
            tr
                th Диаметр &Oslash;, мм
                th Площадь поверхности м<sup>2</sup>
                th Вес, кг

        tbody
            tr
                td 100
                td 0,03
                td 0,14
            tr
                td 125
                td 0,04
                td 0,18
            tr
                td 160
                td 0,05
                td 0,24
            tr
                td 200
                td 0,07
                td 0,34
            tr
                td 250
                td 0,08
                td 0,38
            tr
                td 315
                td 0,1
                td 0,46
            tr
                td 355
                td 0,11
                td 0,52
            tr
                td 400
                td 0,12
                td 0,59
            tr
                td 400
                td 0,14
                td 0,67
            tr
                td 500
                td 0,16
                td 0,75
            tr
                td 630
                td 0,2
                td 1,16
            tr
                td 710
                td 0,23
                td 1,3
            tr
                td 800
                td 0,25
                td 1,46
            tr
                td 100
                td 0,31
                td 2,5