.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица данных круглых отводов

    table
        thead
            tr
                th Угол &alpha;
                th Диаметр &Oslash;, мм
                th Длина L, мм
                th Площадь м<sup>2</sup>
                th Вес кг

        tbody
            tr
                td 100*
                td 0,5
                td 0,314
                td 0,008
                td 1,6
            tr
                td 125*
                td 0,5
                td 0,393
                td 0,012
                td 2,0
            tr
                td 140
                td 0,5
                td 0,440
                td 0,020
                td 2,6
            tr
                td 160*
                td 0,5
                td 0,502
                td 0,031
                td 3,2
            tr
                td 180
                td 0,5
                td 0,565
                td 0,039
                td 3,7
            tr
                td 200*
                td 0,5
                td 0,628
                td 0,049
                td 4,0
            tr
                td 225
                td 0,5
                td 0,706
                td 0,062
                td 4,4
            tr
                td 250*
                td 0,5
                td 0,785
                td 0,071
                td 4,7
            tr
                td 280
                td 0,5
                td 0,879
                td 0,078
                td 5,0
            tr
                td 315*
                td 0,5
                td 0,989
                td 0,099
                td 7,1
            tr
                td 355
                td 0,7
                td 1,115
                td 1,126
                td 8,0
            tr
                td 400*
                td 0,7
                td 1,256
                td 0,159
                td 9,0
            tr
                td 450
                td 0,7
                td 1,413
                td 0,196
                td 10,0
            tr
                td 500*
                td 0,7
                td 1,570
                td 0,312
                td 12,6
            tr
                td 560
                td 0,7
                td 1,774
                td 0,396
                td 14,2
            tr
                td 630*
                td 0,7
                td 1,978
                td 0,503
                td 16,0
            tr
                td 710
                td 0,7
                td 2,256
                td 0,785
                td 28,5
            tr
                td 800*
                td 0,7
                td 2,512
                td 0,985
                td 31,8
            tr
                td 900
                td 0,9
                td 2,826
                td 1,227
                td 35,5
            tr
                td 1000*
                td 0,9
                td 3,140
                td 
                td
            tr
                td 1250*
                td 0,9
                td 3,925
                td
                td