.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица перфорированных лент

    table
        thead
            tr
                th Наименование

        tbody
            tr
                td ЛСП 0,55 мм*20мм*25мм ZN
            tr
                td ЛСП 0,70 мм*20мм*25мм ZN
            tr
                td ЛСП волна 0,55 мм*17мм*25мм ZN