.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица ниппелей для соединения воздуховодов

    table
        thead
            tr
                th Диаметр &Oslash;, мм
                th Длина L, мм
                th Площадь м<sup>2</sup>
                th Вес, кг

        tbody
            tr
                td 100
                td 100
                td 0,032
                td 0,15
            tr
                td 125
                td 100
                td 0,039
                td 0,17
            tr
                td 160
                td 100
                td 0,05
                td 0,21
            tr
                td 200
                td 100
                td 0,063
                td 0,27
            tr
                td 250
                td 100
                td 0,8
                td 0,36
            tr
                td 315
                td 100
                td 0,098
                td 0,42
            tr
                td 355
                td 100
                td 0,11
                td 0,47
            tr
                td 400
                td 100
                td 0,13
                td 0,56
            tr
                td 450
                td 150
                td 0,14
                td 0,61
            tr
                td 500
                td 150
                td 0,16
                td 0,9
            tr
                td 630
                td 150
                td 0,2
                td 1,13
            tr
                td 710
                td 150
                td 0,23
                td 1,29
            tr
                td 800
                td 150
                td 0,25
                td 1,41
            tr
                td 1000
                td 150
                td 0,32
                td 2,49