.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица данных PAV-B диффузоров

    table
        thead
            tr
                th Наименование

        tbody
            tr
                td PAV-B ПВХ, белый 100 универсальный
            tr
                td PAV-B ПВХ, белый 125 универсальный
            tr
                td PAV-B ПВХ, белый 160 универсальный
            tr
                td PAV-B ПВХ, белый 200 универсальный