.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица данных переходов с прямоугольника на круг

    table
        thead
            tr
                th Диаметр, d, мм
                th Прямоугольное сечение, d, мм
                th Монтажная длинна, L мм
                th Площадь поверхности м<sup>2</sup>
                th Вес без фланцев, кг

        tbody
            tr
                td 100
                td 100*150
                td 300
                td 0,12
                td 0,54
            tr
                td 125
                td 100*150
                td 300
                td 0,13
                td 0,61
            tr
                td 160
                td 100*150
                td 300
                td 0,15
                td 0,61
            tr
                td 160
                td 150*150
                td 300
                td 0,17
                td 0,75
            tr
                td 160
                td 150*250
                td 300
                td 0,2
                td 0,88
            tr
                td 200
                td 150*150
                td 300
                td 0,18
                td 0,85
            tr
                td 200
                td 150*200
                td 300
                td 0,2
                td 0,91
            tr
                td 200
                td 150*250
                td 300
                td 0,21
                td 0,98
            tr
                td 200
                td 250*250
                td 300
                td 0,24
                td 1,11
            tr
                td 250
                td 150*150
                td 300
                td 0,21
                td 0,98
            tr
                td 250
                td 150*200
                td 300
                td 0,24
                td 1,03
            tr
                td 250
                td 150*250
                td 300
                td 0,25
                td 1,09
            tr
                td 250
                td 250*250
                td 300
                td 0,27
                td 1,22
            tr
                td 250
                td 250*300
                td 300
                td 0,28
                td 1,29
            tr
                td 315
                td 150*250
                td 300
                td 0,29
                td 1,25
            tr
                td 315
                td 250*400
                td 300
                td 0,34
                td 1,57
            tr
                td 315
                td 250*500
                td 400
                td 0,5
                td 2,25
            tr
                td 355
                td 250*250
                td 300
                td 0,32
                td 1,48
            tr
                td 355
                td 250*300
                td 300
                td 0,33
                td 1,53
            tr
                td 355
                td 250*400
                td 300
                td 0,36
                td 1,65
            tr
                td 355
                td 250*500
                td 300
                td 0,39
                td 1,81
            tr
                td 355
                td 400*400
                td 300
                td 0,41
                td 1,89
            tr
                td 400
                td 250*300
                td 300
                td 0,35
                td 1,7
            tr
                td 400
                td 250*400
                td 300
                td 0,38
                td 1,76
            tr
                td 400
                td 250*500
                td 300
                td 0,41
                td 1,89
            tr
                td 400
                td 400*400
                td 300
                td 0,43
                td 1,97
            tr
                td 400
                td 400*500
                td 300
                td 0,46
                td 2,14
            tr
                td 450
                td 250*400
                td 400
                td 0,54
                td 2,48
            tr
                td 450
                td 250*500
                td 300
                td 0,44
                td 2
            tr
                td 450
                td 400*400
                td 300
                td 0,45
                td 2,07
            tr
                td 450
                td 400*500
                td 300
                td 0,48
                td 2,23
            tr
                td 450
                td 400*600
                td 400
                td 0,69
                td 3,12
            tr
                td 500
                td 250*500
                td 500
                td 0,77
                td 4,4
            tr
                td 500
                td 400*400
                td 300
                td 0,48
                td 2,78
            tr
                td 500
                td 400*500
                td 300
                td 0,51
                td 2,92
            tr
                td 500
                td 400*600
                td 300
                td 0,54
                td 3,17
            tr
                td 500
                td 400*800
                td 600
                td 1,19
                td 6,82
            tr
                td 500
                td 500*500
                td 300
                td 0,54
                td 3,17
            tr
                td 500
                td 500*600
                td 300
                td 0,57
                td 3,42
            tr
                td 500
                td 500*800
                td 600
                td 1,25
                td 7,24
            tr
                td 630
                td 400*500
                td 300
                td 0,57
                td 3,35
            tr
                td 630
                td 500*600
                td 300
                td 0,6
                td 3,49
            tr
                td 630
                td 400*800
                td 500
                td 1,1
                td 6,26
            tr
                td 630
                td 500*500
                td 300
                td 0,63
                td 3,49
            tr
                td 630
                td 500*600
                td 300
                td 0,64
                td 3,67
            tr
                td 630
                td 500*800
                td 300
                td 0,69
                td 4,19
            tr
                td 630
                td 500*1000
                td 700
                td 1,74
                td 10
            tr
                td 630
                td 600*600
                td 300
                td 0,66
                td 3,89
            tr
                td 630
                td 600*800
                td 300
                td 0,72
                td 4,51
            tr
                td 710
                td 400*600
                td 600
                td 1,27
                td 7,25
            tr
                td 710
                td 400*800
                td 600
                td 1,39
                td 7,89
            tr
                td 710
                td 500*500
                td 400
                td 0,85
                td 4,92
            tr
                td 710
                td 500*600
                td 400
                td 0,89
                td 5,12
            tr
                td 710
                td 500*800
                td 400
                td 0,97
                td 5,59
            tr
                td 710
                td 500*1000
                td 400
                td 1,05
                td 6,24
            tr
                td 710
                td 600*600
                td 300
                td 0,7
                td 4,07
            tr
                td 710
                td 600*800
                td 300
                td 0,75
                td 4,57
            tr
                td 710
                td 600*1000
                td 300
                td 0,81
                td 5,3
            tr
                td 710
                td 800*800
                td 300
                td 0,81
                td 5,3