.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица данных прямоугольных тройников

    table
        thead
            tr
                th Боковая сторона А, мм
                th Ширина В, мм
                th Монтажная длина L, мм
                th Площадь поверхности м<sup>2</sup>
                th Вес без фланцев, кг

        tbody
            tr
                td 150*150
                td 150*150
                td 350
                td 0,26
                td 1,32
            tr
                td 250*250
                td 150*150
                td 350
                td 0,38
                td 1,9
            tr
                td 400*400
                td 150*150
                td 350
                td 0,61
                td 3,7
            tr
                td 400*400
                td 250*250
                td 450
                td 0,75
                td 4,72
            tr
                td 500*500
                td 150*150
                td 350
                td 0,76
                td 4,75
            tr
                td 500*500
                td 250*250
                td 450
                td 0,94
                td 5,76
            tr
                td 600*600
                td 150*150
                td 350
                td 0,88
                td 5,28
            tr
                td 600*600
                td 250*250
                td 450
                td 1,12
                td 6,75
            tr
                td 600*600
                td 400*400
                td 600
                td 1,45
                td 8,63
            tr
                td 600*600
                td 500*500
                td 700
                td 1,63
                td 9,81
            tr
                td 800*800
                td 150*150
                td 350
                td 1,16
                td 6,95
            tr
                td 800*800
                td 250*250
                td 450
                td 1,47
                td 8,79
            tr
                td 800*800
                td 400*400
                td 600
                td 1,9
                td 11,35
            tr
                td 800*800
                td 500*500
                td 700
                td 2,2
                td 12,99
            tr
                td 800*800
                td 600*600
                td 800
                td 2,45
                td 14,5
            tr
                td 1000*1000
                td 150*150
                td 350
                td 1,45
                td 8,55
            tr
                td 1000*1000
                td 250*250
                td 450
                td 1,83
                td 10,82
            tr
                td 1000*1000
                td 400*400
                td 600
                td 2,42
                td 14,1
            tr
                td 1000*1000
                td 500*500
                td 700
                td 2,75
                td 16,1
            tr
                td 1000*1000
                td 600*600
                td 800
                td 3,08
                td 18,09
            tr
                td 1000*1000
                td 800*800
                td 1000
                td 3,68
                td 21,6