.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица данных прямоугольных уток

    table
        thead
            tr
                th Тип
                th Сторона A, мм
                th Длинна, L мм

        tbody
            tr
                td ПУ-150 х ...
                td 150
                td 400
            tr
                td ПУ-200 х ...
                td 200
                td 400
            tr
                td ПУ-250 х ...
                td 250
                td 400
            tr
                td ПУ-300 х ...
                td 300
                td 400
            tr
                td ПУ-400 х ...
                td 400
                td 500
            tr
                td ПУ-500 х ...
                td 500
                td 600
            tr
                td ПУ-600 х ...
                td 600
                td 700
            tr
                td ПУ-800 х ...
                td 800
                td 900
            tr
                td ПУ-1000 х ...
                td 1000
                td 1100
            tr
                td ПУ-1200 х ...
                td 1200
                td 1300
            tr
                td ПУ-1400 х ...
                td 1400
                td 1500
            tr
                td ПУ-1600 х ...
                td 1600
                td 1700
            tr
                td ПУ-2000 х ...
                td 2000
                td 2100