.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица данных RAD диффузоров

    table
        thead
            tr
                th Наименование

        tbody
            tr
                td RAD квадрат, без клапана, алюминий, белый 300
            tr
                td RAD квадрат, без клапана, алюминий, белый 450
            tr
                td RAD квадрат, без клапана, алюминий, белый 600