.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица данных шпилек

    table
        thead
            tr
                th Наименование

        tbody
            tr
                td Шпилька М06*2000 DIN 975
            tr
                td Шпилька М08*2000 DIN 975
            tr
                td Шпилька М10*2000 DIN 975
            tr
                td Шпилька М12*2000 DIN 975
            tr
                td Шпилька М16*2000 DIN 975
            tr
                td Шпилька М20*2000 DIN 975