.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица данных струбцин

    table
        thead
            tr
                th Наименование

        tbody
            tr
                td Струбцина М08 ZN
            tr
                td Струбцина М10 ZN