.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Характеристики

    table
        tbody
            tr
                td Длина завесы
                td 1
            tr
                td Тепловая мощность (кВт)
                td 10.9
            tr
                td Тип завесы
                td Интерьерная
            tr
                td Серия
                td 300 Призма-2
            tr
                td Степень защиты
                td IP21
            tr
                td Источник тепла
                td водяной
            tr
                td Параметры питающей сети, В/Гц
                td 220/50
            tr
                td Режимы мощности, кВт
                td 0-9.8-10.9
            tr
                td Расход воздуха, м<sup>3</sup>/час
                td 1100-1200-1300
            tr
                td Скорость воздуха на выходе из сопла, м/с
                td 7.7
            tr
                td Эффективная длина струи, м
                td 3.5
            tr
                td Длина, мм
                td 1050
            tr
                td Ширина, мм
                td 446
            tr
                td Высота, мм
                td 340
            tr
                td Масса, кг
                td 28.5
            tr
                td Цвет
                td корпус светло-серый RAL 7004, передняя панель белая RAL 9003
            tr
                td Максимальный ток при номинальном напряжении, A
                td 0.5
            tr
                td Потребляемая мощность двигателя, Вт
                td 100
            tr
                td Звуковое давление на расстоянии 5 м, дБ (A)
                td 52
            tr
                td Способ установки при монтаже
                td горизонтально
            tr
                td Декларация о соответствии ТС
                td ТС № RU Д-RU.АУ04.B.26272
            tr
                td Страна производства
                td Россия, Санкт-Петербург
            tr
                td Гарантия, мес
                td 24