.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Характеристики

    table
        tbody
            tr
                td Длина завесы
                td 2
            tr
                td Тип завесы
                td Промышленная
            tr
                td Серия
                td 400 Комфорт
            tr
                td Степень защиты
                td IP21
            tr
                td Источник тепла
                td водяной
            tr
                td Параметры питающей сети, В/Гц
                td 220/50
            tr
                td Режимы мощности, кВт
                td 0-30.4-47.0
            tr
                td Расход воздуха, м<sup>3</sup>/час
                td 3100-4100-5000
            tr
                td Скорость воздуха на выходе из сопла, м/с
                td 11,3
            tr
                td Эффективная длина струи, м
                td 4,5
            tr
                td Длина, мм
                td 2090
            tr
                td Ширина, мм
                td 405
            tr
                td Высота, мм
                td 355
            tr
                td Масса, кг
                td 46.5
            tr
                td Цвет
                td корпус светло-серый RAL 7004, передняя панель белая RAL 9003
            tr
                td Максимальный ток при номинальном напряжении, A
                td 2.4
            tr
                td Потребляемая мощность двигателя, Вт
                td 530
            tr
                td Звуковое давление на расстоянии 5 м, дБ (A)
                td 65
            tr
                td Длина упаковки, м
                td 2.123
            tr
                td Ширина упаковки, м
                td 0.453
            tr
                td Высота упаковки, м
                td 0.400
            tr
                td Вес упаковки, кг
                td 47
            tr
                td Способ установки при монтаже
                td горизонтально и вертикально
            tr
                td Декларация о соответствии ТС
                td ТС № RU Д-RU.АУ04.B.26272
            tr
                td Страна производства
                td Россия, Санкт-Петербург
            tr
                td Гарантия, мес
                td 24