.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица вентиляционных хомутов

    table
        thead
            tr
                th Наименование

        tbody
            tr
                td Вент. хомут 102 М8
            tr
                td Вент. хомут 127 М8
            tr
                td Вент. хомут 162 М8
            tr
                td Вент. хомут 202 М8
            tr
                td Вент. хомут 252 М8
            tr
                td Вент. хомут 318 М8
            tr
                td Вент. хомут 358 М8
            tr
                td Вент. хомут 403 М8
            tr
                td Вент. хомут 453
            tr
                td Вент. хомут 503
            tr
                td Вент. хомут 563
            tr
                td Вент. хомут 633
            tr
                td Вент. хомут 710
            tr
                td Вент. хомут 803
            tr
                td Вент. хомут 904
            tr
                td Вент. хомут 1004
            tr
                td Вент. хомут 1124
            tr
                td Вент. хомут 1254
            tr
                td Вент. хомут с рез.упл. 102 М8
            tr
                td Вент. хомут с рез.упл. 127 М8
            tr
                td Вент. хомут с рез.упл. 162 М8
            tr
                td Вент. хомут с рез.упл. 202 М8
            tr
                td Вент. хомут с рез.упл. 252 М8
            tr
                td Вент. хомут с рез.упл. 318 М8
            tr
                td Вент. хомут с рез.упл. 358 М8
            tr
                td Вент. хомут с рез.упл. 403 М8
            tr
                td Вент. хомут с рез.упл. 453
            tr
                td Вент. хомут с рез.упл. 503
            tr
                td Вент. хомут с рез.упл. 563
            tr
                td Вент. хомут с рез.упл. 633
            tr
                td Вент. хомут с рез.упл. 710
            tr
                td Вент. хомут с рез.упл. 803
            tr
                td Вент. хомут с рез.упл. 904
            tr
                td Вент. хомут с рез.упл. 1004
            tr
                td Вент. хомут с рез.упл. 1124
            tr
                td Вент. хомут с рез.упл. 1254