.table.mt-5(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
    h2.table__title Таблица данных виброопор

    table
        thead
            tr
                th Наименование

        tbody
            tr
                td L-образный крепеж с виброизолятором М8
            tr
                td Z-образный крепеж с виброизолятором М8
            tr
                td V-образный крепеж с виброизолятором М8