include ../partials/mixins.pug

doctype html
html(lang='ru')
    head
        include ../partials/head.pug
        block links
    body
        .page
            include ../partials/svg.pug
            include ../partials/banner.pug
            include ../partials/header.pug
            block content
            include ../partials/footer.pug

        block scripts
        script(src='/scripts/index.js')