extends layouts/catalog.pug

block content
    +catalogItem(
        '/catalog/vozdukhovody-i-fasonnye-chasti',
        '/assets/catalog/img/vozdukhovody-i-fasonnye-chasti.jpg',
        'воздуховоды и фасонные части',
        'воздуховоды и фасонные части')
    +catalogItem(
        '/catalog/komplektuyushchie',
        '/assets/catalog/img/komplektuyushchie.jpg',
        'комплектующие',
        'комплектующие')
    +catalogItem(
        '/catalog/raskhodnye-materialy',
        '/assets/catalog/img/raskhodnye-materialy.jpg',
        'расходные материалы',
        'расходные материалы')
    +catalogItem(
        '/products/ventilyacionnye-ustanovki',
        '/assets/product/img/ventilyacionnye-ustanovki.jpg',
        'вентиляционные установки',
        'вентиляционные установки')
    +catalogItem(
        '/products/teplovye-zavesy',
        '/assets/product/img/teplovye-zavesy.jpg',
        'тепловые завесы',
        'тепловые завесы')
    +catalogItem(
        '/catalog/kondicionery',
        '/assets/catalog/img/kondicionery.jpg',
        'кондиционеры',
        'кондиционеры')