extends layouts/catalog.pug

block content
    +catalogItem(
        '/catalog/vozdukhovody-i-fasonnye-chasti',
        '/assets/catalog/img/vozdukhovody-i-fasonnye-chasti.jpg',
        'воздуховоды и фасонные части',
        'воздуховоды и фасонные части')