extends layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/products/diffuzory',
            '/assets/product/img/diffuzory.jpg',
            'диффузоры',
            'диффузоры')