extends layouts/catalog.pug

block content
    .catalog__body
            +catalogItem(
                '/products/dvs-diffuzory',
                '/assets/product/img/dvs-diffuzory.jpg',
                'dvs диффузоры',
                'dvs диффузоры')
            +catalogItem(
                '/products/dvs-p-diffuzory',
                '/assets/product/img/dvs-p-diffuzory.jpg',
                'dvs-p диффузоры',
                'dvs-p диффузоры')
            +catalogItem(
                '/products/pav-b-diffuzory',
                '/assets/product/img/pav-b-diffuzory.jpg',
                'pav-b диффузоры',
                'pav-b диффузоры')
            +catalogItem(
                '/products/rad-diffuzory',
                '/assets/product/img/rad-diffuzory.jpg',
                'rad диффузоры',
                'rad диффузоры')
            +catalogItem(
                '/products/sad-diffuzory',
                '/assets/product/img/sad-diffuzory.jpg',
                'sad диффузоры',
                'sad диффузоры')