extends layouts/catalog.pug

block content
    .catalog__body
            +catalogItem(
                '/products/kruglye-otvody',
                '/assets/product/img/kruglye-otvody.jpg',
                'круглые отводы',
                'круглые отводы')
            +catalogItem(
                '/products/kruglye-perekhody',
                '/assets/product/img/kruglye-perekhody.jpg',
                'круглые переходы',
                'круглые переходы')
            +catalogItem(
                '/products/kruglye-trojniki',
                '/assets/product/img/kruglye-trojniki.jpg',
                'круглые тройники',
                'круглые тройники')
            +catalogItem(
                '/products/kruglye-zaglushki',
                '/assets/product/img/kruglye-zaglushki.jpg',
                'круглые заглушки',
                'круглые заглушки')
            +catalogItem(
                '/products/kruglye-vrezki',
                '/assets/product/img/kruglye-vrezki.jpg',
                'круглые врезки',
                'круглые врезки')
            +catalogItem(
                '/products/pryamye-vrezki',
                '/assets/product/img/pryamye-vrezki.jpg',
                'прямые врезки',
                'прямые врезки')
            +catalogItem(
                '/products/kruglye-zonty',
                '/assets/product/img/kruglye-zonty.jpg',
                'круглые зонты',
                'круглые зонты')
            +catalogItem(
                '/products/pryamougolnye-otvody',
                '/assets/product/img/pryamougolnye-otvody.jpg',
                'прямоугольные отводы',
                'прямоугольные отводы')
            +catalogItem(
                '/products/pryamougolnye-trojniki',
                '/assets/product/img/pryamougolnye-trojniki.jpg',
                'прямоугольные тройники',
                'прямоугольные тройники')
            +catalogItem(
                '/products/pryamougolnye-perekhody',
                '/assets/product/img/pryamougolnye-perekhody.jpg',
                'прямоугольные переходы',
                'прямоугольные переходы')
            +catalogItem(
                '/products/perekhody-s-pryamougolnykh-na-kruglye-secheniya',
                '/assets/product/img/perekhody-s-pryamougolnykh-na-kruglye-secheniya.jpg',
                'переходы с прямоугольных на круглые сечения',
                'переходы с прямоугольных на круглые сечения')
            +catalogItem(
                '/products/pryamougolnye-zonty',
                '/assets/product/img/pryamougolnye-zonty.jpg',
                'прямоугольные зонты',
                'прямоугольные зонты')
            +catalogItem(
                '/products/pryamougolnye-utki',
                '/assets/product/img/pryamougolnye-utki.jpg',
                'прямоугольные утки',
                'прямоугольные утки')
            +catalogItem(
                '/products/nippeli',
                '/assets/product/img/nippeli.jpg',
                'ниппели',
                'ниппели')
            +catalogItem(
                '/products/drossel-klapana',
                '/assets/product/img/drossel-klapana.jpg',
                'дроссель клапана',
                'дроссель клапана')
            +catalogItem(
                '/catalog/diffuzory',
                '/assets/catalog/img/diffuzory.jpg',
                'диффузоры',
                'диффузоры')