extends layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/products/bystrosemnye-khomuty-mx',
            '/assets/product/img/bystrosemnye-khomuty-mx.jpg',
            'быстросъемные хомуты mx',
            'быстросъемные хомуты mx')
        +catalogItem(
            '/products/nejlonovyj-khomut',
            '/assets/product/img/nejlonovyj-khomut.jpg',
            'нейлоновый хомут',
            'нейлоновый хомут')
        +catalogItem(
            '/products/chervyachnyj-khomut',
            '/assets/product/img/chervyachnyj-khomut.jpg',
            'червячный хомут',
            'червячный хомут')
        +catalogItem(
            '/products/pruzhinnyj-khomut',
            '/assets/product/img/pruzhinnyj-khomut.jpg',
            'пружинный хомут',
            'пружинный хомут')
        +catalogItem(
            '/products/trubnyj-khomut',
            '/assets/product/img/trubnyj-khomut.jpg',
            'трубный хомут',
            'трубный хомут')