extends layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/products/gibkie-vstavki',
            '/assets/product/img/gibkie-vstavki.jpg',
            'гибкие вставки',
            'гибкие вставки')
        +catalogItem(
            '/products/diffuzory',
            '/assets/product/img/diffuzory.jpg',
            'диффузоры',
            'диффузоры')
        +catalogItem(
            '/products/kronshtejny-dlya-kondicionerov',
            '/assets/product/img/kronshtejny-dlya-kondicionerov.jpg',
            'кронштейны для кондиционеров',
            'кронштейны для кондиционеров')
        +catalogItem(
            '/products/protivopozharnye-klapany',
            '/assets/product/img/protivopozharnye-klapany.webp',
            'противопожарные клапаны',
            'противопожарные клапаны')