extends layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/products/gibkie-vstavki',
            '/assets/product/img/gibkie-vstavki.jpg',
            'гибкие вставки',
            'гибкие вставки')
        +catalogItem(
            '/products/bystrosemnye-khomuty-mx',
            '/assets/product/img/bystrosemnye-khomuty-mx.jpg',
            'быстросъемные хомуты mx',
            'быстросъемные хомуты mx')
        +catalogItem(
            '/catalog/diffuzory',
            '/assets/catalog/img/diffuzory.jpg',
            'диффузоры',
            'диффузоры')