extends layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/products/gibkie-vstavki',
            '/assets/product/img/gibkie-vstavki.jpg',
            'гибкие вставки',
            'гибкие вставки')
        +catalogItem(
            '/catalog/diffuzory',
            '/assets/catalog/img/diffuzory.jpg',
            'диффузоры',
            'диффузоры')
        +catalogItem(
            '/catalog/gofrirovannye-truby',
            '/assets/catalog/img/gofrirovannye-truby.jpg',
            'гофрированные трубы',
            'гофрированные трубы')