extends layouts/catalog.pug

block content
    +catalogItem(
        '/products/bytovye-kondicionery',
        '/assets/product/img/bytovye-kondicionery.jpg',
        'бытовые кондиционеры',
        'бытовые кондиционеры')