extends layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/products/lsp',
            '/assets/product/img/lsp.jpg',
            'перфорированные ленты',
            'лсп')
        +catalogItem(
            '/products/skoby',
            '/assets/product/img/skoby.jpg',
            'скобы',
            'скобы')
        +catalogItem(
            '/products/uplotnitelnye-lenty',
            '/assets/product/img/uplotnitelnye-lenty.jpg',
            'уплотнительные ленты',
            'уплотнительные ленты')
        +catalogItem(
            '/products/vibroopory',
            '/assets/product/img/vibroopory.jpg',
            'виброопоры',
            'виброопоры')
        +catalogItem(
            '/products/strubciny',
            '/assets/product/img/strubciny.jpg',
            'струбцины',
            'струбцины')
        +catalogItem(
            '/products/shpilki',
            '/assets/product/img/shpilki.jpg',
            'шпильки',
            'шпильки')
        +catalogItem(
            '/products/alyuminievyj-skotch',
            '/assets/product/img/alyuminievyj-skotch.jpg',
            'алюминиевый скотч',
            'алюминиевый скотч')
        +catalogItem(
            '/products/flancevaya-shina',
            '/assets/product/img/flancevaya-shina.jpg',
            'фланцевая шина',
            'фланцевая шина')
        +catalogItem(
            '/products/anker-zabivnoj',
            '/assets/product/img/anker-zabivnoj.jpg',
            'анкер забивной',
            'анкер забивной')
        +catalogItem(
            '/products/khomuty',
            '/assets/product/img/khomuty.jpg',
            'хомуты',
            'хомуты')
        +catalogItem(
            '/catalog/truby',
            '/assets/catalog/img/truby.jpg',
            'трубы',
            'трубы')