extends layouts/main.pug

block links
    //- https://michalsnik.github.io/aos/
    link(href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet')
    link(rel='stylesheet' href='/scss/index.scss')

block content
    .banner-mini
    main
        include services/ventilyaciya.pug
        include services/naruzhnye-teplovye-seti.pug
        include services/kondicionirovanie.pug

block scripts
    //- https://michalsnik.github.io/aos/
    script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
    script(src='/scripts/services.js')