extends layouts/catalog.pug

block content
    .catalog__body
            +catalogItem(
                '/catalog/vodnye-teplovye-zavesy',
                '/assets/catalog/img/vodnye-teplovye-zavesy.jpg',
                'водные тепловые завесы',
                'водные тепловые завесы')