extends layouts/catalog.pug

block content
    .catalog__body
            +catalogItem(
                '/catalog/vodyanye-teplovye-zavesy',
                '/assets/catalog/img/vodyanye-teplovye-zavesy.jpg',
                'водяные тепловые завесы',
                'водяные тепловые завесы')