extends layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/products/mednye-truby',
            '/assets/product/img/mednye-truby.jpg',
            'медные трубы',
            'медные трубы')
        +catalogItem(
            '/products/stalnye-truby',
            '/assets/product/img/stalnye-truby.jpg',
            'стальные трубы',
            'стальные трубы')
        +catalogItem(
            '/products/gofrirovannye-truby',
            '/assets/product/img/gofrirovannye-truby.jpg',
            'гофрированные трубы',
            'гофрированные трубы')
        +catalogItem(
            '/products/polipropilenovye-truby',
            '/assets/product/img/polipropilenovye-truby.jpg',
            'полипропиленовые трубы',
            'полипропиленовые трубы')
        +catalogItem(
            '/products/kanalizacionnye-truby',
            '/assets/product/img/kanalizacionnye-truby.jpg',
            'канализационные трубы',
            'канализационные трубы')