extends layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/products/mednaya-otozhzhennaya-truba',
            '/assets/product/img/mednaya-otozhzhennaya-truba.jpg',
            'медная отожженная труба',
            'медная отожженная труба')