extends layouts/catalog.pug

block content
    .catalog__body
            +catalogItem(
                '/products/pritochno-vytyazhnye-ventilyacionnye-ustanovki-svan',
                '/assets/product/img/pritochno-vytyazhnye-ventilyacionnye-ustanovki-svan.jpg',
                'приточно-вытяжные вентиляционные установки сван',
                'приточно-вытяжные вентиляционные установки сван')
            +catalogItem(
                '/products/sostavnye-pritochnye-ventilyacionnye-ustanovki-avs',
                '/assets/product/img/sostavnye-pritochnye-ventilyacionnye-ustanovki-avs.jpg',
                'составные приточные вентиляционные установки авс',
                'составные приточные вентиляционные установки авс')