extends layouts/catalog.pug

block content
    .catalog__body
            +catalogItem(
                '/products/teplovye-zavesy-28p3137w',
                '/assets/product/img/teplovye-zavesy-28p3137w.jpg',
                'тепловые завесы 28p3137w',
                'тепловые завесы 28p3137w')