extends layouts/catalog.pug

block content
    .catalog__body
            +catalogItem(
                '/products/teplovye-zavesy-28p3137w',
                '/assets/product/img/teplovye-zavesy-28p3137w.jpg',
                'тепловые завесы 28p3137w',
                'тепловые завесы 28p3137w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-20p2111w',
                '/assets/product/img/teplovye-zavesy-kehv-20p2111w.jpg',
                'тепловые завесы кэв 20p2111w',
                'тепловые завесы кэв 20p2111w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-20p2171w',
                '/assets/product/img/teplovye-zavesy-kehv-20p2171w.jpg',
                'тепловые завесы кэв 20p2171w',
                'тепловые завесы кэв 20p2171w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-28p3131w',
                '/assets/product/img/teplovye-zavesy-kehv-28p3131w.jpg',
                'тепловые завесы кэв 28p3131w',
                'тепловые завесы кэв 28p3131w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-28p3171w',
                '/assets/product/img/teplovye-zavesy-kehv-28p3171w.jpg',
                'тепловые завесы кэв 28p3171w',
                'тепловые завесы кэв 28p3171w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-29p2121w',
                '/assets/product/img/teplovye-zavesy-kehv-29p2121w.jpg',
                'тепловые завесы кэв 29p2121w',
                'тепловые завесы кэв 29p2121w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-42p3111w',
                '/assets/product/img/teplovye-zavesy-kehv-42p3111w.jpg',
                'тепловые завесы кэв 42p3111w',
                'тепловые завесы кэв 42p3111w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-42p3116w',
                '/assets/product/img/teplovye-zavesy-kehv-42p3116w.jpg',
                'тепловые завесы кэв 42p3116w',
                'тепловые завесы кэв 42p3116w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-42p3117w',
                '/assets/product/img/teplovye-zavesy-kehv-42p3117w.jpg',
                'тепловые завесы кэв 42p3117w',
                'тепловые завесы кэв 42p3117w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-42p3181w',
                '/assets/product/img/teplovye-zavesy-kehv-42p3181w.jpg',
                'тепловые завесы кэв 42p3181w',
                'тепловые завесы кэв 42p3181w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-44p4131w',
                '/assets/product/img/teplovye-zavesy-kehv-44p4131w.jpg',
                'тепловые завесы кэв 44p4131w',
                'тепловые завесы кэв 44p4131w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-60p3141w',
                '/assets/product/img/teplovye-zavesy-kehv-60p3141w.jpg',
                'тепловые завесы кэв 60p3141w',
                'тепловые завесы кэв 60p3141w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-60p3146w',
                '/assets/product/img/teplovye-zavesy-kehv-60p3146w.jpg',
                'тепловые завесы кэв 60p3146w',
                'тепловые завесы кэв 60p3146w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-60p3147w',
                '/assets/product/img/teplovye-zavesy-kehv-60p3147w.jpg',
                'тепловые завесы кэв 60p3147w',
                'тепловые завесы кэв 60p3147w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-60p3191w',
                '/assets/product/img/teplovye-zavesy-kehv-60p3191w.jpg',
                'тепловые завесы кэв 60p3191w',
                'тепловые завесы кэв 60p3191w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-70p4141w',
                '/assets/product/img/teplovye-zavesy-kehv-70p4141w.jpg',
                'тепловые завесы кэв 70p4141w',
                'тепловые завесы кэв 70p4141w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-75p4050w',
                '/assets/product/img/teplovye-zavesy-kehv-75p4050w.jpg',
                'тепловые завесы кэв 75p4050w',
                'тепловые завесы кэв 75p4050w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-98p4121w',
                '/assets/product/img/teplovye-zavesy-kehv-98p4121w.jpg',
                'тепловые завесы кэв 98p4121w',
                'тепловые завесы кэв 98p4121w')
            +catalogItem(
                '/products/teplovye-zavesy-kehv-100p4060w',
                '/assets/product/img/teplovye-zavesy-kehv-100p4060w.jpg',
                'тепловые завесы кэв 100p4060w',
                'тепловые завесы кэв 100p4060w')