extends ../layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/products/diffuzory',
            '/assets/product/img/diffuzory.jpg',
            'диффузоры',
            'диффузоры')
        +catalogItem(
            '/products/ventilyacionnye-reshetki',
            '/assets/product/img/ventilyacionnye-reshetki.jpg',
            'вентиляционные решетки',
            'вентиляционные решетки')