extends ../layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/products/bytovye-kondicionery',
            '/assets/product/img/bytovye-kondicionery.jpg',
            'бытовые кондиционеры',
            'бытовые кондиционеры')
        +catalogItem(
            '/products/kommercheskie-kondicionery',
            '/assets/product/img/kommercheskie-kondicionery.jpg',
            'коммерческие кондиционеры',
            'коммерческие кондиционеры')
        +catalogItem(
            '/products/promyshlennye-kondicionery',
            '/assets/product/img/promyshlennye-kondicionery.jpg',
            'промышленные кондиционеры',
            'промышленные кондиционеры')