extends ../layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/products/stalnye-truby',
            '/assets/product/img/stalnye-truby.jpg',
            'стальные трубы',
            'стальные трубы')
        +catalogItem(
            '/products/profilnye-truby',
            '/assets/product/img/profilnye-truby.jpg',
            'профильные трубы',
            'профильные трубы')
        +catalogItem(
            '/products/stalnye-ugolki',
            '/assets/product/img-db/5e4d991a212640ad7988fa05c75d9fd7.jpg',
            'стальные уголки',
            'стальные уголки')
        +catalogItem(
            '/products/stalnye-shvellera',
            '/assets/product/img-db/0ddffd25962ffcea78e4e52d9823a2a8.jpg',
            'стальные швеллера',
            'стальные швеллера')