extends ../layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/products/stalnye-truby',
            '/assets/product/img/stalnye-truby.jpg',
            'стальные трубы',
            'стальные трубы')
        +catalogItem(
            '/products/profilnye-truby',
            '/assets/product/img/profilnye-truby.jpg',
            'профильные трубы',
            'профильные трубы')