extends ../layouts/catalog.pug

block content
    .catalog__body
        each product in products
            +catalogItem(
                `/products/${product.translitTitle}`,
                `${product.image.src}`,
                `${product.title}`,
                `${product.title}`)

        +catalogItem(
            '/products/stalnye-truby',
            '/assets/product/img/stalnye-truby.jpg',
            'стальные трубы',
            'стальные трубы')
        +catalogItem(
            '/products/profilnye-truby',
            '/assets/product/img/profilnye-truby.jpg',
            'профильные трубы',
            'профильные трубы')