extends ../layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/products/izolyaciya-truboprovodov',
            '/assets/product/img/izolyaciya-truboprovodov.jpg',
            'изоляция трубопроводов',
            'изоляция трубопроводов')
        +catalogItem(
            '/products/ognezashchita-truboprovodov',
            '/assets/product/img/ognezashchita-truboprovodov.jpg',
            'огнезащита трубопроводов',
            'огнезащита трубопроводов')
        +catalogItem(
            '/products/klej-dlya-teploizolyacii',
            '/assets/product/img/klej-dlya-teploizolyacii.jpg',
            'клей для теплоизоляции',
            'клей для теплоизоляции')