extends ../layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/products/izolyaciya-truboprovodov',
            '/assets/product/img/izolyaciya-truboprovodov.jpg',
            'изоляция трубопроводов',
            'изоляция трубопроводов')