extends ../layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/products/lsp',
            '/assets/product/img/lsp.jpg',
            'перфорированные ленты',
            'лсп')
        +catalogItem(
            '/products/skoby',
            '/assets/product/img/skoby.jpg',
            'скобы',
            'скобы')
        +catalogItem(
            '/products/uplotnitelnye-lenty',
            '/assets/product/img/uplotnitelnye-lenty.jpg',
            'уплотнительные ленты',
            'уплотнительные ленты')
        +catalogItem(
            '/products/vibroopory',
            '/assets/product/img/vibroopory.jpg',
            'виброопоры',
            'виброопоры')
        +catalogItem(
            '/products/strubciny',
            '/assets/product/img/strubciny.jpg',
            'струбцины',
            'струбцины')
        +catalogItem(
            '/products/alyuminievyj-skotch',
            '/assets/product/img/alyuminievyj-skotch.jpg',
            'алюминиевый скотч',
            'алюминиевый скотч')
        +catalogItem(
            '/products/flancevaya-shina',
            '/assets/product/img/flancevaya-shina.jpg',
            'фланцевая шина',
            'фланцевая шина')
        +catalogItem(
            '/products/khomuty',
            '/assets/product/img/khomuty.jpg',
            'хомуты',
            'хомуты')
        +catalogItem(
            '/products/metizy',
            '/assets/product/img/metizy.jpg',
            'метизы',
            'метизы')
        +catalogItem(
            '/products/kronshtejny-dlya-kondicionerov',
            '/assets/product/img/kronshtejny-dlya-kondicionerov.jpg',
            'кронштейны для кондиционеров',
            'кронштейны для кондиционеров')
        +catalogItem(
            '/products/gibkie-vstavki',
            '/assets/product/img/gibkie-vstavki.jpg',
            'гибкие вставки',
            'гибкие вставки')
        +catalogItem(
            '/products/mednye-truby',
            '/assets/product/img/mednye-truby.jpg',
            'медные трубы',
            'медные трубы')
        +catalogItem(
            '/products/freon',
            '/assets/product/img/freon.jpg',
            'фреон',
            'фреон')
        +catalogItem(
            '/products/refnety-i-fitingi',
            '/assets/product/img/refnety-i-fitingi.jpg',
            'рефнеты и фитинги',
            'рефнеты и фитинги')
        +catalogItem(
            '/products/montazhnaya-pena',
            '/assets/product/img/montazhnaya-pena.jpg',
            'монтажная пена',
            'монтажная пена')
        +catalogItem(
            '/products/germetik',
            '/assets/product/img/germetik.jpg',
            'герметик',
            'герметик')
            