extends ../layouts/catalog.pug

block content
    .catalog__body
        +catalogItem(
            '/catalog/vozdukhovody',
            '/assets/catalog/img/vozdukhovody.jpg',
            'воздуховоды',
            'воздуховоды')
        +catalogItem(
            '/catalog/fasonnye-chasti',
            '/assets/catalog/img/fasonnye-chasti.jpg',
            'фасонные части',
            'фасонные части')