@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

html {
    font-size: 10px;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    color: $lightBlack;

    @media (max-width: 460px) {
        line-height: 1.2;
    }
}

*,
*:before,
*:after,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

input {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    color: $lightBlack;
    border: none;

    @media (max-width: 680px) {
        font-size: 1.5rem;
    }

    @media (max-width: 460px) {
        line-height: 1.2;
    }

    &[type="submit"] {
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $lightBlack;
}

.page {
    margin: 0 auto;
    min-width: 320px;

    // AOS дает скролл
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.pos-f {
    position: fixed;
}

.pos-r {
    position: relative;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-3 {
    margin-top: 30px;
}

.mt-5 {
    margin-top: 50px;

    @media (max-width: 680px) {
        margin-top: 30px;
    }
}

.banner {
    height: 40px;

    background: $lightBlack;

    @media (max-width: 380px) {
        height: 20px;
    }
}

.banner-mini {
    height: 10px;

    background: $lightBlack;
}

.message {
    position: absolute;
    top: 20px;
    left: 50%;
    display: none;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    transform: translateX(-50%);

    &.success {
        display: block;
        color: $darkGreen;
    }

    &.error {
        display: block;
        color: $red;
    }
}

.loader {
    height: 40px;

    position: absolute;
    top: 20px;
    left: 50%;
    display: none;
    transform: translateX(-50%);

    &.active {
        display: block;
    }
}

.btn {
    padding: 10px 20px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(
        90deg,
        rgba($darkGreen, 1) 0,
        rgba($lightGreen, 1) 100%
    );
    overflow: hidden;

    @media (max-width: 680px) {
        border-radius: 5px;
    }

    &--header-media {
        @media (max-width: 910px) {
            padding: 10px 15px;
        }

        @media (max-width: 680px) {
            padding: 5px 10px;
        }

        @media (max-width: 380px) {
            padding: 0;
            background: transparent;

            &::before {
                display: none;
            }
        }
    }

    &:before {
        content: "";
        width: 0;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(
            90deg,
            rgba($lightGreen, 1) 0%,
            rgba($darkGreen, 1) 100%
        );
        transition: width 0.5s ease;
    }

    &:hover:before {
        width: 100%;
    }

    &__logo {
        width: 30px;
        height: 30px;

        position: relative;
        z-index: 1;
        fill: $white;

        @media (max-width: 680px) {
            width: 20px;
            height: 20px;
        }

        &--header-media {
            @media (max-width: 910px) {
                width: 25px;
                height: 25px;
            }

            @media (max-width: 380px) {
                width: 30px;

                fill: $darkGreen;
            }
        }
    }

    &__text {
        margin-left: 15px;

        position: relative;
        z-index: 1;
        color: $white;
        font-size: 2rem;

        &--header-media {
            @media (max-width: 910px) {
                display: none;
            }
        }

        @media (max-width: 680px) {
            margin-left: 10px;
            font-size: 1.5rem;
        }
    }
}

.btn-back {
    display: inline-block;

    &__logo {
        margin-right: 10px;
        width: 25px;
        height: 25px;

        position: relative;
        top: 5px;
        left: 0;
        fill: $darkGreen;
    }

    &__text {
        cursor: pointer;
        transition: color 0.2s ease;

        &:hover {
            color: $darkGreen;
        }
    }
}
