.footer {
    padding: 30px 15px;

    display: flex;
    justify-content: space-between;
    color: $white;
    line-height: 1.2;
    background: $lightBlack;

    @media (max-width: 910px) {
        flex-direction: column;
    }

    @media (max-width: 680px) {
        font-size: 1.5rem;
    }

    a {
        color: $darkGreen;
        text-decoration: underline;
    }

    &__item {
    }

    &__address {
        height: 100%;

        font-style: initial;

        @media (max-width: 910px) {
            margin-top: 20px;
        }
    }

    &__address-item {
        display: flex;
        justify-content: flex-end;

        @media (max-width: 910px) {
            flex-direction: column;
        }

        span {
            margin-right: 20px;
            padding-right: 20px;

            border-right: 2px solid $darkGreen;

            @media (max-width: 910px) {
                display: none;
            }
        }

        p {
            margin-bottom: 5px;
        }
    }

    &__contact {
        margin-top: 20px;

        display: flex;

        span {
            margin-right: 20px;
            padding-right: 20px;

            font-size: 1.5rem;
            border-right: 2px solid $darkGreen;
        }

        p {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__logo {
        padding: 10px;

        display: inline-block;
        background: $white;
        border-radius: 3px;

        img {
            height: 15px;

            display: block;

            @media (max-width: 680px) {
                height: 10px;
            }
        }
    }
}
