.header {
    &__body {
        padding: 10px 15px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        @media (max-width: 680px) {
            display: none;
        }

        img {
            height: 15px;

            display: block;

            @media (max-width: 910px) {
                height: 10px;
            }
        }
    }
}

.nav {
    display: flex;

    @media (max-width: 910px) {
        font-size: 1.5rem;
    }

    &__link {
        margin-right: 20px;

        a {
            transition: color 0.2s ease;

            &:hover {
                color: $darkGreen;
            }

            &.active {
                color: $darkGreen;
            }
        }
    }
}
