// Theme
$white: white;
$lightBlack: #171717;
$darkGreen: #00b949;
$lightGreen: #7bdc3a;
$red: tomato;

// Media
// 1170
// 1100
// 1080
// 1020
// 980
// 910
// 780
// 680
// 580
// 470
// 460
// 380
// 360
