include ../partials/mixins.pug

section.service
    .container
        .service__body
            article.menu-catalog
                .menu-catalog__img
                    img(src='assets/service/img/kondicionirovanie.jpg' alt='кондиционирование')
                h1.menu-catalog__title Кондиционирование

            div.pos-r
                hr.service__hr
                article
                    +serviceItem('Компания ECOSYSTEM', 'active')
                        p Осуществляет установку бытовых и промышленных кондиционеров любых марок в Казани и по Татарстану, приобретенных как у нас, так и у других продавцов. Многолетний опыт, авторизованные установщики, монтажный отдел укомплектован всем необходимым оборудованием - поэтому монтаж любого уровня сложности настенных, потолочных, зональных сплит-систем проводим в сжатые сроки в любое время года.
                        p Наша компания предоставляет полный перечень услуг, связанный с установкой кондиционеров, проверкой работоспособности систем кондиционирования и сервисным обслуживанием.
                        p <b>У нас вы можете заказать:</b>
                        ul
                            li <b>1.</b> Установку настенных бытовых кондиционеров и мультисплит-систем;
                            li <b>2.</b> Установку кассетных кондиционеров;
                            li <b>3.</b> Установку канальных кондиционеров;
                            li <b>4.</b> Установку напольно-потолочных кондиционеров, в том числе консольного типа;
                            li <b>5.</b> Монтаж комплекса систем кондиционирования для офисных зданий, коммерческих или промышленных объектов;
                            li <b>6.</b> Проектирование и подбор холодильной машины типа чиллер с разводкой внутренних блоков фанкойл;
                            li <b>7.</b> Выезд на объект для предварительного расчета сметы монтажных работ;
                section
                    +serviceItem('Виды промышленных систем кондиционирования')
                        p Развитие технологий контроля климата позволило создать оборудование, способное выполнять сразу несколько функций. На производственных объектах используются:
                        ul
                            li <b>1. Мультисплит-системы (VRF/VRV).</b> Конструкция с взаимосвязанным оборудованием. Состоит из главного блока, расположенного снаружи здания, и внутренних элементов, распределяющих потоки воздуха между помещениями. При проектировании мультисплит-системы учитывается показатель температуры в рабочее время и влажность воздуха. Все устройства кондиционирования внутри предприятия подключаются к общему воздуховоду. Каждый элемент может работать независимо от других в автоматическом режиме. Настройка ведется с центрального пульта управления. Допускается использование отдельных пультов для регулировки оборудования в определенных помещениях.
                            li <b>2. Чиллеры и фанкойлы.</b> Система схожа принципом работы с VRF. Однако в качество хладагента такое оборудование использует жидкость (воду в летнее время и незамерзающее вещество в холодный период). Наличие хладагента стало причиной уникального строения конструкции. Такие системы используются преимущественно в пищевой и фармацевтической промышленности. Фанкойлы являются внутренним блоком и разделяются на: напольные, потолочные, настенные и кассетные. Количество используемых фанкойлов зависит от мощности и производительности чиллера.
                            li <b>3. Руфтопы (крышные кондиционеры).</b> Моноблочный тип оборудования, обладающий вентиляционными свойствами. Приток воздуха осуществляется через распределительные решетки. Системы используются на крупных объектах: стадионах, парковках, торговых центрах и так далее. Особенностями руфтопов является практически бесшумная работа, надежность и компактность. Установка оборудования на крыше не снижает эстетические качества фасада.
                            li <b>4. Центральные кондиционеры.</b> Неавтономный тип оборудования, работающий за счет внешнего источника холода или тепла. Система способна выполнять функции отопления, кондиционирования, вентиляции и очистки воздуха. Устройство контролирует климат в одном большом помещении или нескольких маленьких. Часто оборудование используется совместно с чиллерами.
                            li <b>5. Прецизионные кондиционеры.</b> Системы, способные выполнять строгие требования. Устройства точно соблюдают температурные режимы и показатели влажности воздуха, поэтому используются в музеях, архивах, научных лабораториях, библиотеках, химической промышленности и так далее. Основное оборудование устанавливается в специализированные шкафы, что дает возможность установки системы внутри помещений. Оборудование отличается средней мощностью (до 100 кВт). При бесперебойной работе устройства способны прослужить 15 лет.
                        p Назначение и условия эксплуатации помещений во многом влияют на выбор подходящей системы кондиционирования.
                section
                    +serviceItem('Основы организации контроля климата')
                        p В промышленных помещениях важным критерием становится комфорт во время работы и сохранность производственных изделий или материалов. Соблюдение условий влияет на самочувствие и состояние здоровья работников. По этой причине проектирование, монтаж и обслуживание оборудования выполняются только профессионалами.
                        p <b>При организации систем кондиционирования учитываются:</b>
                        ul
                            li <b>1.</b> Количество образующейся пыли в помещениях при работе;
                            li <b>2.</b> Показатели температуры;
                            li <b>3.</b> Наличие вредных или токсинных веществ в воздухе;
                            li <b>4.</b> Избыток тепловыделения;
                            li <b>5.</b> Показатель влажности воздуха;
                        p Проектирование систем основывается на вышеуказанных факторах. Для устранения негативных условий используются определенные типы конструкций и оборудования. В процессе организации также уделяется внимание бесперебойной работе и точности монтажа отдельных элементов конструкции.
                section
                    +serviceItem('Особенности и этапы проектирования')
                        p Разработка проекта влияет на производительность и эффективность будущей системы кондиционирования. Перед созданием проектной документации инженеры проводят изучение объекта и выполняют расчеты по стандартизированным математическим формулам. После проверки соответствия нормативам, создается проект с учетом внешних и внутренних тепловых воздействий.
                        p <b>К данной категории относится тепло:</b>
                        ul
                            li <b>1.</b> Поступающее с улицы в летнее время года;
                            li <b>2.</b> Образующееся в результате воздействия солнечных лучей;
                            li <b>3.</b> Выделяемое в процессе жизнедеятельность человека;
                            li <b>4.</b> Создаваемое отопительным и осветительным оборудованием;
                            li <b>5.</b> Рабочих устройств и станков на производстве;
                            li <b>6.</b> Нагретых веществ, жидкости, материалов и так далее;
                        p Все источники тепла в летний период должны быть устранены, а в зимнее время учитываться при планировании общих нагрузок на оборудование при конвекции или микроклиматическом контроле воздуха.
                        p Процесс проектирования разделяется на этапы. Для повышения качества создаваемой системы, разработка выполняется в строгом соответствии с нормативной документацией.
                        p <b>Основными этапами являются:</b>
                        ul
                            li <b>1.</b> Вычисление нормы воздухообмена для каждого помещения;
                            li <b>2.</b> Определение источников тепла в помещениях;
                            li <b>3.</b> Расчет дополнительных требований к системе кондиционирования;
                            li <b>4.</b> Подбор подходящего проекта под условия эксплуатации здания;
                            li <b>5.</b> Проведения экономического обоснования в нескольких вариантах;
                            li <b>6.</b> Сопоставление проекта с изначальными требованиями;
                            li <b>7.</b> Создание рабочего проекта;
                            li <b>8.</b> Согласование документации с заказчиком;
                        p После завершения всех этапов, проект отдается в руки монтажников, которые выполняют установку и подключение системы кондиционирования.
                section
                    +serviceItem('Критерии подбора оборудования')
                        p В процессе разработки проекта создается обоснование экономических затрат на оборудование. При выборе устройств и материалов учитываются не только общие расходы, но и минимальные требования.
                        p <b>Основными факторами выбора становятся:</b>
                        ul
                            li <b>1.</b> Особенности строения и габариты техники;
                            li <b>2.</b> Эксплуатационные свойства и характеристики (функциональность, мощность и прочее);
                            li <b>3.</b> Соблюдение санитарно-эпидемиологических норм согласно назначению сооружения;
                            li <b>4.</b> Требования к пожарной безопасности;
                            li <b>5.</b> Стоимость оборудования и бюджет заказчика;
                        p Нарушение минимальных стандартов станет причиной запрета эксплуатации производственных помещений со стороны компетентных органов власти. Излишняя экономия на оборудовании и материалах лишь увеличит общие расходы владельца предприятия.
                section
                    +serviceItem('Как снизить затраты на электроэнергию')
                        p Промышленные системы кондиционирования потребляют большое количество электроэнергии, поэтому в процессе проектирования необходимо найти способы снижения потребляемой энергии. Развитие технологий позволило создать ряд устройств, которые уменьшают затраты на электричество до 50-70%.
                        p <b>К данным технологиям относятся:</b>
                        ul
                            li <b>1.</b> Рекуператоры тепла. Системы кондиционирования на предприятиях совмещаются с вентиляцией, которая в холодное время года осуществляет нагрев воздуха. Рекуператоры используют внутреннее тепло в помещениях для подогрева воздушных потоков, снижая расходы на электроэнергию;
                            li <b>2.</b> Фрикулинги. Устройство снижает затраты при выключенном чиллере за счет использования внешних потоков воздуха для охлаждения хладагента;
                            li <b>3.</b> Абсорбционные чиллеры. Современные установки, использующие вторичные источники тепловой энергии для нагрева хладагента. В качестве источника выступают отопительные системы (горячая вода), жидкость от электростанций и прочее. Экономия энергоресурса достигает 30% зимой;
                        p Стоимость оборудования довольно высокая, однако техника окупается за короткий период времени, позволяя организации значительно сократить расходы в дальнейшем.
                section
                    +serviceItem('Особенности монтажа промышленных систем кондиционирования')
                        p Основные элементы систем для предприятий устанавливаются преимущественно на крышах или фасаде сооружения. Для конкретных типов оборудования этапы работы имеют свой порядок и нюансы.
                        p <b>Монтаж мультизональных сплит-систем VRF/VRV проводится в следующем порядке:</b>
                        ul
                            li <b>1.</b> Прокладываются фреоновые магистрали;
                            li <b>2.</b> Проверяется герметичность фреонопроводов;
                            li <b>3.</b> Устанавливается дренажная система;
                            li <b>4.</b> Монтируются внутренние блоки;
                            li <b>5.</b> На крыше или рядом с сооружением устанавливается внешний блок;
                            li <b>6.</b> Выполняется фальцовка фреоновых трубопроводов;
                            li <b>7.</b> Внутри системы создается вакуум для дополнительной проверки герметичности;
                            li <b>8.</b> В оборудование заливается фреон;
                            li <b>9.</b> Проводятся пусконаладочные работы;
                        p Современные VRV системы управляются компьютером и имеют встроенную диагностику, которая своевременно сообщает о нарушениях и неполадках в работе оборудования.
                section
                    +serviceItem('Пусконаладочные работы')
                        p После завершения монтажа инженеры проводят последние проверки работоспособности системы и сверяют соответствие характеристик расчетным цифрам.
                        p <b>В перечень работ по пуско-наладке входят:</b>
                        ul
                            li <b>1.</b> Проверка качества монтажа всех элементов системы;
                            li <b>2.</b> Выполнение регулировки параметров согласно проектным данным;
                            li <b>3.</b> Составление паспортов на инженерные системы;
                            li <b>4.</b> Создание инструкции по эксплуатации оборудования;
                            li <b>5.</b> Обучение и консультация персонала предприятия;
                        p Пусконаладочные работы являются завершающим этапом, в ходе которого устраняются все мельчайшие недостатки в работе системы кондиционирования. При этом инженеры проводят ознакомление работников организации с оборудованием для исключения возможных проблем в процессе эксплуатации и выдают рекомендации по обслуживанию техники.
                        p Специалисты монтажного отдела компании <span>Ecosystem</span> имеют многолетний опыт работы на объектах различного уровня сложности. Знание специфики отрасли, деталей, владение практическими навыками и специализированного оборудования позволяет осуществлять монтаж самого высокого качества. Ведь именно качественный профессионально выполненный монтаж – главное условие долгой безупречной работы климатического оборудования.

                        
