include ../partials/mixins.pug

section.service
    .container
        .service__body
            article.menu-catalog
                .menu-catalog__img
                    img(src='assets/service/img/naruzhnye-teplovye-seti.jpg' alt='наружные тепловые сети')
                h2.menu-catalog__subtitle Наружные тепловые сети

            div.pos-r
                hr.service__hr

                article
                    +serviceItem('Компания ECOSYSTEM', '', 'active')
                        p Предлагает дополнительные услуги по устройству и оборудованию тепловых сетей. Магистральные распределительные тепловые сети служат для передачи потребителям тепловой энергии теплоносителя для нужд отопления, ГВС и вентиляции.
                        p <b>Распределительные теплосети состоят из таких элементов, как:</b>
                        ul
                            li <b>1.</b> Непроходные каналы
                            li <b>2.</b> Подвижные и неподвижные опоры
                            li <b>3.</b> Компенсаторы
                            li <b>4.</b> Трубопроводы и запорная арматура (задвижки)
                            li <b>5.</b> Тепловые камеры
                section
                    +serviceItem('Непроходные каналы')
                        p Стенки непроходных каналов состоят из сборных блоков. Сверху на сборные блоки накладываются железобетонные плиты перекрытия. Основание дна непроходного канала делают обычно в сторону ЦТП (центральных тепловых пунктов), либо в сторону подвалов жилых домов. Но бывает так, что при неблагоприятном рельефе местности какая то часть каналов монтируется с уклоном к тепловым камерам. Швы бетонных блоков и плит заделывают, изолируют для того, чтобы в канал не попадали грунтовые и верховые воды. Во время засыпки каналов грунт необходимо тщательно утрамбовывать. Замерзшей землей засыпать канал нельзя.
                section
                    +serviceItem('Неподвижные и подвижные опоры')
                        p Опоры трубопроводов тепловой сети подразделяются на неподвижные (или как еще говорят, мертвые) и подвижные. В непроходных каналах применяют скользящие опоры. Эти опоры необходимы для передачи веса трубопроводов и обеспечения перемещения трубопроводов при их удлинении под воздействием высокой температуры теплоносителя. Для этого скользящие опоры, или как их еще называют, «скользячки» приваривают к трубопроводам, а скользят они по специальным пластинам, которые вделаны в ж/б плиты.
                        p Неподвижные или мертвые опоры необходимы для того, чтобы разделить трубопровод большой протяженности на отдельные участки. Участки эти не зависят напрямую друг от друга, и соответственно, при высоких температурах теплоносителя компенсаторы могут нормально, без видимых проблем, воспринять температурные удлинения. К неподвижным опорам предъявляются повышенные требования по надежности, ведь нагрузки на них большие. В то же время нарушение прочности и целостности мертвой (неподвижной) опоры может привести к аварийной ситуации.
                section
                    +serviceItem('Компенсаторы')
                        p Компенсаторы в тепловых сетях служат для восприятия температурного удлинения трубопроводов при их нагреве ( 1,2 мм на каждый метр при повышении температуры на 100 °С). Основная и главная задача компенсатора в теплосети — защитить трубопроводы и арматуру от «убийственных» напряжений. Как правило, для труб диаметр которых не более 200 мм применяют П-образные компенсаторы. Мне в основном приходилось сталкиваться в работе именно с такими компенсаторами. Они наиболее распространенные. Приходилось работать также и с сальниковыми компенсаторами на трубопроводах больших диаметров. Но это уже диаметры труб dy 300, 400 мм.
                        p Когда П-образные компенсаторы монтируют, их предварительно растягивают на половину температурного удлинения от той цифры, которая указана в проекте или расчете. Иначе компенсирующая способность компенсатора уменьшается в два раза. Растяжку следует производить одновременно с двух сторон в стыках, ближайших к мертвым (неподвижным) опорам.
                section
                    +serviceItem('Трубопроводы и задвижки')
                        p Для распределительных тепловых сетей применяют стальные трубы. На стыках трубопроводы соединяют при помощи электросварки. Из задвижек на тепловых сетях применяют стальные и чугунные задвижки. Мне в работе на теплосетях попадаются больше чугунные задвижки, они более распространенны.
                section
                    +serviceItem('Изоляция труб', 'mb-0')
                        p Работать мне приходится в основном с магистральными распределительными тепловыми сетями, смонтированными еще в советское время. Конечно,кое-где трубопроводы теплосетей, а соответственно и изоляцию на них, меняют в ходе капитального ремонта. Когда я несколько лет назад работал в теплоснабжающей организации, помню, что каждый год, в межотопительный период заменяли «древние» участки трубопроводов теплосети. Но все же процентов 75-80 распределительных тепловых сетей еще советских времен. Трубопроводы таких сетей покрыты антикоррозионным составом, теплоизоляцией и защитным слоем.
                        p Рулонный материал, как правило, изол. Реже - бризол. Этот материал приклеен мастикой к трубопроводу. Теплоизоляция сделана из матов минеральной ваты. Защитный слой - асбестоцементная штукатурка из смеси асбеста и цемента в пропорции 1:2, которая распределена по проволочной сетке.