.product {
    padding: 100px 0;

    &__title {
        margin-bottom: 50px;

        font-size: 4rem;
    }

    &__header {
        display: flex;
    }

    &__header-img {
        margin-right: 50px;
        padding: 20px;
        height: 100%;

        box-shadow: 0 0 10px 0 $lightBlack;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 270px;

            display: block;
        }
    }

    &__header-text {
        flex: 1;

        p {
            margin-bottom: 10px;
        }
    }

    &__body {
        margin-top: 50px;

        p {
            margin-bottom: 10px;
        }

        ul {
            margin-bottom: 10px;
        }
    }

    &__body-images {
        margin-top: 50px;

        &--flex {
            display: flex;
            flex-wrap: wrap;
        }

        h3 {
            margin-bottom: 20px;

            font-size: 2rem;
        }
    }

    &__body-group {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        img {
            margin-right: 50px;
            height: 150px;
        }
    }

    ul {
        padding-left: 40px;

        li {
            position: relative;

            &:before {
                content: "";
                width: 8px;
                height: 8px;

                position: absolute;
                top: 50%;
                left: -20px;
                transform: translateY(-50%);
                display: block;
                background: $lightBlack;
                border-radius: 50%;
            }
        }
    }
}
