.product {
    padding: 80px 0;

    @media (max-width: 680px) {
        padding: 50px 0;
    }

    @media (max-width: 460px) {
        padding: 50px 0 20px;
    }

    &__title {
        margin-bottom: 40px;

        font-size: 3rem;

        @media (max-width: 910px) {
            margin-bottom: 30px;
        }

        @media (max-width: 680px) {
            margin-bottom: 20px;

            font-size: 2.4rem;
            line-height: 1.2;
        }
    }

    &__header {
        margin-bottom: 20px;

        display: flex;
        align-items: center;

        @media (max-width: 680px) {
            display: block;
        }
    }

    &__header-img {
        margin-right: 30px;
        padding: 15px;
        height: 100%;

        box-shadow: 0 0 10px 0 $lightBlack;
        border-radius: 5px;

        @media (max-width: 680px) {
            margin: 0 15px 5px 0;

            float: left;
        }

        @media (max-width: 460px) {
            margin: 0 0 5px 0;

            display: inline-block;
            float: none;
        }

        img {
            width: 200px;

            display: block;

            @media (max-width: 680px) {
                width: 100px;
            }

            @media (max-width: 460px) {
                width: 150px;
            }
        }
    }

    &__body {
        @media (max-width: 460px) {
            margin-top: 10px;
        }

        h3 {
            margin: 20px 0 10px;

            font-size: 2rem;
        }

        p {
            @media (max-width: 680px) {
                font-size: 1.5rem;
            }

            @media (max-width: 460px) {
                margin-bottom: 5px;
            }
        }

        ul {
            @media (max-width: 460px) {
                margin-bottom: 5px;
            }
        }
    }

    &__body-images {
        margin-top: 20px;

        @media (max-width: 910px) {
            margin-top: 20px;
        }

        h3 {
            margin-bottom: 20px;

            font-size: 2rem;

            @media (max-width: 460px) {
                display: none;
            }
        }
    }

    &__body-group {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: 460px) {
            width: 100%;

            &:last-child {
                margin-bottom: 20px;
            }
        }

        div {
            margin-right: 20px;

            @media (max-width: 460px) {
                margin-right: 0;
            }
        }

        img {
            height: 150px;

            display: block;
            border-radius: 5px;

            @media (max-width: 680px) {
                height: 100px;
            }

            @media (max-width: 460px) {
                width: 80%;
                height: auto;
            }
        }

        i {
            margin: 10px 0 20px;

            display: block;
            font-size: 1.5rem;
        }
    }

    ul {
        padding-left: 40px;

        list-style: disc;

        @media (max-width: 680px) {
            font-size: 1.5rem;
        }
    }
}
