article.about
    .container
        .about__content(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true')
            h1.about__title <span>Ecosystem</span> занимается производством и поставкой:
            ul
                li
                    <a href='catalog/vozdukhovody'>Воздуховодов</a>
                li
                    <a href='catalog/fasonnye-chasti'>Фасонных изделий</a>
                li
                    <a href='catalog/komplektuyushchie'>Комплектующих</a>
                li
                    <a href='catalog/raskhodnye-materialy'>Расходных материалов</a>
                li
                    <a href='#'>Деталей для систем вентиляции</a>
                li
                    <a href='#'>Блоков управления и автоматизации</a>

            p И многой другой продукцией - ознакомиться с которой можно в <a href='catalog'>каталоге</a>