article.about
    .container.d-flex
        .about__content(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true')
            h1.about__title <span>Ecosystem</span> занимается производством и поставкой:
            ul
                li
                    <a href='catalog/vozdukhovody'>Воздуховодов</a>
                li
                    <a href='catalog/fasonnye-chasti'>Фасонных изделий</a>
                li
                    <a href='catalog/komplektuyushchie'>Комплектующих</a>
                li
                    <a href='catalog/raskhodnye-materialy'>Расходных материалов</a>
                li
                    <a href='#'>Деталей для систем вентиляции</a>
                li
                    <a href='#'>Блоков управления и автоматизации</a>

            p И многой другой продукцией - ознакомиться с которой можно в <a href='catalog'>каталоге</a>

        //- .about__slider
        //-     .about__slider-row
        //-         .about__slider-item
        //-             img(src='assets/home/img/slide-1.jpg', alt='')
        //-             img(src='assets/home/img/slide-1.jpg', alt='')
        //-         .about__slider-item
        //-             img(src='assets/home/img/slide-2.jpg', alt='')
        //-             img(src='assets/home/img/slide-2.jpg', alt='')
        //-         .about__slider-item
        //-             img(src='assets/home/img/slide-3.jpg', alt='')
        //-             img(src='assets/home/img/slide-3.jpg', alt='')
        //-         .about__slider-item
        //-             img(src='assets/home/img/slide-4.jpg', alt='')
        //-             img(src='assets/home/img/slide-4.jpg', alt='')
        //-         .about__slider-item
        //-             img(src='assets/home/img/slide-5.jpg', alt='')
        //-             img(src='assets/home/img/slide-5.jpg', alt='')