section.client
    .container
        h1.client__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Одни из наших заказчиков

        .client__line(data-aos='fade-left' data-aos-duration='1000' data-aos-once='true')

        .client__body
            //- +clientDescr(
            //-     'client__descr-1',
            //-     'Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur at, iusto dolores nihil repellat perferendis maxime error sint sunt sed est dolore tempora et provident ab voluptatem reprehenderit officia! Sequi.'
            //- )
            +clientItem(
                'client__descr-1',
                'assets/home/img/mosinzhproekt.jpg',
                'логотип мосинжпроект',
                'Мосинжпроект – лидер на строительном рынке Москвы и один из крупнейших инжиниринговых холдингов России.')
            +clientItem(
                'client__descr-2',
                'assets/home/img/moskovskij-metropoliten.jpg',
                'логотип московский метрополитен',
                'Московский метрополитен является исторически первым и крупнейшим метрополитеном в СССР, России и странах СНГ.')
            +clientItem(
                'client__descr-3',
                'assets/home/img/transneft.jpg',
                'логотип транснефть',
                'Транснефть - одна из крупнейших компаний в области транспортировки нефти и нефтепродуктов.')
            +clientItem(
                'client__descr-4',
                'assets/home/img/infekcionnaya-bolnica.jpg',
                'логотип республиканская клиническая больница им. проф. а.ф.агафонова',
                'Республиканская клиническая инфекционная поликлиника им. проф. А. Ф. Агафонова.')
            +clientItem(
                'client__descr-5',
                'assets/home/img/mcdonald-s.jpg',
                'логотип макдональдс',
                'Крупнейшая в мире сеть ресторанов быстрого питания, работающая по системе франчайзинга.')
            +clientItem(
                'client__descr-6',
                'assets/home/img/vtb.jpg',
                'логотип втб',
                'Банк ВТБ - российский универсальный коммерческий банк c государственным участием.')