section.client
    .container
        h1.title.title--c-white(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Одни из наших заказчиков

        .title__line.title__line--bg-white(data-aos='fade-left' data-aos-duration='1000' data-aos-once='true')

        .client__body
            +clientItem(
                'assets/home/img/mosinzhproekt.jpg',
                'логотип мосинжпроект',
                'Мосинжпроект – лидер на строительном рынке Москвы и один из крупнейших инжиниринговых холдингов России.')

            +clientItem(
                'assets/home/img/moskovskij-metropoliten.jpg',
                'логотип московский метрополитен',
                'Московский метрополитен является исторически первым и крупнейшим метрополитеном в СССР, России и странах СНГ.')

            +clientItem(
                'assets/home/img/transneft.jpg',
                'логотип транснефть',
                'Транснефть - одна из крупнейших компаний в области транспортировки нефти и нефтепродуктов.')
            +clientItem(
                'assets/home/img/infekcionnaya-bolnica.jpg',
                'логотип республиканская клиническая больница им. проф. а.ф.агафонова',
                'Республиканская клиническая инфекционная поликлиника им. проф. А. Ф. Агафонова.')
            +clientItem(
                'assets/home/img/mcdonald-s.jpg',
                'логотип макдональдс',
                'Крупнейшая в мире сеть ресторанов быстрого питания, работающая по системе франчайзинга.')
            +clientItem(
                'assets/home/img/vtb.jpg',
                'логотип втб',
                'Банк ВТБ - российский универсальный коммерческий банк c государственным участием.')