form#form.form(method='POST' encType='multipart/form-data')
    .container
        h1.title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Заявка на расчет

        .title__line(data-aos='fade-left' data-aos-duration='1000' data-aos-once='true')

        .form__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
            .form__item
                p#form-message.message
                img#form-loader.loader(src='assets/loader.gif' alt='загрузка')

                +formGroup('name', '* Имя', 'text', 'name', 'required')
                +formGroup('phone', '* Телефон', 'tel', 'phone', 'required')
                +formGroup('email', '* Email', 'email', 'email', 'required')
                +formGroup('file', 'Файл', 'file', 'file')
                input(id='isFormStatement' name='isFormStatement' type='hidden' value='isFormStatement')

                .form__btn-submit
                    input(type='submit' value='Отправить')

            .form__text
                p Заполните форму заявки и в ближайшее время менеджер вам перезвонит
                p Позвоните нам и получите эксклюзивное предложение на системы вентиляции
                span с 8:00 до 20:00
                p
                    a(href='tel:+78435052775') +7(843)505-27-75
                p
                    a(href='tel:+79395052775') +7(939)505-27-75