form#form.form(action='/emails/statement' method='POST')
    .container
        h1.form__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Заявка на расчет вентиляции

        .form__line(data-aos='fade-left' data-aos-duration='1000' data-aos-once='true')

        .form__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
            .form__item
                p#form-message.message
                img#form-loader.loader(src='assets/loader.gif' alt='загрузка')

                +formGroup('name', 'Имя', 'text', 'name')
                +formGroup('phone', 'Телефон', 'tel', 'phone')
                +formGroup('email', 'Email', 'email', 'email')

                a#form-btn.btn.mt-5(href='#')
                    svg.btn__logo
                        use(xlink:href='#letter')
                    p.btn__text Отправить

            .form__text
                p Заполните форму заявки и в ближайшее время менеджер вам перезвонит
                p Позвоните нам и получите эксклюзивное предложение на системы вентиляции
                p +7(843)505-27-75
                p +7(939)505-27-75