section.production
    .container
        h1.title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Производство систем вентиляции в Казани

        .title__line(data-aos='fade-left' data-aos-duration='1000' data-aos-once='true')

        +productionItem(
            'assets/home/img/production.jpg',
            'вентиляционные изделия',
            'Компания специализируется',
            'на оптовой и розничной продаже вентиляции как для дома, так и для офиса. Проектирование, монтаж, эксплуатация внутренних инженерных сетей и монтаж металлоконструкций по Москве, Московской области и республике Татарстан.',
            'За время работы у нас сложились партнерские отношения с ведущими производителями, позволяющие предлагать высококачественную продукцию по конкурентоспособным ценам.'
        )
        +productionItem(
            'assets/home/img/equipment.jpg',
            'плазма',
            'Собственное производство',
            'оборудованное станками ведущих мировых производителей, позволяет изготавливать продукцию с высокой точностью и в кратчайшие сроки.',
            'Использование производительных станков и отлаженная технология, являются основой для выпуска и поставки высококонкурентной продукции.'
        )
        +productionItem(
            'assets/home/img/accessories.jpg',
            'вентиляционные детали',
            'Комплексные поставки',
            'широкого спектра вентиляционного оборудования, кондиционеров, комплектующих для кондиционирования и вентиляции, а также инструмента для установки и монтажа оборудования.',
            'Поставлять продукцию высокого качества, комплексно, учитывая интересы и потребности клиентов, сроки и цены - наша основная задача.'
        )