section.warranty
    .container
        h1.warranty__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Наши гарантии

        .warranty__line(data-aos='fade-left' data-aos-duration='1000' data-aos-once='true')

        .warranty__body
            +itemWarranty('#dollar',
                'Выгодные условия',
                '0')

            +itemWarranty('#lamp',
                'индивидуальный подход',
                '200')

            +itemWarranty('#loupe',
                'широкая линейка продукции',
                '400')

            +itemWarranty('#clock',
                'оперативная обработка заявок',
                '600')