.catalog {
    padding: 100px 0;

    background: linear-gradient(
        90deg,
        rgba($darkGreen, 1) 0,
        rgba($lightGreen, 1) 50%,
        rgba($white, 1) 100%
    );

    &__title {
        margin-bottom: 50px;

        font-size: 4rem;
        color: $white;
    }

    &__body {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        margin: 10px;
        padding: 20px;
        width: 270px;

        border-radius: 10px;
        box-shadow: 0 0 10px 0 $lightBlack;
        background: $white;

        &:hover .catalog__item-img {
            transform: scale(1.05);
        }
    }

    &__item-img {
        margin: 0 auto 40px;
        height: 150px;

        display: block;
        transition: all 0.5s ease;
    }

    &__item-text {
        h2 {
            text-align: center;
            font-size: 1.6rem;
            text-transform: uppercase;
        }
    }
}
