section.services
    .container
        .services__body
            article.menu-catalog.menu-catalog--services-media
                .menu-catalog__content
                    h1.menu-catalog__title Наша продукция

                    ul
                        li
                            a(href='/catalog/vozdukhovody') Воздуховоды
                        li
                            a(href='/catalog/fasonnye-chasti') Фасонные части
                        li
                            a(href='/catalog/komplektuyushchie') Комплектующие

            div
                article.services__item
                    h2 Компания ECOSYSTEM<span class='services__arrow-wrapper'><span class='services__arrow active' data-id_parent_node='s-item-cont-1' data-id_child_node='s-item-cont-1-height'></span></span>
                    .services__item-content.active#s-item-cont-1
                        #s-item-cont-1-height
                            p Предлагает дополнительные услуги по проектированию, пуско-наладке, паспортизации и монтажу систем вентиляции. Наши специалисты имеют большой опыт проведения подобных работ и в короткие сроки сумеют выполнить любую задачу. Обращайтесь к менеджерам компании, мы возьмем все заботы по установке оборудования на себя.

                section.services__item
                    h2 Проектирование систем вентиляции<span class='services__arrow-wrapper'><span class='services__arrow' data-id_parent_node='s-item-cont-2' data-id_child_node='s-item-cont-2-height'></span></span>
                    .services__item-content#s-item-cont-2
                        #s-item-cont-2-height
                            p Команда квалифицированных специалистов <span>Ecosystem</span> осуществляет проектирование систем вентиляции и кондиционирования на профессиональном уровне. Мы разрабатываем проект вентиляции под каждое помещение индивидуально, а не используем готовые решения. Например, не может быть одинаковой системы вентиляции у жилого дома и спортивного объекта, или у торгового центра и офиса.
                            p Профессиональное проектирование систем вентиляции – это наш профиль! Наши специалисты произведут полный комплекс работ, чтобы здание соответствовало санитарно-техническим нормам. Мы подробно изучим Ваше помещение и обеспечим оптимальную, комфортную систему циркуляции воздуха. Также проектирование вентиляции и кондиционирования в обязательном порядке предполагает проведение расчетов и их документирование.

                section.services__item
                    h2 Пуско - наладка<span class='services__arrow-wrapper'><span class='services__arrow' data-id_parent_node='s-item-cont-3' data-id_child_node='s-item-cont-3-height'></span></span>
                    .services__item-content#s-item-cont-3
                        #s-item-cont-3-height
                            p Компания <span>Ecosystem</span> осуществляет проверку ключевых показателей вентиляционного оборудования на предмет соответствия составленному проекту. Мы производим отладку всей системы вентиляции и отдельных её элементов и гарантируем эффективную работу оборудования на время всего эксплуатационного периода. Регулировка вентиляционных систем – это важный этап в подготовке работы устройства, а потому его не стоит игнорировать.

                section.services__item
                    h2 Паспортизация систем вентиляции<span class='services__arrow-wrapper'><span class='services__arrow' data-id_parent_node='s-item-cont-4' data-id_child_node='s-item-cont-4-height'></span></span>
                    .services__item-content#s-item-cont-4
                        #s-item-cont-4-height
                            p Данная услуга предполагает документирование вентиляционное системы и проведение аэродинамических испытаний с занесением соответствующих записей в паспорт технического устройства. Процедура проводится один раз, если систему вентиляции коренным образом не перестраивают. Результатом процедуры является выдача паспорта – основного документа вентиляционной системы для работы с инспектирующими органами.

                section.services__item
                    h2 Монтаж вентиляции<span class='services__arrow-wrapper'><span class='services__arrow' data-id_parent_node='s-item-cont-5' data-id_child_node='s-item-cont-5-height'></span></span>
                    .services__item-content#s-item-cont-5
                        #s-item-cont-5-height
                            p Компания <span>Ecosystem</span> предлагает свои услуги по монтажу систем вентиляции. Мы занимаемся установкой данного оборудования более 10 лет, имеет значительный опыт проектирования систем всех типов и любой сложности. Монтаж систем вентиляции и кондиционирования производится в короткие сроки и по доступным ценам. Поручите задачи, которые требуют профессионального подхода, нам и больше не беспокойтесь о схемах, расчетах и документировании оборудования.
                            p Сотрудники нашей компании учтут все Ваши пожелания при монтаже вентиляции и кондиционирования, обеспечат грамотное выполнение всех работ и помогут настроить оптимальный микроклимат в помещении. Кроме того, Вы можете обращаться к нашим специалистам за регулярным обслуживанием своих систем (чистка, проверка, ремонт оборудования).