.about {
    padding: 80px 0;

    position: relative;
    background: center / cover no-repeat
        url("../../../assets/home/img/tubes.jpg");
    background-attachment: fixed;

    @media (max-width: 680px) {
        padding: 50px 0;
    }

    &:before {
        content: "";
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        background: rgba($lightBlack, 0.7);
    }

    &__content {
        padding: 50px;
        width: 50%;

        font-size: 2rem;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background: $white;

        @media (max-width: 1200px) {
            width: 100%;

            border-radius: 5px;
        }

        @media (max-width: 680px) {
            font-size: 1.5rem;
        }

        @media (max-width: 460px) {
            padding: 30px;
        }
    }

    &__title {
        margin-bottom: 10px;

        font-size: 2.4rem;
        line-height: 1.2;

        @media (max-width: 680px) {
            font-size: 2rem;
        }

        span {
            color: $darkGreen;
        }
    }

    ul {
        padding: 10px 0 10px 40px;

        display: inline-block;
        list-style: disc;
        border-top: 2px solid $darkGreen;
        border-bottom: 2px solid $darkGreen;

        li {
            @media (max-width: 680px) {
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        a {
            font-weight: bold;
            transition: color 0.2s ease;

            &.active {
                color: $darkGreen;
            }
        }
    }

    p {
        margin-top: 10px;

        font-weight: bold;
        line-height: 1.2;

        a {
            color: $darkGreen;
            text-decoration: underline;
        }
    }

    &__slider {
        width: 50%;
        height: 500px;

        border-top: 10px solid $white;
        border-right: 10px solid $white;
        border-bottom: 10px solid $white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background: $white;
        overflow: hidden;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    &__slider-col {
        position: relative;
        top: 0;
        left: 0;

        transition: top 0.2s ease;
    }

    &__slider-item {
        height: 500px;

        img {
            height: 100%;
        }
    }
}
