.client {
    padding: 80px 0;

    @media (max-width: 680px) {
        padding: 50px 0;
    }

    background: linear-gradient(
        90deg,
        rgba($darkGreen, 1) 0,
        rgba($lightGreen, 1) 50%,
        rgba($white, 1) 100%
    );

    &__body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 10px;
        width: 32%;

        cursor: pointer;

        @media (max-width: 910px) {
            width: 49%;
        }

        @media (max-width: 680px) {
            p {
                font-size: 1.5rem;
            }
        }

        @media (max-width: 460px) {
            width: 100%;
        }
    }

    &__item-logo {
        padding: 20px;
        height: 100%;

        border-radius: 5px;
        background: $white;
        box-shadow: 0 0 10px 0 $lightBlack;
    }

    &__img {
        margin-bottom: 10px;
        height: 30px;

        @media (max-width: 910px) {
            height: 25px;
        }

        @media (max-width: 680px) {
            height: 20px;
        }

        img {
            height: 100%;
        }
    }
}
