.clients {
    padding: 100px 0;

    background: linear-gradient(
        90deg,
        rgba($darkGreen, 1) 0,
        rgba($lightGreen, 1) 50%,
        rgba($white, 1) 100%
    );

    &__title {
        margin-bottom: 20px;

        font-size: 4rem;
        text-align: center;
        color: $white;
    }

    &__line {
        margin: 0 auto 40px;
        width: 50px;
        height: 4px;

        background: $white;
    }

    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin: 10px;
        padding: 20px;
        width: 350px;

        border-radius: 10px;
        background: $white;
        box-shadow: 0 0 10px 0 $lightBlack;
        cursor: pointer;

        &.active {
            opacity: 0;
        }
    }

    &__item-descr {
        padding: 20px;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        display: none;
        background: $white;
        border-radius: 10px;

        &.active {
            display: block;
        }
    }

    &__item-descr-close {
        cursor: pointer;
    }

    &__img {
        margin-bottom: 10px;
        height: 30px;

        img {
            height: 100%;
        }
    }
}
