.form {
    padding: 100px 0;

    @media (max-width: 680px) {
        padding: 50px 0;
    }

    &__title {
        margin-bottom: 20px;

        font-size: 4rem;
        text-align: center;

        @media (max-width: 910px) {
            font-size: 3rem;
        }

        @media (max-width: 680px) {
            margin-bottom: 10px;

            font-size: 2.4rem;
        }
    }

    &__line {
        margin: 0 auto 50px;
        width: 50px;
        height: 4px;

        background: $lightBlack;

        @media (max-width: 680px) {
            margin: 0 auto 30px;
            width: 30px;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 780px) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__item {
        padding: 50px;
        width: 500px;
        min-width: 400px;

        position: relative;
        box-shadow: 0 0 10px 0 $lightBlack;
        background: $white;
        border-radius: 20px;

        @media (max-width: 780px) {
            margin-bottom: 30px;
        }

        @media (max-width: 460px) {
            padding: 30px;
            width: 100%;
            min-width: auto;

            border-radius: 10px;
        }
    }

    &__group {
        margin-bottom: 30px;

        display: flex;
        flex-direction: column;

        &:last-of-type {
            margin-bottom: 0;
        }

        @media (max-width: 680px) {
            font-size: 1.5rem;
        }

        input {
            padding: 10px;

            outline: none;
            border: none;
            border-bottom: $lightBlack 2px solid;

            @media (max-width: 680px) {
                padding: 5px;
            }
        }
    }

    &__text {
        margin-left: 30px;
        padding: 50px;
        width: 500px;

        border: $lightBlack 2px dashed;
        border-radius: 20px;

        @media (max-width: 780px) {
            margin-left: 0;
        }

        @media (max-width: 680px) {
            font-size: 1.5rem;
        }

        @media (max-width: 460px) {
            padding: 30px;
            width: 100%;

            border-radius: 10px;
        }

        p {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
