.form {
    padding: 80px 0;

    @media (max-width: 680px) {
        padding: 50px 0;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 780px) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__item {
        padding: 50px;
        width: 500px;
        min-width: 400px;

        position: relative;
        box-shadow: 0 0 10px 0 $lightBlack;
        background: $white;
        border-radius: 5px;

        @media (max-width: 780px) {
            margin-bottom: 30px;
        }

        @media (max-width: 460px) {
            padding: 30px;
            width: 100%;
            min-width: auto;
        }
    }

    &__group {
        margin-bottom: 30px;

        display: flex;
        flex-direction: column;

        @media (max-width: 680px) {
            font-size: 1.5rem;
        }

        input {
            padding: 10px;

            outline: none;
            border: none;
            border-bottom: $lightBlack 2px solid;

            &[type="file"] {
                cursor: pointer;
            }

            @media (max-width: 680px) {
                padding: 5px;
            }
        }
    }

    &__btn-submit {
        padding-top: 10px;

        display: flex;
        justify-content: flex-end;

        input {
            padding-bottom: 2px;

            color: $darkGreen;
            line-height: 1;
            outline: none;
            background: none;
            border-bottom: $darkGreen 2px solid;
        }
    }

    &__text {
        margin-left: 30px;
        padding: 50px;
        width: 500px;

        border: $lightBlack 2px dashed;
        border-radius: 5px;

        @media (max-width: 780px) {
            margin-left: 0;
        }

        @media (max-width: 680px) {
            padding: 30px;

            font-size: 1.5rem;
        }

        @media (max-width: 460px) {
            width: 100%;
        }

        p {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: $darkGreen;
                text-decoration: underline;
            }
        }

        span {
            margin: 20px 0 10px;
            padding-top: 20px;

            display: block;
            font-size: 1.5rem;
            border-top: 2px solid $darkGreen;
        }
    }
}
