extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Алюминиевый скотч

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/alyuminievyj-skotch.jpg' alt='алюминиевый скотч')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Клейкая алюминиевая лента, которую чаще всего называют скотчем, представляет собой фольгу из алюминия с клеевым слоем. Клеевая основа располагается на моносиликонизированной прокладке из бумаги. Специалисты компании Ecosystem применяют такой скотч в следующих ситуациях:
                ul
                    li Соединение стыков узлов, панелей, труб во время монтажных, строительных и ремонтных работ;
                    li Защита деталей оборудования от проникновения влаги, пыли, пара, грязи;
                    li Обеспечение антикоррозийной защиты;
                    li Герметизация и соединение стыков труб при монтаже вентиляционного оборудования;
                p Эта лента имеет отличную отражающую способность, а также хорошую теплопроводность. Это позволяет отражать ультрафиолетовые лучи и защищать пластиковые детали от высоких температурных нагрузок.
                p Правила применения алюминиевого скотча:
                ul
                    li Проверьте поверхность скотча на сухость, отсутствие жира и загрязнений;
                    li Отделите ленту от основы и прикрепите на необходимую поверхность;
                    li Не используйте скотч, если влажность в помещении выше 100%;
                    li Одна и та же часть ленты не предназначена для повторного использования;