extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Анкера

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/anker-zabivnoj.jpg' alt='анкер забивной')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Наиболее универсальным элементом, позволяющим надежно закрепить различные предметы на поверхности стен, потолка или пола, является анкер забивной латунный, который для обеспечения эффективности его использования необходимо правильно подобрать. В отличие от этого крепежного изделия, анкер забивной стальной используется в тех случаях, когда требуется выполнить крепление предметов, отличающихся критически большой массой.
                h3 Устройство и сферы применения
                p Анкеры, забиваемые в элементы строительных конструкций, – это изделия, за счет которых на таких конструкциях закрепляются различные предметы, обладающие даже значительной массой. В отличие от дюбелей, с которыми часто путают забивные анкеры, последние отличаются более сложной конструкцией, что и позволяет им обеспечивать высочайшую надежность крепления. Основным элементом конструкции такого анкера является забиваемый элемент (поэтому его и путают с дюбелем), в который затем вкручивают шпильку или болт, на которых фиксируется закрепляемый предмет.
                p Дюбельный крепеж, который может быть изготовлен даже из пластика, используют для фиксации различных предметов, обладающих небольшой массой, в конструкциях, выполненных из пористых материалов. Крепление предметов при использовании дюбельных элементов выполняется с помощью шурупов, которые вкручиваются в такие элементы насквозь. Несмотря на высокую эффективность и простоту использования этих крепежей, использовать их для фиксации слишком тяжелых предметов нельзя, так как они не обеспечат требуемую надежность крепления.
                p Конструктивными элементами анкера забивного типа являются:
                ul
                    li Металлическая втулка, на боковой поверхности которой выполнены специальные прорези;
                    li Втулка, которая располагается на распорном элементе;
                    li Непосредственно сам распорный элемент;
                p В зависимости от назначения анкеры данного типа могут изготавливаться из высокопрочного метала или обычной углеродистой стали. Поверхность таких изделий может подвергаться дополнительной обработке, что позволяет надежно защитить их от коррозии и продлить срок эксплуатации. Большой популярностью также пользуется латунный анкер, отличающийся достаточно высокой прочностью и исключительной устойчивостью к воздействию агрессивных сред. Кроме того, анкер латунный обладает высокой пластичностью, что значительно облегчает монтаж такого крепежного изделия.
                p Чтобы обеспечить высокую прочность и, соответственно, надежность анкеров забивного типа, их изготавливают из сплошного материала. Элементы, из которых они выполнены, не содержат сварных соединений. Внутреннее резьбовое отверстие в анкерах забивного типа имеет коническую форму, а на их боковых поверхностях выполняются прорези, которые подвергаются специальной обработке. Такие прорези на боковой части забивного анкера необходимы для того, чтобы сформировать лепестки, выступающие в роли распорных плеч.
                p В тот момент, когда во внутреннюю часть анкера вводится распорный элемент, он воздействует на стенки конусного отверстия, и лепестки разжимаются, обеспечивая надежное сцепление крепежного изделия с конструкцией, в которой оно размещено. Учитывая тот факт, что распорные элементы анкера подобного типа создают значительное давление на внутренние стенки отверстия, использовать такие изделия рекомендуется для крепежа различных предметов на конструкциях, изготовленных из плотных и прочных материалов (бетон, натуральный камень и др.).
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/silvestr-stallone-na-skale.jpg' alt='сильвестр сталлоне на скале')
                h3 Основные разновидности
                p Современные производители выпускают не так много разновидностей анкера забивного типа, который также имеет название «анкер-цанга». Так, анкеры данного типа разделяются на различные типы по двум основным параметрам:
                ul
                    li По материалу изготовления: стальной и латунный;
                    li По наличию специальных насечек на внешней поверхности: с насечками и без них;
                p Более доступными с точки зрения стоимости являются анкеры забивного типа, изготовленные из стальных сплавов. Такие изделия, кроме того, отличаются более высокой прочностью, если сравнивать их с латунными крепежами. Однако большим недостатком стальных забивных анкеров является то, что для придания им коррозионной устойчивости их поверхность необходимо покрывать защитными составами (например, выполнять их оцинковку). Латунный крепеж в таких процедурах не нуждается.
                p Анкер латунный, как и аналогичное изделие из стали, применяют для крепления предметов на конструкциях из различных строительных материалов: кирпича, бетона, натурального камня и др. Между тем следует учитывать, что латунные крепежи не способны выдержать значительные вертикальные нагрузки, так как латунь обладает достаточно высокой пластичностью, если сравнивать ее со стальными сплавами.
                p Существует также особенность выбора забивных анкеров для бетонных строительных конструкций, которые уже покрылись трещинами. В этом случае допустимую нагрузку на такие элементы, составляющую 25% от максимально допустимой, необходимо дополнительно умножить на коэффициент, равный 0,6.
                h3 Забивные анкеры с насечками и без
                p Латунный анкер забивного типа, на внешней поверхности которого имеются специальные насечки, – это полый цилиндр с внутренней резьбой. Такие анкеры часто сравнивают с цангой, потому что их рабочий наконечник выполнен в виде распорной зоны, составленной из четырех сегментов, которые сформированы продольными вырезами. Насечки на внешней поверхности латунного или стального изделия, непосредственно контактирующей с внутренними стенками отверстия, обеспечивают лучшее сцепление и, следовательно, более надежное крепление фиксируемого предмета.
                p К достоинствам анкеров данного типа следует отнести:
                ul
                    li Простоту использования;
                    li Отсутствие необходимости в применении специального оборудования и наличии специальных навыков у работника, выполняющего монтажные работы;
                    li Доступную стоимость;
                    li Высокую надежность и долговечность крепления;
                p Латунные анкерные изделия с насечками на внешней поверхности успешно используются при выполнении как строительных, так и ремонтных работ. С помощью таких изделий выполняют крепеж как элементов строительных конструкций из различных материалов, так и мебели, предметов интерьера и бытовой техники. Вес предметов, закрепляемых при помощи таких забивных анкеров, может быть очень значительным. Главное, что следует учитывать при использовании таких крепежей, – это правильный расчет нагрузки, которую они способны гарантированно выдержать.
                p Конструкция латунных забиваемых анкеров, на внешнюю поверхность которых не нанесены насечки, практически ничем не отличается от устройства крепежных изделий с насечками. Из-за того, что внешняя поверхность таких изделий, контактирующая с внутренними стенками отверстия, гладкая, они не способны выдерживать значительные нагрузки. Именно поэтому такие латунные крепежи применяют при монтаже предметов, отличающихся небольшим весом. Так, при помощи забивных анкеров с гладкой поверхностью можно выполнять монтаж негабаритных предметов интерьера, а также конструкций, изготовленных из легкого пластика или древесины.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/montazh-ankera.jpg' alt='монтаж анкера')
                h3 Особенности монтажа
                p Перед тем как приступить к монтажу латунного анкера забивного типа (анкера-цанги), необходимо подготовить для него отверстие, диаметр которого должен быть таким, чтобы крепеж входил в него практически впритирку.
                p Чтобы обеспечить надежную фиксацию латунного анкера в стене, потолке или любой другой строительной конструкции, подготовленное для него отверстие необходимо тщательно очистить от строительного мусора, для чего можно воспользоваться обычной медицинской грушей или пылесосом. Для более тщательной очистки также можно использовать ершик соответствующего диаметра.
                p После того как отверстие для крепежа подготовлено, в него необходимо до упора вставить сам анкер. Для этого лучше использовать молоток, при помощи которого вы не только забьете анкер на требуемую глубину, но и расклините его рабочую часть, разделенную прорезями на четыре сегмента.
                p После того как расклиненный распорным элементом своей конструкции анкер надежно зафиксируется в отверстии, в него можно вкрутить болт или шпильку и закрепить на них требуемый предмет.
                include ../partials/info-service.pug