extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Быстросъемные хомуты MX

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/bystrosemnye-khomuty-mx.jpg' alt='быстросъемные хомуты mx')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Быстросъёмные хомуты позволяют быстро и эффективно монтировать элементы систем вентиляции и кондиционирования. При помощи хомутов удобно крепить воздуховоды к стенам, потолку и друг к другу.
                p Оцинкованная сталь надежна и долговечна в эксплуатации, защищена от коррозии. Слой микропористой резины заметно снижает вибрацию.

            include ../tables/bystrosemnye-khomuty-mx.pug