extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Диффузоры

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/diffuzory.jpg' alt='диффузоры')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Диффузор для системы вентиляции – это приспособление, которое снаружи имеет форму решетки. Предназначение данного агрегата – равномерное распределение входящих и выходящих воздушных масс помещения. Разделяют три вида приспособлений, способствующих рассеиванию потоков воздуха:
                ul
                    li Приточный;
                    li Вытяжной;
                    li Приточно-вытяжной (универсальный);
                p Предназначение таких приспособлений - равномерное распределения воздушных потоков от кондиционера либо вентилятора через воздушные каналы в помещение.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/dva-yajca.jpg' alt='два яйца')
                h3 Разница между диффузором и вентрешеткой
                p Разница между этими приспособлениями лишь в конструкции и интенсивности движения воздуха.
                p Во время расчета и проектирования оборудования для рассеивания воздушных потоков учитывается циркуляция воздуха. Поэтому расположение лопастей и перегородок конструкции проводится так, чтобы потоки воздуха максимально эффективно перемешивались и равномерно распределялись по пространству комнаты.
                p Диффузор, как и вентиляционные решетки, способствует более интенсивному притоку воздуха к воздуховодам от кондиционера, только делает это в более замедленной и плавной форме.
                h3 Применение и принцип работы диффузора для вентиляции
                p Воздухораспределитель можно использовать для систем вентиляции помещений любого предназначения - жилых домах, офисах, на производстве. С помощью этих приспособлений можно:
                ul
                    li Устранять сквозняки. Сквозняки оказывают негативное влияние на здоровье людей. Особо подвержены их влиянию люди со слабым иммунитетом. Возникают они в результате того, что потоки воздушных масс образуют единую струю.  Такое явление устраняет приточный воздухораспределитель. Он способствует расхождению и рассеиванию потока воздуха;
                    li Эффективное проветривание. Если в вентиляционной системе отсутствуют агрегаты, с помощью которых можно рассеять потоки воздушных масс проветривается только тот участок помещения, в котором циркулирует воздух, так как приток воздуха проводиться струйным методом. При проветривании с помощью воздухораспределителя струйный поток воздуха равномерно рассеивается по всему пространству помещения. Рассеивание в основном осуществляется по вихревому принципу. А вентиляционные дефлекторы способствуют снижению интенсивности  перемещения воздуха по гибкому воздуховоду, либо ускорить продвижения попавших в отточную систему воздушных масс;
                    li Модернизировать систему вытяжки. Для модернизации вытяжной системы используют отточные (вытяжные) диффузоры. Их монтируют в вентиляционную систему. Без наличия воздухораспределителя вытяжная конструкция хоть и разряжает воздушные массы, но при этом все равно происходит образование струй воздушных потоков. Этот фактор негативно отражается на атмосфере помещения. Плюс ко всему объем отточного воздуха, поступающего в отверстие для вытяжки, напрямую зависит от изменений направленности его потока – чем больше изменение, тем меньше пропускная способность. С помощью воздухорассеивателя такую проблему можно решить;
                    li Контролировать воздушные потоки. Контролировать приток/отток воздушных потоков с помощью диффузора можно осуществлять специально настроенным  пультом управления. Таким образом, можно обеспечить дополнительный комфорт и предотвратить образование сквозняков либо некачественное проветривание. Еще одним достоинством этого приспособления является шумоизоляция. С помощью данного агрегата можно устранить шум «гуляющих» по помещению воздушных потоков;
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/diffuzory-2.jpg' alt='диффузоры')
                h3 Виды диффузоров для вентиляции
                p Рынок вентиляционного оборудования имеет достаточно широкий ассортимент диффузоров. Их разделяют на несколько видов по таким характеристикам:
                ul
                    li По материалу корпуса
                        ul
                            li Пластиковые диффузоры для вентиляции. Такие приспособления изготовлены из пластика, устойчивы к коррозии и процессам гниения. Такие воздухораспределители очень легкие, выполняются в разных формах и цветовой гамме;
                            li Металлические диффузоры для вентиляции. Такие воздухораспределители изготавливаются из алюминия либо стали. Плюсами этих изделий является высокая прочность. Они надежны в эксплуатации и имеют оптимальный дизайн. Металлические диффузоры значительно тяжелее, нежели пластиковые. Также, порой могут возникнуть проблемы с их монтажом;
                        p Не стоит путать металлический приточный анемостат и диффузор. В отличие от диффузора с помощью анемостата можно контролировать объем циркулирующих потоков воздуха (в диффузорах нельзя). Также корпус приспособления выполняется только в круглой форме, а диффузор может иметь различные формы (и круглые, и прямоугольные).
                        p Цена приспособления зависит от материала, из которого изготовлен корпус диффузора. Стальные приспособления гораздо дороже, нежели пластиковые.
                    li По форме
                        ul
                            li Круглые (вихревые) диффузоры для вентиляции. Такие модели делятся на:
                                ul
                                    li Веерные – зачастую монтируются в потолок, при помощи специально предусмотренных зажимов. Данные модели воздухорассеивателей оснащены клапаном расхода воздушных масс;
                                    li Тарельчатые – редко встречаются в эксплуатации, так как не соответствуют дизайнерским требованиям;
                            li Щелевые диффузоры для вентиляции;
                        p Короба для установки таких приспособлений очень компактны и практически незаметны на поверхности. За счет своей формы позволяют скорректировать направление и угол потоков воздуха.
                        p Монтирование таких агрегатов не потребует особых усилий. Производиться оно при помощи кронштейнов.
                    li По назначению
                        ul
                            li Приточные диффузоры. Приспособления, для приточной вентиляции предназначены чтоб черпать и оперативно доставлять в помещение либо вентиляционный узел поток свежих воздушных масс извне и их равномерное распределение;
                            li Вытяжные диффузоры, используются для оперативного вывода наружу отработанного воздуха из помещения. При этом способствуют равномерному распределению воздуха по пространству помещения и проветривание максимальной его площади;
                            li Универсальные (приточно - вытяжные) диффузоры. Такие агрегаты используют для притока - оттока воздуха в помещение, также для циркуляции по системе вентиляции;
                            li Сопловые диффузоры. Такие агрегаты используют для создания струйных потоков воздуха узкой направленности;
                    li По месту установки
                        ul
                            li Потолочные диффузоры для вентиляции. Поскольку смешивание потоков воздуха в помещении осуществляется вверху (под потолком) такие воздухораспределители очень распространены в эксплуатации – 95%. Их используют как для приточных, так и для вытяжных систем вентиляции;
                            li Напольные диффузоры для вентиляции. Такой тип приспособлений используется для помещений, в который приточная вентиляция осуществляется через подвал;
                            li Настенные диффузоры для вентиляции. Такие диффузоры для вентиляции в эксплуатации встречаются довольно редко, поскольку в основном для стен используют вентиляционные решетки. В основном монтируют такие агрегаты при необходимости установки вентиляции через отверстие в стене;
                h3 Конструктивные особенности
                ul
                    li Вихревые. Внешняя конструкция таких распределителей для потоков воздуха состоит из перегородок и решеток, которые расположены таким образом, чтобы создавалось завихрение масс воздуха. Это позволяет ускорить перемещение воздушных масс и повысить эффективность такой системы. Зачастую в вихревых диффузорах размещение перемычек радиальное. Используются они в помещениях с большими площадями, высокими потолками. Также такие агрегаты хорошо подойдут для помещений, в которых требуется оперативная смену воздуха (ванная, туалет и т.д.).
                        p Изнутри такой агрегат имеет форму цилиндра. Решетка к нему может быть различных форм. При этом ее отверстия должны располагаться только по окружности.
                        p В вихревых распределителях воздушных масс для системы приточной вентиляции имеется дополнительная крыльчатка. Она находится за решеткой, в корпусе устройства. Эта деталь может быть подвижной и неподвижной, управляемой и не управляемой. Управляемая крыльчатка может иметь несколько рабочих скоростей.
                        p Вихревые диффузоры могут иметь камеру статистического давления. С ее помощью устраняется слишком активное движение воздушных потоков, таким образом, предотвращается появление сквозняков;
                    li Щелевые. Форма таких диффузоров напоминает щели. Поскольку от положения перегородок, их формы, размера и направления напрямую зависит распределение потоков воздушных масс, конструкцию таких агрегатов специально разрабатывают и просчитывают.
                        p Такие приспособления используют для помещений, в которых малая либо средняя производительность системы вентиляции.
                        p Щелевые устройства для рассеивания воздушных потоков могут быть регулируемые и менять направление подаваемых воздушных масс (на подобии жалюзи кондиционеров). В таких диффузорах может присутствовать камера статистического давления.
                        p Конструкция щелевых диффузоров и решеток для них может быть различных форм;
                    li Регулируемые. Такие диффузоры для вентиляции укомплектованы регулируемыми раздвижными пластинами. Это регулирующий элемент конструкции, за  счет которого которого проводится контроль пропускной способности приспособления.
                        p Такие устройства называются анемостатами. Регулируется поток воздушных масс благодаря движениям центральной части агрегата по часовой стрелке либо против нее. Ламели в приспособлении подвижно закреплены. Это позволяет им менять положение и открывать или закрывать просвет для порождения воздушных масс.
                        p Есть анемостаты оборудованные датчиками присутствия и анализаторами состава воздушных масс. Такие агрегаты подключаются к системе управления микроклиматом помещения. Работает такая система в автоматическом режиме. Ее задача заключается в поддержании заданного микроклимата помещения;
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/ustanovka-ventilyacii.jpg' alt='установка вентиляции')
                h3 Особенности установки:
                ul
                    li Установка диффузора в жесткий канал:
                        ul
                            li Пред покупкой воздухорассеивателя нужно точно вымерять размер и форму отверстия для приспособления. Агрегат должен быть подобран в четком соответствии с этими параметрами;
                            li Установка прибора состоит в плавном продвижении приспособление в заранее подготовленное отверстие, до появления характерного звука — щелчка. Монтаж приспособления нужно выполнять аккуратно, дабы избежать повреждения корпуса (при сильном нажатии корпус может лопнуть);
                            li Затем нужно тщательно осмотреть поверхность и убедится, что между проемом и агрегатом отсутствуют неровности либо выступы;
                            li Если обнаружились дефекты монтажа, нужно проверить все защелки и удостовериться в том, что они сработали. В противном случае нужно надавить на необходимую часть устройства, до момента его фиксации;
                    li Установка диффузора в мягкий канал:
                        ul
                            li Для начала нужно достать рукав из отверстия в стене и прикрепить к нему прибор для рассеивания воздушных потоков;
                            li Затем, рукав помещается в канал, а за ним и агрегат;
                            li Когда система начала соприкасаться с поверхностью стены нужно зафиксировать приспособление. Для этого необходимо потребуется потихоньку, не прилагая особых усилий надавливать на диффузор до тех пока не сработают механизмы крепления;
                            li Убедиться в отсутствии дефектов монтажа (выступы, неровности над поверхностью стены);
                    li Установка диффузора в бесканальную вытяжную вентиляцию (отверстие в стене):
                        ul
                            li Изначально нужно подготовить отверстие, в котором будет установлен агрегат для рассеивания потоков воздуха. Для этих целей рекомендуется использовать трубу, параметры которой будут соответствовать размеру диффузора;
                            li Сам проем в стене можно выполнить из трубы. Для этого нужно отмерить длину отверстия от внешней стенки к внутренней, затем подогнать под эти размеры трубу;
                            li Подогнанную трубу вставить в отверстие и установить в нее прибор по вышеописанному принципу;
                            li Крепление трубы к отверстию можно осуществить с помощью пены для монтажа;
                p Если в комплектующие детали диффузора не входят защелки для крепления их можно заменить клеем, анкерами, герметиком либо саморезами.
                include ../partials/info-service.pug