extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Фитинги

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/fitingi.jpg' alt='фитинги')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Фитинг - это соединительный элемент трубопровода, который устанавливается для проведения сращивания, поворота, а также перехода трубы на другой диаметр. Это название переводится с английского языка как подгонка или соединение. Такие узлы используются в системах водоснабжения, отопления, газопроводах, канализации и системах кондиционирования.
                h3 Классификация фитингов по способу фиксации
                p По тому, как осуществляется присоединение фитинга к трубе, такое оборудование можно разделить на 6 типов:
                ul
                    li Нарезное;
                    li Клеевое;
                    li Компрессионное;
                    li Капиллярной пайки;
                    li Пайки;
                    li Пресс-фитинги;
                p <b>Нарезные</b> являются одними из самых популярных. Их используют в первую очередь на металлических трубопроводах. Такой способ отлично подходит для стальных и чугунных трубопроводных систем. Обычно такие элементы имеют внутреннюю резьбу, поэтому трубы вкручиваются в них, а не наоборот. Выбор в пользу такого соединения позволяет проводить при необходимости его отсоединение от трубопровода. Применение только резьбы не дает полной герметичности, поэтому требуется проведение ее уплотнения. В этом случае можно использовать ФУМ ленту, специализированные герметики или паклю. Такой способ соединения предназначен для систем с температурой эксплуатации свыше 170 градусов и давлением в 1,6 МПа.
                p <b>Клеевые</b> просто приклеиваются с применением специального полимера. Он надежно соединяет поверхность фитинга и трубы. Такой способ монтажа очень быстрый, а главное не требует никакого специального оборудования. Подобные изделия обычно используются для соединения канализационных труб, когда важно добиться герметичности при этом система не будет подвержена серьезному давлению.
                p <b>Компрессионные</b> оснащаются обжимным кольцом расположенным внутри. С его помощью осуществляется герметизация соединения. Такие изделия делаются из цветных металлов, а также металлопластика и пластика. Его выбирают для соединения труб из разных материалов. Это не самый надежный вариант соединения, поэтому на нем останавливаются только в том случае, если труба располагается в легкой доступности, когда можно без проблем поправить протечку.
                p <b>Капиллярной пайки</b> оснащаются тонкой проволокой из цветного металла, которая после закрепления элементов соединения разогревается и плавится. В результате пространство между соединенным фитингом и трубой заполняется жидким металлом. После его застывания стык становится полностью герметичным. Такой вариант соединения очень надежный, но может применяться только на металлических трубопроводах.
                p <b>Фитинги под пайку</b> представлены изделиями под полипропиленовые и металлопластиковые трубопроводы. Они соединяются посредством расплавления участка собственного внутреннего диаметра и внешнего диаметра трубы. Для этого применяется специальный электрический паяльник. Расплавленный пластик при соединении слипается друг с другом и застывает буквально за несколько секунд. После этого получается надежное соединение способное выдерживать большое давление, но не позволяющее проводить разборку.
                p <b>Пресс-фитинги</b> используются для соединения пластиковых и металлопластиковых труб. Они проводят деформацию трубы таким образом, чтобы она плотно прилегала к эластичному кольцу внутри устройства и пресс-гильзе. Для закрепления пресс-фитинга необходимо применение специализированного инструмента. Этот вариант часто выбирается при проведении прокладки коммуникации в стенах, когда отсутствует возможность их дальнейшего обслуживания.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/fitingi-2.jpg' alt='фитинги')
                h3 Назначение фитингов
                p То, для каких целей будет применяться фитинг, зависит в первую очередь от материала его изготовления.
                p Такие изделия делают под трубопроводы из следующих материалов:
                ul
                    li Чугун;
                    li Сталь;
                    li Медь;
                    li Латунь;
                    li Полипропилен;
                    li Металлопластик;
                p Золотое правило выбора материала фитингов гласит, что они должны быть сделаны из такого же материала, что и трубопроводы, на которые будут устанавливаться. Исключением может быть разве что садовый резиновый шланг, для сращивания отрезков которого можно использовать изделия из пластика и металла, специально предназначенные для этого. Фитинги из цветных металлов могут применяться на трубах из стали и чугуна. Стальные или латунные изделия совместимы с полипропиленовыми или металлопластиковыми трубами только при использовании специализированных переходников.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/fitingi-3.jpg' alt='фитинги')
                h3 Фитинг для металлических труб
                p Выпускаемые промышленностью фитинги для труб из металла могут изготавливаться из стали, чугуна, а также меди или латуни. Особым спросом пользуются изделия из цветных металлов, поскольку они менее склонны к образованию коррозии.
                p Все фитинги из металла можно разделить на виды:
                ul
                    li Штуцеры;
                    li Заглушки;
                    li Переходники;
                    li Крестовины;
                    li Тройники;
                    li Муфты;
                    li Углы и отводы;
                p <b>Штуцер</b> - это фитинг, предназначенный для перехода между металлической трубой на гибкий шланг. Он часто применяется в пневматических системах, а также в водопроводе и газопроводе. На штуцере имеется специальная насечка, которая предотвращает самовольный вылет шланга при увеличении давления. Для повышения надежности соединения шланг затягивается с помощью хомута. Также бывают более устойчивые конструкции штуцеров, у которых предусматривается специальная гайка позволяющая поджимать шланг, что полностью исключает вероятность его вырывания.
                p <b>Заглушка</b> - это специальный колпачок, предназначенный для глушения конечных отверстий труб. Заглушки могут ставиться на резьбу, что позволит их в дальнейшем снимать или крепиться путем сварки. Их наличие позволяет запускать в эксплуатацию трубопровод даже в том случае, если он еще не полностью закончен. Заглушку в дальнейшем можно выкрутить или срезать, продолжив строительство ответвлений системы.
                p <b>Переходники</b> необходимы для соединения труб различных диаметров. Они представлены футорками, сгонами и ниппелями. Эти изделия могут иметь как внутренний, так и внешний диаметр. Соединительные изделия для металлических труб сделаны по принципу накручивания. Это весьма востребованные фитинги позволяющие проводить сращивание труб разного диаметра с возможностью их дальнейшей разборки. В их конструкции могут применяться резиновые или силиконовые прокладки, что позволяет осуществлять сращивание без необходимости применения ФУМ ленты или пакли.
                p <b>Крестовина</b> - это фитинг, который используется при необходимости развести одну трубу на несколько ответвлений. Такие изделия получили свое название благодаря тому, что имеют форму креста. Они фиксируются на одной трубе с подачей, и позволяют развести ее в 3-х направлениях. Подобные изделия применяются во всех типах трубопроводов, в том числе и канализации.
                p <b>Тройники</b>, так же как и крестовины используются при создании ответвлений от основного потока. Их отличием является разделение одной линии не на 3, а на 2 ветки.
                p <b>Муфта</b> - это фитинг, применяемый для удлинения труб. Такие изделия часто используются для соединения трубопровода с кранами, а также различным оборудованием, которое к нему подключается. Обычно муфты позволяют в любой момент провести отсоединение, что может в дальнейшем понадобиться при проведении ремонта.
                p <b>Углы и отводы</b> позволяют менять направление движения трубопровода. При их использовании исключается необходимость гибки труб. Соединение отводов и углов на металлических трубах может осуществляться путем сварки, пайки или накручивания по резьбе.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/fitingi-4.jpg' alt='фитинги')
                h3 Фитинги для полипропиленовых и металлопластиковых труб
                p Ассортимент фитингов для подобных изделий значительно богаче, а также изобилует способами проведения фиксации. Хотя в этом случае исключается использования изделий предусматривающих сварку труб, но зато появляется возможность пайки многих элементов.
                p Для полипропиленовых и металлопластиковых труб обычно используются следующие фитинги:
                ul
                    li Муфта;
                    li Переходник;
                    li Уголок;
                    li Тройник и крестовина;
                    li Коллектор;
                    li Американка;
                    li Обвод;
                p <b>Муфты</b> применяются для соединения состыкованных труб, а также для подключения к трубопроводу различного оборудования. Муфты имеют внутренний диаметр, который соответствует внешнему сечению трубы.
                p <b>Переходники</b> для полипропиленовых и металлопластиковых труб внешне схожи с муфтами, но имеют разный диаметр подключения на противоположных концах. Они позволяют перейти из одного диаметра трубы на другой. Также переходники могут предусматривать различные способы соединения, что дает возможность проводить сращивание трубопроводов из разных материалов. Чаще всего используется переходник с паечного на резьбовое соединение.
                p <b>Уголок</b> позволяет осуществлять поворот трубопровода на 90 градусов. Такие изделия могут изготовляться под пайку, а также другие способы фиксации. Уголки делаются с запасом прочности, поскольку при выполнении монтажа на них оказывается серьезная нагрузка.
                p <b>Тройники и крестовины</b> также являются особо востребованными при работе с полипропиленовыми и металлопластиковыми трубами. Они встречаются в системах водопровода, отопления и так далее. Именно они позволяют развести входящую в квартиру трубу для подачи воды в ванную комнату и на кухню.
                p <b>Коллектор</b> - это фитинг, представляющий собой запорную арматуру, которая позволяет разводить поток с одной трубы на несколько. Его оснащают шаровыми кранами. Такое приспособление применяется для систем отопления и водоснабжения.
                p <b>Американка</b> - это изделие весьма похоже на муфту, но у которой с одной стороны находится резьба, а со второй обычно полипропиленовый конец, предназначенный для пайки к трубе. Главная цель такой муфты в обеспечении быстрого съема изделий подсоединенных через этот фитинг.
                p <b>Обводы</b> - это изделия, которые позволяют проводить пересечение трубопроводов. Они устанавливаются на одну из труб и позволяют сделать небольшой изгиб, чтобы обойти уже имеющуюся на пути линию. Обычно такие элементы фиксируются с помощью пайки.
                include ../partials/info-service.pug