extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Герметик

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/germetik.jpg' alt='герметик')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Герметик — пастообразный, вязкотекучий или ленточный материал, за основу которого взяты полимеры или олигомер. Предназначаются для защиты от утечки рабочей среды через зазоры конструкции и гидроизоляции. При этом герметизирующий слой образуется непосредственно на соединительном шве в результате затвердения полимерной основы или испарения растворителя.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/germetik-6.jpg' alt='герметик')
                h3 Виды герметиков и их применение
                p <b>Акриловые герметики</b> представляют собой полимерный материал, выполненный на основе производных акриловой кислоты, а также материалов из них.
                p Акриловый герметик - ни что иное, как смесь акрилатных полимеров. Данный вариант герметиков подходят для внешних и внутренних работ. Однако при этом следует учитывать тот фактор, что герметик под солнечными лучами (сильной жаре) становится пластичным и мягким, а на морозе - затвердевает. Это может привести к его отслоению от поверхности.
                p Следующее свойство акрилового герметика - это влагостойкость. Да, он влагостоек, однако при постоянном контакте с влагой, утрачивает адгезивные (сцепление с поверхностью материала) свойства, что опять же приводит к его отслоению.
                p Исходя из выше перечисленных факторов делаем выводы, акриловый герметик можно применять для таких работ, как:
                ul
                    li Заделка трещин и швов между бревнами или в деревянных конструкциях;
                    li Герметизация швов (в бетонных и железобетонных строениях, в местах примыканий оконных блоков и др.);
                p Перед применением герметика сначала подготавливают поверхность: очищают от жирных и масляных пятен, очищают от пыли, убирают влагу (конденсат, последствия дождя и др.). Затем, на уже подготовленную сухую и чистую поверхность, наносят сам герметик. При этом либо используют специальный пистолет, либо выдавливают из тюбика. Через 15-20 минут после нанесения, герметик покрывается пленкой, однако еще целый час он может отслаиваться от поверхности. И хотя уже через сутки данный материал кажется застывшим, все же полное время его полимеризации составляет 15-20 дней.
                p Преимущества:
                ul
                    li Эластичность;
                    li Обладает хорошей адгезией с бетоном, кирпичом, штукатуркой и деревом;
                    li Сохраняет свои свойства в широком диапазоне температур - от -20 до +60°С;
                    li В состав герметика не входят органические растворители (отсутствуют запахи при работе с ним);
                    li Сформировавшийся шов не подвержен УФ-лучам, не выцветает и не боится воды;
                    li Поверх шва можно оштукатуривать, а также производить окраску;
                p Среди недостатков можно выделить лишь то, что работы на улице с применением акрилового герметика нужно проводить при отсутствии дождя, а также то, что для использования в помещениях с повышенной влажностью лучше выбрать герметики другого вида.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/germetik-1.jpg' alt='герметик')
                h3 Силиконовые герметики
                p Силиконовые герметики - составы, где в качестве основы выступает кремнийорганический полимер — силиконовый каучук (около 45% состава), которые затвердевают при комнатной температуре.
                p Данные герметики бывают:
                ul
                    li Однокомпонентными - самые распространенные герметики (именно они и называются силиконовые), которые отвердевают за счет влаги воздуха;
                    li Двухкомпонентными - герметики, основа которых отверждается при реакции с катализатором при их смешивании. Применяются, в основном, в промышленности;
                p По своему химическому составу силиконовые герметики делятся на:
                ul
                    li Кислотного отверждения - обладают хорошей адгезией к ровным поверхностям, повышенной устойчивостью к влаге и высокой температуре;
                    li Нейтральные - применяются, в частности, для герметизации пластмассовых поверхностей. Резкий запах отсутствует;
                p При этом первые герметики (кислотные) имеют специфический запах уксуса, а при взаимодействии с металлом могут вызывать его коррозию. Однако, кислотные силиконовые герметики более распространенные, чем нейтральные, намного их дешевле, и, зачастую являются оптимальным вариантом решения задач в домашнем хозяйстве. Соответственно нейтральные герметики дороже кислотных, но у них отсутствует специфический запах.
                p По сфере применения силиконовые герметики можно разделить на:
                ul
                    li Строительные;
                    li Автомобильные;
                    li Специальные;
                p Чтобы при покупке определить сферу применения, или же проверить - не "впаривает" ли продавец не тот товар, достаточно прочитать назначение на упаковке. Мы же рассмотрим лишь строительные герметики.
                p Так строительные силиконовые герметики (качественные) можно применять как для наружных, так и для внутренних работ. Он может выступать в роли герметизирующего и гидроизолирующего материала, в качестве заполнителя щелей и трещин, а также в качестве заполнителя зазоров между различными элементами. Другими словами, силиконовые герметики выступают в роли изоляции от внешнего воздействия, т.е. там, где нужно обеспечить защиту от внешних факторов.
                p Перед использованием данных герметиков, как и в случае с акриловыми, стоит тщательно подготовить обрабатываемую поверхность, а затем таким же образом нанести герметик на эту область. При этом работу можно проводить, как в мороз, так и в жару. Однако, стоит знать, что при отрицательных температурах на вулканизацию уйдет больше времени. Первичное схватывание герметика наступает через 30 минут, время полной полимеризации - будет зависеть от толщины шва (слоя).
                p Преимущества:
                ul
                    li Долговечны. Срок службы силиконовых герметиков 15-20 лет;
                    li Обладает устойчивостью к УФ-излучению и большинству агрессивных влияний окружающей среды;
                    li Имеет и сохраняет упруго-эластичные свойства в широком интервале температур - от -50 до +200°С;
                    li Обладают повышенной адгезией практически ко всем видам строительных материалов, при этом, не требуя применения грунтовок;
                    li Легко деформируются (смещение, повороты), повторяя его новую форму без нарушения герметичности;
                p Недостатки:
                ul
                    li Не рекомендуется наносить на влажные поверхности;
                    li Данный вид герметиков нельзя окрасить;
                    li Свеженанесенный силиконовый герметик имеет низкую ;адгезию к поверхности старого, уже вулканизированного (не рекомендуется новый герметик укладывать поверх старого), а также к пластмассам;
                    li Герметики кислотного отверждения способны вызывать коррозию у металла и бетона;
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/germetik-2.jpg' alt='герметик')
                h3 Полиуретановые герметики
                p Полиуретан — синтетический материал, который широко используется во многих областях, а также выступает в роли заменителя резины, каучука и пластика.
                p Полиуретановые герметики - материал, предназначенный для герметизации стыков и швов в строительных сооружениях. Однако, из-за своих свойств, данный материал приобрел широкую сферу применения.
                p Различают два вида полиуретановых герметиков - одно- и двухкомпонентные.
                p Герметики второго типа состоят из двух различных компонентов, которые необходимо смешивать перед применением в определенных пропорциях. Они рекомендуются к применению для герметизации деформационных швов с высокой деформацией, т.к. после вулканизации представляет собой резиноподобный материал с относительным удлинением в момент разрыва - не менее 400% (5772-001-50002263-98). Образовавшийся материал обладает хорошей водостойкостью, эластичностью, прочностью и отличными адгезивными свойствами практически ко всем типам поверхностей.
                p Однокомпонентные полиуретановые герметики чаще применяются в частном строительстве и домашнем хозяйстве. Это в своем роде лучший материал для герметизации швов и стыков, элементов кровельной конструкции, для склеивания любых материалов (металл, дерево, камень, пластик и др.). Могут выступать как "скорая помощь" при ремонте швов силиконовых герметиков.
                p Чтобы начать использовать однокомпонентный полиуретановый герметик, достаточно очистить ремонтируемую поверхность от жира, грязи, пыли и влаги, после чего его можно наносить на ремонтируемый участок. В течении часа образуется поверхностная пленка, защищая шов от загрязнения, а через 6-7 (время зависит еще и от толщины шва) часов наступает полная полимеризация герметика. После этого его показатель эластичности составит от 400% до 900%, а твердость - от 25 до 55 Шор А.
                p Преимущества:
                ul
                    li Быстро схватываются;
                    li Обладают высокой эластичностью - до 1000%;
                    li Выдерживают механические воздействия и обладают стойкостью к ультрафиолету, влаге, а также слабым кислотам и щелочам;
                    li Морозостойкость от -60°С до +80°С, а также возможность проведения работ при отрицательных температурах (до -10°С);
                    li Устойчивы к действию коррозионных агентов;
                    li Имеют хорошую адгезию, а также обеспечивают прочное склеивание поверхностей из различных материалов;
                    li Могут окрашиваться любыми красками;
                    li Не содержат растворителей;
                    li Не выделяет вредных вещество после полимеризации, в следствии чего может применяться в жилых помещениях;
                    li Полимеризуется под действием влажности воздуха;
                p Недостатки:
                ul
                    li Содержат в своем составе вредные, едкие вещества, что требует использования защитных средств при работе с ними;
                    li После вскрытия упаковки, герметик достаточно быстро теряет свои свойства;
                    li Не выдерживают постоянного воздействия высоких температур (свыше 120°С);
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/germetik-3.jpg' alt='герметик')
                h3 Тиоколовые герметики (Полисульфидные)
                p Тиокол - вещество, внешне и структурно напоминающее каучук, поэтому его второе название - полисульфидный каучук.
                p Тиоколовые герметики - герметики, в которых в качестве основы применяют жидкий тиокол и тиолсодержащий полимер.
                p Данные вид герметиков имеет двух или трехкомпонентную структуру, состоящую из основной (герметизирующей) и отверждающей пасты и ускорителя вулканизации. После смешивания всех компонентов в четко отведенных пропорциях, образуется материал с высокой эластичностью и стойкостью к различным воздействиям кислот. Однако, полученный состав необходимо выработать максимум в течение двух часов. При этом полное отверждение происходит (в зависимости от состава) от нескольких часов до суток.
                p Основное назначение тиоколовых герметиков - герметизация швов бетонных и железобетонных конструкций с деформацией максимум 25%. Процедура очистки подготавливаемой поверхности такая же, как и у остальных герметиков.
                p Преимущества:
                ul
                    li Обладают наибольшей прочностью, эластичностью и долговечностью из всех видов герметиков;
                    li Влагостойкие;
                    li Высокая устойчивость к воздействию различных кислот и щелочей;
                    li Обладают устойчивостью к УФ-излучению и большинству агрессивных влияний окружающей среды;
                    li Высокая бензо- и маслостойкость;
                    li Имеют высокий температурный диапазон эксплуатации - от -55°С до +130°С;
                    li Имеют хорошую адгезию;
                    li Хорошие показатели остаточной деформации;
                    li Срок службы более 20 лет;
                p Среди недостатков у данных герметиков можно выделить то, что их необходимо выработать в короткое время после приготовления состава. А также то, что при работе с ними нужно пользоваться индивидуальными средствами защиты, избегая его соприкосновения с кожей.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/germetik-4.jpg' alt='герметик')
                h3 Битумные и каучуковые герметики
                p Битумный герметик - представляет собой пасту на основе битумного вяжущего, модифицированного при помощи современных методов и добавок, а также инертного к внешним воздействиям наполнителя.
                p Каучуковый герметик - материал, основой которой является синтетический каучук.
                p Оба герметика широко используются для герметизации и гидроизоляции, при проведении ремонтных работ, при деформации или расколах, для кровельных покрытий, для ремонта в помещениях с повышенной влажностью и даже для ремонта резиновых изделий (лодок, резиновых сапог и др.). Также их можно применять для крепления и ремонта рубероида и других битумных покрытий, а также фиксации изоляционных материалов (полиуретан, пенополистирол) к различным основаниям.
                p Проведение ремонтных работ с использованием данных герметиков проводится при положительной температуре воздуха. Стоит отметить, что это единственные герметики, которые не требуют обязательной очистки ремонтируемой поверхности перед их использованием. Это связано с высокими адгезионными свойствами данных герметиков.
                p Нанесенный на ремонтируемую область герметик затвердевает, образуя защитную мембрану устойчивую к погодным условиям, ультрафиолетовым лучам и механическим повреждениям, которую, при необходимости, можно окрасить под цвет обрабатываемой поверхности.
                p Преимущества:
                ul
                    li Высокая эластичность;
                    li Обладает отличными адгезионными свойствами с большинством строительных материалов;
                    li Устойчивость к различным атмосферным воздействиям;
                    li Создает антикоррозионный слой;
                    li Имеют высокий температурный диапазон эксплуатации - от -50°С до +150°С;
                    li Каучуковый герметик можно окрашивать;
                    li Срок службы данных герметиков около 20 лет;
                p Недостатки:
                ul
                    li Запрещено применять для некоторых видов пластмасс (может произойти их деформация);
                    li При контакте с минеральными маслами происходит их размягчение;
                    li Битумный герметик не подлежит окрашиванию;
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/germetik-5.jpg' alt='герметик')
                h3 Бутилкаучуковые герметики
                p Бутилкаучук — продукт низкотемпературной сополимеризации изобутилена и 1-5% изопрена.
                p Бутилкаучуковые герметики - материал, основой которого выступает бутилкаучук, и который обладает высокой влаго- и воздухонепроницаемостью.
                p Данные герметики можно отнести к высококачественным неотверждаемым материалам, которые также могут выпускаются в виде уплотнителей, монтажных лент и/или ленточного материала различной ширины и толщины, шнуров разного диаметра, брикетов и мастик различной вязкости.
                p Так, например, широкое распространение начали получать ленточные бутилкаучуковые герметики, которые имеют двухслойную структуру, а их ширина колеблется от 10 до 180 мм. Такие ленты можно использовать для заклеивания швов или трещин, при монтаже подкровельных материалов - их соединении.
                p Со временем ленточные герметики не теряют эластичности, не трескаются и не отстают от поверхности, а наоборот, увеличивают свою адгезию. Особенно это происходит с такими материалами, как:
                ul
                    li Стекло;
                    li Бетон;
                    li Металл;
                    li Дерево;
                    li Большинство полимерных материалов;
                p К сведенью. Все бутилкаучуковые герметики сохраняют свои качества в диапазоне температур от -45°С до +150°С.
                p Применяются данный вид герметиков для устройства новой кровли и при ремонте уже существующей, для герметизации швов и стыков различных кровель и строительных конструкций, межпанельных швов, а также при монтаже вертикальных и мансардных окон.
                p Применение бутилкаучуковых герметиков аналогично использованию двухстороннего скотча. Т.е., с ленты снимается защитная пленка и она прикрепляется своими сторонами к одному и другому изделию. Если необходимо нарастить ленту, то это стоит делать внахлест.
                p Применение бутилкаучуковых герметиков в виде мастик, происходит по той же технологии, как и вышеперечисленных герметиков
                p Преимущества:
                ul
                    li Пастообразные герметики при температурных перепадах способны повторять деформационные искажения кровельных материалов;
                    li Обладают хорошей адгезией с бетоном, деревом, стеклом, металлом и другими материалами, что позволяет им легко и прочно приклеиваются к их поверхности;
                p Недостатки:
                ul
                    li Низкий предел прочности при растяжении;
                    li Усадка, небольшой срок эксплуатации — максимум 5 лет;
                include ../partials/info-service.pug