extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Гофротруба из алюминиевой фольги

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/gofrotruba-iz-alyuminievoj-folgi.jpg' alt='гофротруба из алюминиевой фольги')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Гибкие воздуховоды из полиэфирной пленки или алюминиевой фольги – это улучшенный аналог гофротрубы из пластика. Проволочный каркас с шагом от 38 до 45 мм оборачивается  полиэфирной пленкой с напылением алюминия либо фольгой на слое полиэфирной ленты. Для прочности наматывается до 6 слоев, поэтому вентиляция из таких гофрированных шлангов выдержит давление до 2400 Па. Гофрированные трубы из полиэфирной пленки подходят для систем, работающих в температурных пределах -30 …+90 градусов Цельсия. Фольгированные гофрошланги для вентиляции выдержат до +130 градусов.
                p Гофрированные шланги для вентиляции из полиэфирной ленты и ламинированной фольги реализуются кусками по 10 м. Разнообразие диаметров позволяет выбрать вентиляционную гофру от 100 мм до 500 мм, в том числе и гофру для вентиляции 400 мм.
                include ../partials/info-service.pug