extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Изоляция трубопроводов

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/izolyaciya-truboprovodov.jpg' alt='изоляция трубопроводов')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                h3 Изоляция трубопроводов горячего и холодного водоснабжения, тепловых сетей, газопроводов
                p Изоляция трубопроводов - это очень важное мероприятие, которое выполняется для защиты коммуникации от явлений окружающей среды, предотвращения тепловых потерь и.т.д.
                p Трубопроводы для разных целей отличаются по материалу, поэтому каждый тип трубопровода требует свой вид изоляционного материала.
                p Изоляция различных коммуникаций не только предохраняет их от внешних воздействий, но и увеличивает эффективность, а также эксплуатационный срок магистрали.
                p Меры по изоляции трубопроводов проводятся с целью утепления, защиты от влаги и ультрафиолета, а также от повреждений, которые могут нанести животные или люди.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/trubnaya-izolyaciya.jpg' alt='изоляция труб')
                h3 Материалы для изоляции трубопроводов горячего водоснабжения
                p Коммуникации, транспортирующие горячую воду, требуют организации изоляции, которая отличается низким коэффициентом теплопроводности. Это необходимо чтобы снизить показатели теплопотери труб. Без правильной теплоизоляции трубопровод будет рассеивать тепло в окружающую среду, показывая низкую эффективность.
                p Рассмотрим, какими видами изоляционных материалов можно защитить трубопровод, транспортирующий горячую воду:
                ul
                    li Пенополимерминеральная трубная изоляция (ППМ) - это изоляционный материал, получаемый в результате смешивания вспененного пенополиуретана и минерального наполнителя;
                p ППМ изоляция применяется, как правило, только для трубопроводов горячего водоснабжения. Состоит ППМ изоляция из трёх основных слоёв, имеющих разную плотность.
                p ППМ изоляция является многофункциональной защитной конструкцией, так как каждый из её слоёв выполняет свою функцию:
                ul
                    li Защита от коррозии;
                    li Теплоизоляция;
                    li Гидроизоляция;
                p Такая монолитная конструкция резистентна к температурным перепадам, а также отличается хорошей прочностью, что позволяет защищать трубопроводную конструкцию от механических воздействий.
                p <b>Полезная информация!</b> Изоляция трубопроводов может быть как внешней, так и внутренней. Внутренняя изоляция труб выполняет две основные функции: защита трубы от коррозийных воздействий и увеличение пропускной способности магистрали.
                ul
                    li Пенополиуретан (ППУ). Этот материал используется преимущественно для того, чтобы усилить гидроизоляционные показатели коммуникации. Отличается хорошей термоустойчивостью и способен выдерживать температурные скачки. Кроме этого, стоит отметить, что теплопотери при организации изоляции из пенополиуретана составляют не более 5%;
                    li Весьма усиленная изоляция (ВУС). Это особый тип изоляции, который состоит из двух или трёх слоёв и используется для защиты трубопроводной коммуникации от губительного воздействия коррозии. А также стоит сказать, что ВУС имеет устойчивость к низким температурам и может использоваться в неблагоприятных климатических условиях;
                p Весьма усиленная изоляция используется для защиты магистралей, работающих в сложных климатических условиях.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/trubnaya-izolyaciya-1.jpg' alt='изоляция труб')
                h3 Материалы для изоляции трубопроводов, транспортирующих холодную воду
                p Для изоляции коммуникаций, которые транспортируют холодную воду, используются следующие виды изоляторов:
                ul
                    li Утеплитель на основе базальтового волокна. Такая трубная изоляция имеет разнообразные размеры и выпускается в форме цилиндра. Основное преимущество такого утеплителя состоит в том, что для монтажа трубопровода не требуются специальные лотки, а также такая изоляция является наиболее эффективной для коммуникаций, транспортирующих холодную воду. Кроме этого, организация базальтовой изоляции не требует никаких специальных строительных навыков и отличается высокой скоростью;
                    li Вспененный каучук (ВК). Этот материал имеет прекрасные гидроизоляционные свойства, а также способен переносить температурные колебания. Имеет пористую структуру закрытого типа. Как правило, такой изолятор выпускается в форме трубок или пластин. А также стоит отметить, что вспененный каучук является пожароустойчивым материалом и в случае возгорания отличается самозатухаемостью;
                    li Минеральные ваты. Производятся из минеральной ваты и используются для утепления трубопроводов большого диаметра. В зависимости от конструктивных особенностей выделяют три вида минеральных матов: прошивные, фольгированные, ламельные;
                    li Стекловолокно. Этот материал не является самодостаточным и используется только в комбинации с другими изоляторами (например, со стеклотканью). Как правило, вместо этого материала применяют стекловолоконные маты. Монтаж стекловолоконных матов производится таким способом: сначала трубопровод обматывают матами, затем их фиксируют с помощью обычной проволоки и, наконец, полученная конструкция обматывается полиэтиленом. Этот метод считается неудобным и трудозатратным, однако, такая теплоизоляция хорошо себя зарекомендовала и является довольно эффективной;
                    li Вспененный полиэтилен (ВПЭ). Производится такой изолятор в виде трубок, которые имеют продольный разрез. Монтаж трубок из ВПЭ отличается простотой и высокой скоростью. ВПЭ - экологически чистый материал, который способен переносить температурные колебания, а также является резистентным к агрессивным химическим веществам. Использование ВПЭ позволяет исключить возникновение грибков и плесени;
                p Цилиндры из вспененного полиэтилена применяют для изоляции холодных трубопроводов в быту и промышленности
                ul
                    li Пенополиуретановое (ППУ) напыление. Этот метод, с финансовой точки зрения, наиболее дорогостоящий, однако, и самый эффективный, если сравнивать его с остальными вариантами теплоизоляции труб. Для нанесения ППУ на трубу используют специальные распылители. После контакта с воздухом пенополиуретан застывает и образует плотное защитное покрытие, которое имеет высокую устойчивость к низким температурам;
                p <b>Полезная информация!</b> Стоит отметить, что зачастую после монтажа пенопластовой скорлупы, поверх наносят дополнительную гидроизоляцию. В качестве такой гидроизоляции может выступать обычный полиэтилен.
                ul
                    li Пенопласт. Изготавливаются пенопластовые изоляторы в виде специальной скорлупы, которая легко надевается на трубу. Этот материал является наиболее распространённым из-за простоты установки. Пенопластовая скорлупа может иметь покрытие или изготавливаться без него;
                    li Жидкая изоляция для труб. Это довольно специфичный способ защиты труб от низких температур. Используется такой вариант теплоизоляции довольно редко. В основе метода лежит нанесение на трубу специальной термоустойчивой краски;
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/trubnaya-izolyaciya-2.jpg' alt='изоляция труб')
                h3 Изоляция теплосетей
                p Для изоляции тепловых сетей, задача которых заключается в доставке тепла от котельных до потребителей, используются разные изоляционные материалы. В первую очередь перед такими материалами стоит задача по снижению коэффициента теплопотери.
                p Изоляция тепловых (водяных и паровых) сетей производится с использованием следующих материалов:
                ul
                    li Минеральная вата. Является довольно распространённым теплоизолятором, который имеет низкий коэффициент теплопроводности, а также устойчив к воспламенению. Свойства минваты позволяют ей быть довольно популярным материалом для теплоизоляции трубопроводных конструкций, транспортирующих тепло. Из минусов этого материала можно выделить высокую стоимость;
                    li Пенополиуретан (ППУ). Отличительные черты этого материала - низкая теплопроводность и высокий коэффициент гидроизоляции;
                    li Пенополистирол (ППС). Этот материал является, по сути, тем же пенопластом и отличается простотой монтажа на трубопровод. Кроме этого, стоит отметить, что стоимость пенополистирола довольно низкая;
                    li Вспененный полиэтилен (ВПЭ). Трубчатый материал, который занимает лидирующие позиции среди изоляторов для теплосетей;
                    li Теплоизоляционная краска. Как уже говорилось выше, такой материал наносится на трубы с помощью специальных распылителей и отличается высокими защитными характеристиками;
                p Изоляционный материал для систем ГВС и паропроводов должен быть таким, чтобы свести возможные теплопотери к минимуму.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/trubnaya-izolyaciya-3.jpg' alt='изоляция труб')
                h3 Теплоизоляция для медных труб кондиционера
                p Трубопроводы в бытовых сплит-системах и промышленных чиллерах необходимо защищать от образования конденсата и тепловых потерь. Отсутствие надежной изоляции снижает производительность и энергоэффективность климатической установки. Постоянная влага на медных фреоновых магистралях приводит к их окислению, преждевременному разрушению из-за развития коррозии. На стене у внешних и внутренних блоков появляются мокрые потеки и образуется плесень, вредная для здоровья работающих или живущих в помещении людей.
                p Выпадение конденсата на поверхности трассы - результат большого разрыва в значениях температур хладагента в трубопроводе и в помещении или на улице. При этом, чем выше относительная влажность, тем меньше эта разница.
                p Основная задача теплоизоляции для труб кондиционера - предотвращение конденсации влаги из окружающего воздуха. При правильном выборе утеплителя, его толщины с учетом условий эксплуатации, герметичном монтаже температура на поверхности изоляции выше точки росы.
                p Виды материалов для теплоизоляции кондиционерных труб - плюсы и минусы.
                p Техническая изоляция для медных труб кондиционирования должна продлевать срок их службы за счет контроля над конденсацией и снижать потери энергии, быть простой в установке для экономии времени.
                p Для защиты фреоновых магистралей используют высокоэластичные материалы на разной основе:
                ul
                    li Вспененный каучук. Гибкий утеплитель на основе вспененного эластомера с закрытой ячеистой структурой и длительным сроком службы. Он имеет низкую теплопроводность и высокое сопротивление паропроницанию, что обеспечивает хорошую изоляционную работу по предотвращению конденсации, сокращению расхода энергии;
                    p Преимущества:
                    ul
                        li Стойкость к строительным материалам;
                        li Коэффициент теплопроводности - 0,036 Вт/м*К;
                        li Температура применения - от -400С до +850С (при приклеивании по всей поверхности трубы);
                        li Легкий, быстрый монтаж за счет высокой эластичности;
                p При установке изоляции на медные трубы вне помещения необходимо покрывать её защитной краской в два или более слоя.
                ul
                    li Вспененный полиэтилен. Практичный материал с закрыто-пористой структурой, низкой теплопроводностью и высоким сопротивлением диффузии водяных паров для защиты от выпадения конденсата. Трубки из вспененного полиэтилена используются в широком диапазоне температур, обладают стабильными техническими характеристиками, подходят для трасс сложной конфигурации, благодаря повышенной гибкости.
                    p Преимущества вспененного полиэтилена для изоляции медных труб систем кондиционирования очевидны:
                    ul
                        li Минимальная теплопроводность - 0,032 Вт/м*К;
                        li Стойкость к агрессивным средам - бетону, штукатуркам, цементу;
                        li Рабочая температура - от -800С до +1000С;
                        li Паропроницаемость - 0,001 мг(м*ч*Па);
                        li Доступная стоимость;
                p При монтаже на открытом воздухе можно применять любые покрытия, защищающие поверхность от атмосферных воздействий и ультрафиолета.
                p Использование вспененного полиэтилена в качестве технической теплоизоляции для трубок кондиционеров эффективно и удобно. Сочетание характеристик обеспечивает длительный срок эксплуатации, контроль над конденсатом при любой температуре и влажности, энергосбережение, защиту от коррозии при прокладке в штробах.
                //- .product__body-images
                //-     .product__body-group
                //-         img(src='/assets/product/img/gofrirovannye-truby-2.jpg' alt='гофрированные трубы')
                include ../partials/info-service.pug