extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Канализационные трубы

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/kanalizacionnye-truby.jpg' alt='канализационные трубы')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Для стабильной и долговечной работы отвода воды и водостоков в доме или на предприятии необходимы надежные канализационные трубы.
                p Существует два вида труб для канализации, которые применяются в водоотведении - металлические и пластиковые. Каждый вид отличается своими характеристиками, размерами и диаметром, а также способом монтажа.
                h3 Металлические
                p Металлические, или чугунные канализационные трубы используются реже полимерных, но отлично выполняют свои функции. Они применяются для прокладки внутреннего водопровода и наружной канализации. Чугун, из которого делают трубы, считается хрупким металлом, но достаточно выносливым при должной обработке и правильной эксплуатации.
                p Виды чугуна для изготовления:
                ul
                    li Серый - содержит пластинчатый графит;
                    li Белый - сделан на основе углерода;
                    li Ковковый - с добавлением хлопьего графита;
                    li Высокопрочный ВШЧГ - на основе шаровидного графита;
                p Чтобы не допустить коррозии и появления налета, чугун со всех сторон обрабатывают нефтяным битумом класса БНИ-IV. Антикоррозийное покрытие также обеспечивает гладкость поверхности металла, что делает водоток ровным и препятствует сильному трению отходов о стенки. Кроме стока отходов, чугунные изделия применяются для водообеспечения, нефтепровода, теплоснабжения.
                p К преимуществам металлического трубопровода относятся:
                ul
                    li Длительный срок эксплуатации, превышающий 60 лет;
                    li Способность выдерживать нагрузку даже при большой длине;
                    li Улучшенная сопротивляемость к растяжению;
                    li Отличная звукоизоляция и пожаробезопасность;
                    li Повышенная надежность конструкции и устойчивость к деформации;
                h3 Пластиковые
                p Канализационные трубы из пластика и других полимерных материалов пользуются особой популярностью у потребителей благодаря надежности, доступной цене и простому монтажу.
                p Существует несколько разновидностей пластиковых изделий:
                ul
                    li <b>ПВХ-трубы</b> - выполнены из поливинилхлорида на основе термопластины, которая после активной термической обработки способна сохранять форму длительное время. Поливинилхлорид создает мощную защиту стенок от химических элементов и газов, попадающих в полость трубки;
                    li <b>ПЭТ-трубы</b> - изготовлены из прочного полиэтилена класса U, что позволяет эксплуатировать их при высоких температурах воздуха, но без попадания прямых солнечных лучей. Могут выдерживать длительное давление на стенки, не поддаются воздействию агрессивных сред;
                    li <b>ПП-трубы</b> - сделаны из полипропилена, который может использоваться в безнапорной канализации с постоянным потоком горячей воды, при этом первоначальное состояние не деформируется. Имеет хорошие гидравлические свойства и устойчивость к длительным нагрузкам;
                p Преимущества труб для канализации из ПВХ, полиэтилена и полипропилена:
                ul
                    li Состоят из экологически чистых материалов, не выделяют фреон и другие опасные вещества;
                    li Подходят для установки внутренних и наружных канализационных систем;
                    li Способны прослужить более 50 лет и не требуют дорогостоящих ремонтных работ;
                    li Имеют низкую электропроводность, что позволяет монтировать их вблизи электростанций;
                    li Не поддаются деформации под давлением воды или от резких перепадов температур стоков;
                    li Благодаря гладким стенкам обеспечивают быстрый водосток без появления засоров;
                p Кроме того, пластик как исходный материал - недорогой, легкий и эстетичный. Наружный трубопровод не придется красить, а небольшой вес облегчает монтаж системы.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/kanalizacionnye-truby-2.jpg' alt='канализационные трубы')
                h3 Размеры канализационных труб
                p Несмотря на отличия в технических и эксплуатационных характеристиках, размеры канализационных труб остаются стандартными и регламентируются специальными документами. В зависимости от диаметра и толщины стенок определяется назначение изделий.
                p Чугунные трубы для канализации бывают двух типов:
                ul
                    li SME - оснащены раструбным отверстием с одного конца;
                    li SMU - не имеют раструбов на концах;
                p Маркировка металлического трубопровода - это значение внутреннего диаметра (DN). Чтобы определить внешний, необходимо прибавить 4-5 мм толщины стенки. Общепринятый размерный стандарт - от 50 до 400 мм DN. Длина зависит от типа. SME-трубы выпускаются длиной от 15 см. SMU-трубы, ввиду повышенной прочности, не изготавливаются больше 3 м длины. Существенным недостатком чугуна является его вес - при длине 1 м и диаметре 100 мм вес составляет 13-14 кг.
                p ПВХ-трубы для канализации бывают напорными и безнапорными. Стандартные размеры изделий соблюдаются по ГОСТ 51613-2000 и 32412-2013, которые предусматривают внешний диаметр от 32,4 до 316 мм, внутренний - от 32 до 315, толщину стенок - 2-4,7 мм. Безнапорные ПВХ-трубы выпускают длиной от 50 до 800 см и с показателями DN 50, 90, 110. Напорные представлены большим ассортиментом из 13 видов и предполагают размеры 63-316.
                p ПЭТ-трубы представлены на рынке тремя типами с определенными размерными значениями:
                ul
                    li ПНД-трубы - изготовлены по технологии низкого давления, имеют толщину стенок от 2 до 29,3 мм;
                    li Среднего давления - при толщине стенок от 2 до 46,2 мм имеют повышенную устойчивость к нагрузкам и температурным перепадам;
                    li Тяжелые - рассчитаны на использование в промышленном производстве и на крупных предприятиях;
                p Длина ПЭТ-труб для канализации варьируется в пределах 2-9 метров и зависит от диаметра. Чем больше окружность изделия, тем большую длину оно имеет. При этом вес ПНД-труб не превышает 1,5-2 кг на погонный метр.
                p Полипропиленовые канализационные трубы имеют габариты в зависимости от назначения:
                ul
                    li Стандартные 50-150 мм применяются в бытовом и наружном водоотведении и предназначены для частных коттеджей, многоэтажных домов, коммерческих предприятий;
                    li Габаритные 110-1200 мм используются в масштабных сферах промышленности, например, металлургии или машиностроении, а также для внешних водостоков;
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/lyudi-s-voprosami.jpg' alt='люди с вопросами')
                h3 Как выбрать канализационные трубы
                p Подобрать надежный и долговечный трубный материал для оборудования канализации — задача непростая, но выполнимая при соблюдении некоторых правил. Требования к канализационным трубам из чугуна, поливинилхлорида, полипропилена или полиэтилена установлены ТУ:
                ul
                    li Высокая устойчивость к внешнему и внутреннему давлению. Материал не должен прогибаться или портиться под действием механических, бытовых или природных факторов;
                    li Неподверженность влиянию агрессивных сред, химикатов, УФ-излучения, воздуха, осадков, огня, температур;
                    li Повышенная прочность, водонепроницаемость, шумоизоляция, а также отсутствие выделяемых газов или опасных соединений;
                    li Наличие гладкой поверхности внутри изделия без шероховатостей, трещин, царапин и других дефектов;
                    li Оперативность и удобство монтажа;
                p Особого внимания заслуживает выбор подходящего размера труб для канализации. Для небольших домов или помещений с малой нагрузкой следует купить канализационные трубы диаметром от 20 до 110 мм. Многоэтажки и предприятия оснащаются трубопроводом от 50 мм. Диаметр от 200 мм используется чаще в промышленности и крупном производстве. При покупке следует обращать внимание на диаметр, величину стенки, вес погонного метра и длину трубок.
                p Уклон канализационного трубопровода имеет большое значение при монтаже. Недостаточный уклон замедляет скорость перемещения водостоков, что способствует быстрому засорению. Чрезмерный уклон грозит заиливанием системы, риском срыва запора, появлением неприятных запахов из септика, попаданием воздуха и нарушением герметизации, что провоцирует коррозию.
                p Существует два способа определить подходящий уклон трубопровода:
                ul
                    li Соотношение норматива, длины и диаметра. ГОСТом предусмотрена величина 0,003, указанная в инструкции. Длина изделия, умноженная на 0,003, позволяет узнать высоту наклона. Например, при длине 4 м указана норма 0,005, вычисляем по формуле 9×0,005=0,0045. Соответственно, уклон должен составлять 4,5 мм на каждый метр конструкции;
                    li Соотношение высоты уровня воды и размера. Высота определяется специалистом — необходимо поделить величину высоты на диаметр, чтобы получить допустимое значение наклона. Все единицы измеряются в метрах. Например, при высоте 50 см и DN 110 рассчитываем по формуле 0,5:110=0,045. Это означает, что рекомендуемый уклон составляет 4,5 мм на каждый метр конструкции;
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/montazh-kanalizacionnykh-trub.jpg' alt='монтаж канализационных труб')
                h3 Монтаж канализационных труб
                p В зависимости от назначения и расположения, трубопровод можно установить стояком вертикально или горизонтально как в помещении, так и снаружи.
                p Важно учитывать степень наклона конструкции. При желании и опыте возможно провести монтаж канализационных труб своими руками, но во избежание ошибок следует вызвать мастера. Как провести монтаж ПВХ-, ПЭТ- и ПП-труб:
                ul
                    li Подготовьте строительную территорию помещения, удостоверьтесь в наличии всех необходимых отверстий и разъемов;
                    li Проверьте соединительные элементы (муфты, фитинги, раструбы) на целостность и соответствие;
                    li Проводите систему от септика на улице до сантехники в помещении, размещенной выше по уровню;
                    li Сделайте разметки на поверхности для присоединения фитингов и других элементов;
                    li Присоедините детали конструкции согласно правилам определенной модели, например, склейте концы;
                    li Нанесите на места соединения силикон, который обеспечит плотность и герметичность;
                    li Проведите опрессовку, чтобы убедиться в надежной герметизации;
                p Стоит помнить, что установкой, ремонтом или заменой вертикального стояка в жилых домах и квартирах может заниматься только квалифицированный сантехник, имеющий соответствующее разрешение на проведение работ.
                include ../partials/info-service.pug