extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Клей для теплоизоляции

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/klej-dlya-teploizolyacii.jpg' alt='клей для теплоизоляции')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Во время ремонтных работах всегда появляется много вопросов, которые связаны с теплоизоляцией. Ведь если неправильно провести эту процедуру, то жильё не приобретет такого комфорта и тепла, какое должно быть. Для такого вида работы применяется специальный клей для теплоизоляции. Он позволяет легко монтировать любой утеплить, тем самым процесс работы будет очень простым и удобным.
                p Для правильности использования клея имеются основные правила применения. Рассмотрим основные вопросы, связанные с выбором и использованием клея для теплоизоляции.
                h3 Выбор клея
                p Выбор используемого клея очень важный момент. В зависимости от того, какой клей будет приобретен, будет зависеть качество выполнения работы. Подбирая клея основывайтесь на своих финансовых возможностях, материале утепляемых стен и последующую работу с утеплением.
                p При покупке обращайте внимание на производителей клея для теплоизоляции. Выбор должен быть сделан в пользу проверенных производителей.
                p Всё разнообразие клея можно разделить на три группы:
                ul
                    li Сухая смесь. Основа в смеси цементная. Перед применением необходимы предварительные работы;
                    li Жидкий состав. Такие вещества уже готовы к использованию;
                    li Пена. В отличие от других видов является самым удобным и самым дорогостоящим клеем;
                p В зависимости от того, какую работу необходимо выполнить, подбирается определенный тип клея.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/klej-dlya-teploizolyacii-2.jpg' alt='клей для теплоизоляции')
                h3 Правила применения
                p Для правильного выполнения ремонтных работ следует придерживаться следующей инструкцией применения клея для теплоизоляции:
                ul
                    li Необходимая поверхность должна быть избавлена от грязи;
                    li Основание должно быть обработано грунтом;
                    li Для опоры всей конструкции установите цокольную планку;
                    li Клей наноситься тонким слоем. Для выравнивания можно использовать зубчатый шпатель;
                    li Работа выполняется от нижнего левого угла;
                    li Все плиты должны быть плотно прижаты. В зависимости от клея быстрота схватывания разная. От этого зависит время приклеивания, но всегда вначале остаётся немного времени, чтобы передвинуть плиту;
                    li Убирайте лишний клей сразу;
                    li Герметиком обработайте стыки;
                    li Можно использовать дюбеля с широкой шляпкой для надежной фиксации;
                p Ни в коем случае нельзя пропускать первый пункт. Если проигнорировать подготовочные работы для теплоизоляционного клея, то он плохо закрепиться и плиты будут неровно стоять, а могут и вовсе отойти от стены.
                h3 Основные виды клея
                p В зависимости от того, на какое основание будет наноситься клей и от того, что именно необходимо приклеить – подбирают вид клея.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/klej-dlya-teploizolyacii-3.jpg' alt='клей для теплоизоляции')
                        i Теплоклей
                p Если необходимо провести ремонтные работы со стекловатой, то часто применяют именно теплоклей. Клей для теплоизоляции можно наносить как своими руками, так и с помощью специальных аппаратов.
                p Клей обладает хорошей эластичностью и подходит для монтажа теплоизоляционных плит. Используемая стена должна быть бетонной, цементной или кирпичной. Расход клея для теплоизоляции будет составлять 0,2 литра чистой воды на 1 килограмм сухой смеси.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/klej-dlya-teploizolyacii-4.jpg' alt='клей для теплоизоляции')
                        i Клей для минеральной ваты
                p В основу такого клея входят полимерные добавки и фракционированный песок. Такой состав позволяется работать с плитами из минеральной ваты.
                p Клей хорош тем, что его не нужно наносить на поверхность толстым слоем, если перепады температуры будут минимальными. Перед работой стоит обработать необходимую поверхность. На ней не должно быть пыли и грязи. Так же, следует устранить непрочные участки.
                p Перед тем, как начать работу с таким клеем, поверхность необходимо обработать грунтовкой, чтобы поверхность была ровной для дальнейших работ.
                p Строительные рынки переполненными самыми разнообразными видами клея для теплоизоляции. При выборе обязательно смотрите на состав и производителя. Правильный выбор гарантирует качественное выполнение ремонтных работ.
                p Если посмотреть на фотографии клея для теплоизоляции, то можно увидеть, что прямо на упаковке написана область применения, название производителя и способ использования. Следует ознакомиться с этой информацией перед покупкой.
                include ../partials/info-service.pug