extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Коммерческие кондиционеры

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/kommercheskie-kondicionery.jpg' alt='коммерческие кондиционеры')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Коммерческие кондиционеры, обладающие мощностью от 10 до 30 кВт, занимают промежуточную позицию между агрегатами бытового назначения и промышленными системами. Использоваться они могут как в частных домах, так и в офисах, магазинах, заведениях общественного питания и других помещениях площадью до 300 м².
                h3 Кассетные кондиционеры
                p Кондиционеры кассетного типа рассчитаны на установку за подвесным потолком, который полностью скрывает внутренний блок устройства. Нижняя панель блока, через которую выводится охлажденный воздух, имеет размер стандартной потолочной плитки (600×600 мм) и закрывается декоративной решеткой. В результате кассетный кондиционер практически незаметен, и в этом заключается одно из главных его достоинств.
                h3 Канальные кондиционеры
                p Внутренний блок кондиционера канального типа тоже скрыт от глаз за подвесным потолком. Однако распределение охлажденного воздуха в данном случае осуществляется посредством системы воздуховодов, которые также размещаются в пространстве между плитами перекрытия и фальшпотолком. Именно благодаря разветвленной системе воздуховодов такой прибор может быть использован для кондиционирования воздуха сразу в нескольких соседних помещениях.
                p К недостаткам подобных кондиционеров можно отнести сложность независимого регулирования температуры воздуха в разных кондиционируемых помещениях. Для решения этой задачи требуется в воздуховоды вмонтировать клапаны с электроприводами, а во всех помещениях установить термостаты.
                p Впрочем, если не делать разграничения между жильцами разных комнат и поддерживать везде одинаковую температуру, то предпринимать каких-то дополнительных действий вам не придется.
                h3 Потолочные кондиционеры
                p Далеко не в каждом помещении есть подвесной потолок, а стены (например, выполненные из стекла) порою не позволяют установить обычную настенную сплит-систему. На помощь в этой, казалось бы, безвыходной ситуации придет напольно-потолочный кондиционер. Его отличительной особенностью является небольшая толщина внутреннего блока (обычно 20-25 см). Устанавливают такой кондиционер около стены: либо горизонтально, на потолке, либо вертикально, на полу.
                p В первом случае воздушный поток направляется вдоль потолка, во втором – вверх, вдоль стены. И в том, и в другом случае практически исключены ситуации, при которых прямой поток холодного воздуха попадает на находящихся в помещении людей, что многие, имевшие дело с кондиционерами, сочтут за огромный плюс.
                h3 Колонные кондиционеры
                p Кондиционер колонного типа обладает большим весом и поэтому не подвешивается, а устанавливается непосредственно на полу. По своим габаритам и внешнему виду он напоминает большой бытовой холодильник, однако в реалии места занимает гораздо больше, чем последний, поскольку создаваемый сильный поток холодного воздуха не позволяет продолжительное время находиться в непосредственной близости от установки.
                p Колонные кондиционеры используются в конференц-залах, холлах гостиниц, офисах, магазинах, складах и прочих помещениях, где, с одной стороны, требуется большая холодопроизводительность, а с другой – отсутствует возможность использовать стены и потолок для монтажа более привычных сплит-систем.
                h3 Наборные мульти-сплит-системы
                p Как и в случае бытовых сплит-систем, коммерческое и полупромышленное климатическое оборудование может выпускаться в виде мульти-сплит-систем. В данном случае один внешний блок может обслуживать до пяти внутренних. Мульти-сплит-системы полупромышленного назначения, в отличие от бытовых, поставляются не фиксированными комплектами, а наборными. Это означает, что покупатель вправе сам подобрать тип и мощность внутренних блоков. Ограничения есть лишь на максимальное их количество и суммарную мощность.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/invertornye-i-linejnye-kondicionery.jpg' alt='инверторные и линейные кондиционеры')
                h3 Инверторные и линейные кондиционеры
                p Все кондиционеры, вне зависимости от мощности, размера или предназначения, делятся на линейные и инверторные. Принципиальное различие этих двух разновидностей заключается в наличии или отсутствии инвертора, позволяющего плавно изменять частоту вращения двигателя компрессора и, как следствие, мощность самого кондиционера. Разберемся, что это означает с практической точки зрения.
                p <b>Линейный кондиционер</b>
                p Линейный кондиционер имеет фиксированную мощность. Если на улице не слишком жарко, а значит, для достижения ощущения комфорта охладить воздух в помещении нужно лишь незначительно, эта мощность может оказаться избыточной, но изменить ее невозможно. Именно поэтому линейные кондиционеры работают в режиме постоянных остановок и пусков двигателя компрессора (нередко такие кондиционеры даже называют стартстоповыми).
                p Когда термодатчик известит систему, что температура  воздуха в помещении опустилась на 1-2°С ниже заданного значения, компрессор попросту отключится. Когда же температура вновь повысится, компрессор снова начнет работать на полную мощность.
                p Предсказуемым недостатком подобного технического решения являются сильные колебания температуры воздуха внутри кондиционируемого помещения. Избежать этих колебаний, увы, практически невозможно: более точное поддержание заданных температурных параметров может быть достигнуто лишь путем слишком частого включения / выключения компрессора, но это чревато быстрым износом последнего.
                p Еще один существенный минус линейных моделей – поток очень холодного воздуха, исходящий из внутреннего блока. Поскольку кондиционер работает на полную мощность, воздух, проходя через испаритель, охлаждается на ~15°С вне зависимости от того, какое значение выставлено пользователем на пульте управления. Находиться под такой холодной струей очень некомфортно и, более того, небезопасно для здоровья.
                p <b>Инверторный кондиционер</b>
                p Инверторный кондиционер обладает переменной мощностью охлаждения. (В документации к подобным моделям обычно указывается не одно значение мощности, а диапазон, в котором она может меняться.) Достигается это за счет того, что в инверторе переменный ток преобразуется в постоянный, а затем обратно, но уже другой частоты. Это дает возможность плавно изменять частоту оборотов двигателя компрессора, а значит, и плавно регулировать мощность кондиционера.
                p Что это означает на практике? Если температура воздуха в помещении сильно отличается от комфортной для пользователя, компрессор будет работать на полную мощность, и воздух охладится достаточно быстро. Когда температура достигнет заданного значения (а точнее еще не достигнет, но уже максимально приблизится), компрессор не отключится, как это происходит в линейных кондиционерах, а снизит обороты. Как следствие, инверторные модели точнее, чем линейные, поддерживают заданную температуру, создавая в помещении более комфортные условия, меньше шумят и позволяют существенно экономить электроэнергию.
                p Пожалуй, единственный недостаток инверторных кондиционеров – их высокая стоимость. В противном случае они давно бы уже вытеснили линейные модели с рынка.
                include ../partials/info-service.pug