extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Кронштейны для кондиционеров

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/kronshtejny-dlya-kondicionerov.jpg' alt='кронштейны для кондиционеров')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                h3 Как выбрать кронштейны для крепления внешнего блока сплит-системы
                p Сплит система состоит из двух блоков: наружного и внутреннего. Вынесение конструктивного модуля, выполняющего функцию конденсатора, избавляет от шума компрессора в помещении. Монтаж блока осуществляется на стене, крыше и балконе. Надежность установки обеспечивают кронштейны. Крепежные элементы подбираются в соответствии с типоразмером и весом кондиционера.
                h3 Основные виды кронштейнов
                p Распространенный вариант инсталляции наружной части сплит-системы - монтаж на стене здания. Установка осуществляется на специальные кронштейны, предлагаемые в трех модификациях:
                ul
                    li Опорная конструкция, изготовленная из двух металлических уголков, сваренных под углом 90°. Толщина стали 2-2,5 мм. Модель популярна благодаря доступной стоимости и возможности самостоятельного изготовления. Сварной шов - слабое место конструкции. Под действием погодных факторов (влаги, мороза) в нем начинаются коррозийные процессы. Уголки не имеют дополнительных ребер жесткости, значительный вес модуля приводит к деформации;
                    li Уголки с резьбовым соединением деталей. Конструкция собирается перед монтажом. Комплект включает 2 настенных и 2 горизонтальных швеллера. По прочности не уступает сварному шву. Крепеж проходит заводскую обработку от коррозии;
                    li Кронштейн для крепления наружного блока кондиционера с горизонтальной планкой. Дополнительный элемент усиливает конструкцию, позволяет равномерно распределить нагрузку. Универсальная система упрощает монтаж, достаточно выровнять планку по горизонтали. Единственный недостаток - высокая цена;
                h3 Требования к креплению
                p Для установки кондиционера требуется два кронштейна, изготовленных из П-образного или Г-образного профиля. Опорные элементы состоят из вертикальной и горизонтальной стойки. На них в заводских условиях выполнены отверстия круглой и овальной формы. Сквозь них осуществляется крепление опоры к стене. Перфорация отличается точной геометрией. На вертикальной стойке ряд отверстий под анкера, фиксирующие опору к фасаду здания. Горизонтальная планка имеет паз для крепления наружного блока сплит-системы.
                p Кронштейн, удерживающий внешний модуль кондиционера, постоянно подвергается статической нагрузке. К нему предъявляются требования по прочности и коррозийной устойчивости:
                ul
                    li Технические характеристики кронштейна должны соответствовать весу и габаритам наружного блока кондиционера. Минимальная толщина металла 1,5 мм. Стойки меньшего размера могут прогнутся под нагрузкой. Длина и ширина вертикальной и горизонтальной планки имеют стандартные значения для различных моделей кронштейнов. Несоответствие им приводит к снижению прочности опоры;
                    li Обработка поверхности - защита креплений от влажности и негативного воздействия погодных условий продлевает срок эксплуатации. Возникновение коррозии ослабляет металл, теряется надежность опорных элементов. Покрытие должно быть устойчиво к механическому воздействию, иначе в процессе монтажа появятся царапины. Нарушение целостности слоя краски ведет к появлению ржавчины. Качественная антикоррозийная обработка наносится равномерно, обеспечивает гладкую поверхность;
                    li Монтаж крепления выполняется через имеющиеся отверстия. Не допустимо сверление дополнительных пазов. Разрушение защитного покрытия деталей приводит к скорой коррозии и потере прочности;
                    li Поверхность стоек должна быть ровной, края отверстий тщательно обработанными. Зазубрины и выступы препятствуют качественной установке наружного блока;
                h3 Материалы для производства и покрытие
                p Кронштейны изготавливаются из стали и полиамида. В первом случае применяется сортовой металл толщиной от 1.5 мм. В качестве покрытия используется:
                ul
                    li Эмаль - недорогой вариант, который обеспечит аккуратный внешний вид и защиту от влаги на 2-3 года;
                    li Оцинковка - покрытие наносится на заводе гальваническим методом;
                    li Порошковая полимерная краска - долговечный вариант, обеспечивающий эстетическую привлекательность и антикоррозийную защиту. Покрытие устойчиво к истиранию, механическому и химическому воздействию, солнечному свету. Распространенные цвета: белый, серый;
                    li Производители снабжают кронштейны сертификатом качества. Изделия, прошедшие проверку и соответствующие стандартам безопасности, имеют такой документ. От покупки несертифицированных деталей лучше отказаться;
                    li Лучшими техническими характеристиками обладает кронштейн для сплит-системы, изготовленный из нержавеющей стали. Он прочный, не поддается коррозии, исключает появление ржавых потеков на фасаде. Минус - цена изделий в 2-3 раза выше уголков из окрашенной стали;
                p Крепеж из полиамида рекомендуется при монтаже кондиционера на каркасные дома. Пластик не подвержен коррозии, его устанавливают в регионах с морским климатом. Материал хорошо гасит вибрацию, устойчив к ультрафиолету и смене температуры. Производством полиамидных конструкций занимаются в Италии. К недостаткам изделий относится стоимость, превышающая в 5 раз цену стальных уголков. Этот минус препятствует популярности пластиковых кронштейнов.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/bumaga-ruchka.jpg' alt='бумага и ручка')
                h3 Критерии выбора крепления для кондиционера
                p При выборе кронштейнов учитывают следующие факторы:
                ul
                    li Особенности стены здания. Наличие утеплителя или вентилируемого фасада требует удлинения крепежа. Пенопласт и другой теплоизоляционный материал не является надежным основанием для установки техники. Потребуются металлические шпильки;
                    li Крепеж для кондиционера подбирается в соответствии с материалом стены. Фасад из газобетона обладает низкой устойчивостью на разрыв. Для монтажа используются специальные анкера и дюбеля из металла или полиамида. Поверхность стены должна быть ровной, это обеспечит плотное прилегание стоек и уменьшит уровень вибрации;
                    li В характеристиках кронштейнов указывается рекомендованная нагрузка. Она должна соответствовать весу инсталлируемого кондиционера. Значение максимальной нагрузки в 2 раза превышает номинальное значение. Запас прочности необходим для исключения перегрузки при намерзании льда в зимний период;
                    li Для наружных блоков весом более 120-150 кг требуются усиленные кронштейны. Опоры изготавливаются из металла толщиной 3 мм;
                    li При покупке нужно обратить внимание, предусмотрены ли в комплекте метизы. В зависимости от модели потребуется 4-6 дюбелей, 4-6 винтов диаметром 10-12 мм. Для закрепления внешнего блока необходимо 4 оцинкованных болта размером 8 (10) на 50 мм, 4 гайки и 8 шайб;
                    li Уровень шума работающего кондиционера не должен превышать показателей, комфортных для людей, проживающих в соседней квартире. Для снижения вибрации устанавливаются специальные резиновые шайбы. Виброгасители подбираются по весу конденсаторного модуля сплит-системы;
                p Размеры планок подобраны под климатическую технику различной мощности и габаритов. Большинство бытовых сплит-систем монтируется на кронштейны размером 450×450 мм или 450×500 мм. Метизы выбираются в соответствии с нагрузкой, вес наружных блоков колеблется в пределах 36-150 кг. Кондиционеры высокой мощности требуют большей опорной площади крепежа, для них рекомендуются изделия размером 1000×700 мм, 1200×1000 мм.
                p Бесперебойность и долговечность работы кондиционирующей системы зависит от соблюдения правил монтажа. Внутренний блок устанавливается на специальную пластину, закрепленную четко по горизонту. Внешняя часть размещается с северной или восточной стороны (вдали от солнечных лучей). При выборе размеров крепления учитывается требование по установке наружного модуля на расстоянии в 10-15 см от стены. Промежуток необходим для свободного отвода горячего воздуха.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/instrukciya-po-montazhu.jpg' alt='инструкция по монтажу')
                h3 Инструкция по монтажу:
                ul
                    li Кронштейны прикладываются к стене в месте установки кондиционера. Положение деталей выравнивается по строительному уровню;
                    li Сквозь перфорацию выполняется разметка;
                    li Стойки убираются. Дрелью высверливаются отверстия в стене. Забиваются дюбеля;
                    li Опорные элементы возвращаются на место и закрепляются болтами. Проверяется плоскость монтажа и прочность соединения;
                p От правильного выбора и монтажа кронштейна зависит эффективность работы климатического оборудования. Не менее важно обеспечить безопасность людей, припаркованной техники и других предметов, находящихся под блоком. Выбор опорной консоли основывается на характеристиках кондиционера.
                include ../partials/info-service.pug