extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Круглые переходы

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/kruglye-perekhody.jpg' alt='круглые переходы')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Переход круглого сечения используется для изменения диаметра воздуховода и смещения его оси на определенную величину, при необходимости. Переход вентиляционный круглого сечения производится из оцинкованной, нержавеющей и черной стали толщиной от 0,5 до 1,0 мм.
                p Диаметры, длина, площади и вес отдельных товарных позиций указаны в таблице, представленной на данной странице нашего сайта.
                p Продаем переходы с круглого сечения на круглое следующих типов:
                ul
                    li Центральные;
                    li Односторонние;
                    li Со смещением;
                p Предоставляемые гарантии:
                ul
                    li Работаем на договорной основе;
                    li Осуществляем доставку продукцию по всей России;
                    li Помогаем клиентам определиться с выбором, оформлением и оплатой заказов;

                .product__body-images.product__body-images--flex
                    div
                        h3 Переход центральный
                        .product__body-group
                            img(src='/assets/product/img/kruglye-perekhody-centralnye.jpg' alt='круглые, центральные переходы')
                            img(src='/assets/product/img/kruglye-perekhody-centralnye-skhema.jpg' alt='схема круглых, центральных переходов')
                    div
                        h3 Переход односторонний
                        .product__body-group
                            img(src='/assets/product/img/kruglye-perekhody-odnostoronnie.jpg' alt='круглые, односторонние переходы')
                            img(src='/assets/product/img/kruglye-perekhody-odnostoronnie-skhema.jpg' alt='схема круглых, односторонних переходов')
                    div
                        h3 Переход со смещением
                        .product__body-group
                            img(src='/assets/product/img/kruglye-perekhody-so-smeshcheniyami.jpg' alt='круглые переходы со смещением')
                            img(src='/assets/product/img/kruglye-perekhody-so-smeshcheniyami-skhema.jpg' alt='схема круглых переходов со смещением')

            include ../tables/kruglye-perekhody.pug