extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Круглые воздуховоды

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/kruglye-vozdukhovody.jpg' alt='круглые воздуховоды')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Воздуховоды данного типа отличаются высочайшей прочностью из-за наличия спирального фланца и дополнительного ребра жесткости.
                p Круглые оцинкованные воздуховоды активно используются при обустройстве вентиляции любых зданий, имея практически неограниченный срок службы при условии квалифицированного монтажа и соблюдения правил эксплуатации.
                p Основные характеристики изделий:
                ul
                    li Выполнены из оцинкованной стали толщиной 0,5-1 мм;
                    li Диаметр сечения варьируется от 100 до 1250 мм;
                    li Длина может составлять 3-6 м;
                p Их практические преимущества обусловлены качеством используемых при производстве материалов и конструктивными особенностями, обеспечивающими:
                ul
                    li Равномерность распределения потоков воздуха при серьезном давлении и скорости;
                    li Высокую эффективность при незначительных размерах;
                    li Конструктивную надежность;
                    li Высокие показатели энергосбережения за счет меньшего сопротивления;
                    li Простоту установки и обслуживания.
                    li Более низкую цену, если сравнивать с прямоугольными аналогами.
                include ../partials/info-service.pug

            include ../tables/kruglye-vozdukhovody.pug