extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Круглые заглушки

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/kruglye-zaglushki.jpg' alt='круглые заглушки')
                .product__header-text
                    p Заглушки для вентиляции устанавливаются на окончание круглых воздуховодов или других фасонных изделий с помощью герметика.
                    p Предупреждают утечку воздуха, защищают систему от попадания пыли, мусора, грязи. Применяются при демонтаже или ремонте отдельных участков, чтобы сохранить работоспособность остальной конструкции.

                    p Изготавливаем изделия из оцинкованной стали, которые защищают от механических повреждений, не склонны к коррозии, развитию плесени, грибка, не боятся перепадов температур, влаги. Могут использоваться внутри или снаружи помещений.

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Предлагаем различные диаметры, длину, толщину под вашу систему, продукция совместима с нашим вентиляционным оборудованием, а также с решениями других производителей.

            include ../tables/kruglye-zaglushki.pug