extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Перфорированные ленты

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/lsp.jpg' alt='перфорированные ленты')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Перфорированная монтажная лента – это высокопрочное крепежное изделие, применяемое для стягивания или соединения отдельных элементов единой системы.
                p Универсальность ее заключается в том, что лента монтажная перфорированная применима к любым поверхностям:
                ul
                    li Бетону;
                    li Металлу;
                    li Дереву;
                    li Камню или кирпичу;
                p Даже в труднодоступных местах ее легко использовать, обеспечивая при этом надежность соединения элементов конструкции.
                h3 Описание
                p Перфолента – это перфорированная полоса, покрытая защитным слоем и имеющая в своей конструкции отверстия для шурупов, саморезов или болтов. Изготовленная из  низкоуглеродистой стали, она служит до десяти лет. Для различных целей лента крепежная выпускается разной толщины и ширины.
                p Этим современным материалом усиливаются элементы строительных конструкций, благодаря использованию перфорированной ленты повышается надежность и жесткость соединения.
                p Надежность крепления строительных узлов, к которым  применяется перфолента, является ее основной особенностью. Востребованной в строительных работах ее сделали простота применения и низкая стоимость.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/lsp-2.jpg' alt='перфорированные ленты')
                h3 Разновидности перфорированной ленты
                p На сегодняшний день производится три вида крепежной ленты:
                ul
                    li Тонкая, используемая для соединения легковесных деталей;
                    li Волнистая, применяемая при установке системы кондиционирования и вентиляции;
                    li Усиленная, необходима для соединения элементов, которые обладают большой массой;
                p По форме отверстий и их расположению на перфоленте легко определить ее основную функцию.
                h3 Область применения перфоленты
                p Как правило, оцинкованную монтажную перфорированную ленту применяют при оборудовании систем отопления и вентиляции, воздухопроводов, кабельных линий, монтаже трубопроводов. Также ее используют в ходе изготовления теплого пола для соединения  нагревательного кабеля и бетонной поверхности.
                p Также монтажная лента применяется, если необходимо:
                ul
                    li Создать подвесы и крепежные хомуты;
                    li Усилить несущие конструкции;
                    li Усилить оконные проемы и углы гипсокартонных конструкций;
                    li Закрепить провода и кабель при электромонтажных работах;
                    li Армировать кирпичную кладку;
                    li Усилить стропильные подпорки при строительстве деревянных домов;
                    li Фиксировать деревянную тару;
                    li Скрепить пакеты листового материала;
                include ../partials/info-service.pug