extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Медная отожженная труба

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/mednaya-otozhzhennaya-truba.jpg' alt='медная отожженная труба')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Для частного строительства можно приобрести два вида медных труб для монтажа водопровода, системы отопления или газопровода – отожженные и неотожженные. Чаще используется именно отожженные, что не удивительно, если иметь в виду качества, которые медь приобретает в следствии термической обработки.
                p Отожженную медь называют мягкой. Чтобы изменить качества, медная труба нагревается до 600–700 градусов и медленно охлаждается (проходит отпуск). Труба медная отожженная имеет совершенно другие свойства, чем неотожженная – уменьшается прочность, но повышается пластичность и показатели на разрыв – перед тем, как разорваться, она растягивается в полтора раза.
                p Труба медная отожженная – самая пластичная из всех материалов, применяемых в монтаже трубопроводов. Она позволяет значительно сэкономить на стоимости монтажа, благодаря низкой цене арматуры и крепежа. Если используются зажимные фитинги или пайка, то трубопровод прослужит не одному поколению.