extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Метизы

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/metizy.jpg' alt='метизы')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                h3 Метизы
                p Метиз является обобщённым понятием различных металлических изделий, которым относятся: гайки, болты, саморезы, стальной канат, гвозди и подобное.
                p В большинстве случаев под понятием «метизы» понимают только крепёжные изделия, но по это не так, крепёжные изделия являются только составной частью метизов.
                p К метизам, помимо крепёжных продуктов, относятся сетки, скобяные изделия, электроды и многое другое.
                p Метизы подразделяются на две большие группы: метизы широкого назначения и промышленные метизы.
                p К метизам широкого назначения относятся металлопродукты использующиеся в обиходе людей: ножницы, пилы, ножи, с/х продукты и многое другое.
                p Промышленные метизы включают в себя огромное количество изделий, куда входят, крепёжные изделия, которые применяются в различных областях сфер промышленной деятельности, железнодорожные заклёпки, стальная лента, проволока, сетки, канаты итд.
                p Благодаря своей специфике применения наиболее распространёнными и востребованными продуктами, относящимися к метизам являются крепёжные изделия, из-за чего и в обиходе и стало обычным под понятием «метиз» понимать исключительно крепёжные элементы.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/fiksiki.jpg' alt='фиксики')
                h3 Давайте рассмотрим крепёжные метизы более подробно
                p Наиболее популярными и востребованными крепежными изделиями являются строительные метизы, с помощью, которых происходит соединение трубопроводной арматуры, составных частей автомобилей, станков или других конструкций.
                p Крепёжные строительные метизы подразделяются на две подгруппы:
                ul
                    li крепёжные изделия с определённым шагом резьбы (винты, шпильки, гайки, болты итд.);
                    li крепёжные изделия различных конфигураций и форма (шурупы, гвозди, анкера, скобы, дюбели итд);
                p Давайте рассмотрим наиболее встречающиеся крепёжные метизы:
                ul
                    li Болт – представляет собой крепёжную делать для разъёмного соединения, который является по своей сути стержнем с резьбой на одном конце и специальной головкой на другом (как правило, 4-х или 6-ти граненая);
                    p Для производства болтов используют низколегированную, углеродистую стали, или специальные стали, так же встречаются изделия из латуни других материалов.
                    p Имеющаяся на болте резьба предназначена для навинчивания гайки.
                    p Болты производятся, как с полной, так и не полной резьбой (относительно длинны стержня болта).
                    li Шпилька, представляет собой крепёжную деталь в виде металлического стержня с резьбой, которая нарезана с обоих концов;
                    p Одной из особенностей является отсутствие оголовка, что позволяет использовать шпильки совместно с другими монтажными элементами такими, как гайка. Также шпильки имеют различные конструктивные особенности и диаметр. За счет этого вы всегда сможете подобрать наиболее подходящее изделие для выполнения конкретно вашей специфики задач.
                    p В процессе своего использования один конец шпильки навинчивается в одну деталь, а вторая соединяемая деталь прижимается к первой с помощью навинчиваемой гайки.
                    p Шпильки бывают разной длинны, достаточно популярны метровые и двухметровые шпильки. Основной сферой использования является монтаж трубопроводных арматур, где существует недостаток длинны болтов трубопровода.
                    li Анкеры, забиваемые в элементы строительных конструкций, – это изделия, за счет которых на таких конструкциях закрепляются различные предметы, обладающие даже значительной массой. В отличие от дюбелей, с которыми часто путают забивные анкеры, последние отличаются более сложной конструкцией, что и позволяет им обеспечивать высочайшую надежность крепления. Основным элементом конструкции такого анкера является забиваемый элемент (поэтому его и путают с дюбелем), в который затем вкручивают шпильку или болт, на которых фиксируется закрепляемый предмет.
                    p В зависимости от назначения анкеры могут изготавливаться из высокопрочного метала или обычной углеродистой стали. Поверхность таких изделий может подвергаться дополнительной обработке, что позволяет надежно защитить их от коррозии и продлить срок эксплуатации. Большой популярностью также пользуется латунный анкер, отличающийся достаточно высокой прочностью и исключительной устойчивостью к воздействию агрессивных сред. Кроме того, анкер латунный обладает высокой пластичностью, что значительно облегчает монтаж такого крепежного изделия.
                    li Гайка является одной из наиболее распространённых деталей среди метизов данного типа. Гайка имеет внутреннею резьбу, которая необходим для навинчивания её на болт, винт или шпильку;
                    p Гайка достаточно разнообразно, выделяют, как колпачковые гайки, крепёжные, гайки удлинители.
                    li Шайба является, так называемой вспомогательной деталью, которая подкладывается под гайку или головку винта;
                    p Существуют шайбы общего назначения, функцией которых является увеличение площади опоры (весьма важно, когда мы имеем дело с мягкой поверхностью).
                    p Кроме этого существуют сферические и косые шайбы, функция которых это устранение перекоса гайки и головки винта при закручивании (затяжке).
                    li Пружинная шайба представляет собой разрезанную круглую шайбу в виде своеобразного конца, при этом эти конца расположены в различных плоскостях. Применение данных шайб обусловлено их функцией – предотвращение самоотвинчивания крепёжных изделий (под нагрузкой);
                    li Винт – деталь разъёмного соединения, которая представляет стержень с резьбой на одном конце и шляпкой на другом (с прорезью под отвёртку);
                    p Главным образом винты используются для прикрепления деталей к поверхности.
                    li Шуруп по своей сути является разновидностью винта, при этом он имеет конусную форму, и предназначен для ввинчивания (так же есть резьба) в материалы подвергающиеся деформации (дерево, мягкий металл итд).  Саморезы являются разновидностью шурупа. Головка шурупа имеет прорези для отвёрток;
                    li Гвоздь является достаточно древним представителем данной группы и при этом одним из наиболее востребованных. По своей сути гвоздь представляет стальной стержень со шляпкой на одной стороне и остриём на другой. Применяется для сколачивания различным предметов. В целом гвозди представляют собой большую группу, в состав которых входят разные виды гвоздей;
                //- .product__body-images
                //-     .product__body-group
                //-         img(src='/assets/product/img/lsp-2.jpg' alt='перфорированные ленты')
                include ../partials/info-service.pug