extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Монтажная пена

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/montazhnaya-pena.jpg' alt='монтажная пена')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p На сегодняшний день ни одна стройка или ремонт не обходятся без герметизирующих средств. Самыми распространенными из них являются монтажная пена и герметик. Зачастую новички принимают эти два продукта за один. Герметик используются для достижения точных и «ювелирных» целей герметизации. Он отлично справляется с задачей при уплотнении швов шириной менее трех сантиметров. А как быть при герметизации и уплотнении более массивных элементов? Для этих целей следует использовать монтажную пену, о которой и пойдет речь в данной статье.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/montazhnaya-pena-1.jpg' alt='монтажная пена')
                h3 Монтажная пена - виды, применение, рекомендации
                p Монтажная пена представляет собой смесь изоцианата и полиола, с добавлением различных катализаторов, вспенивателей и стабилизаторов. Незначительно изменяя соотношение этих составляющих, производители выпускают монтажную пену с различными степенями жесткости и кинетикой расширения. Смешав необходимые компоненты, смесь помещают в аэрозольный баллон вместе с пропеллентом (смесь газов, вытесняющих смесь и способствующих образованию «пузырьков). Именно в форме металлических аэрозольных баллонов монтажная пена доходит до потребителя.
                p Под давлением пропеллента, смесь выходит из баллона и вступает в реакцию с водой, находящейся в воздухе и на наносимой поверхности. Процесс застывания пены называется полимеризацией. Наблюдая прямую зависимость реакции от влажности, нетрудно догадаться, что процесс застывания пены будет проходить намного быстрее при опрыскивании её водой. В итоге мы получаем твердый пенополиуретан - легкое упругое пористое вещество светлого цвета.
                p Монтажная пена делиться на несколько видов и классов:
                ul
                    li Летняя, зимняя и всесезонная;
                    li Однокомпонентная и двухкомпонентная;
                    li Бытовая и профессиональная;
                h3 Свойства пены
                p Свойства монтажной пены позволяют решать обширный круг задач строителям, оконщикам, сантехникам, простым дачникам и многим другим. Выделим наиболее значимые из них:
                ul
                    li Герметизация является основным предназначением монтажной пены. Ее уплотняющий эффект особенно полезен для заполнения отверстий и полостей в бетоне, гипсокартоне и кирпичной кладке;
                    li Теплоизоляционные свойства пенополиуретана обусловлены его низкой теплопроводностью (от 0,019 Вт/м К. до 0,023 Вт/м К.). Например слой пенополиуретана толщиной в 2,5 см имеет теплопроводность, идентичную деревянному брусу толщиной в 19 сантиметров или кирпичной стене толщиной в полметра;
                    li Звукоизоляция. Как сказано выше, после застывания монтажная пена представляет собой пористый материал. Поры являются изолированными друг от друга ячейками и наполнены воздухом. Такая структура является стойкой и эффективной преградой для звуковой волны;
                    li Монтажные свойства пены применяют при креплении и фиксации конструкций из металла, дерева и ПВХ. Например, при установке оконных конструкций или для дополнительного закрепления водопроводных труб;
                p Благодаря вышеперечисленным свойствам, монтажная пена, пользуется огромным спросом, который в свою очередь рождает не меньшее количество предложений. На рынке можно встретить колоссальное количество наименований от десятков производителей. Далее мы расскажем вам как не запутаться в ассортименте и выбрать именно тот продукт, который ответит всем вашим требованиям. Монтажная пена различается по нескольким типам.
                h3 Температура применения монтажной пены
                p У каждой монтажной пены есть свой температурный диапазон. Как вы помните, процесс полимеризации (застывания пены) напрямую зависим от влаги. Значение абсолютной влажности воздуха не постоянно и изменяется в течение года. Например, если значение на градуснике показывает отметку в 10 градусов ниже нуля, то это значит, что на один кубометр воздуха приходится лишь 3 грамма воды. А при плюсовой температуре в 23-25 градусов, в точно таком же кубометре будет уже более 20ти граммов воды. При ограниченном количестве влаги, застывание будет проходить медленно, что грозит нарушений структуры материала. Производители решили эту проблему путем добавления в пену компонентов, способствующих ускорению застывания. Летняя пена имеет диапазон использования от +4 до +36 градусов тепла. Зимняя пена способна застывать при - 12, а некоторые производители заявляют о возможной эксплуатации даже при значении в 16 градусов ниже нуля. При эксплуатации зимой, для наибольшей эффективности и качества полимеризации, советуем перед началом эксплуатации поместить баллон в таз с горячей водой. Далее уже теплый баллон необходимо очень тщательно встряхнуть.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/montazhnaya-pena-2.jpg' alt='монтажная пена')
                h3 Способы эксплуатации монтажной пены
                p Помимо температурных различий, монтажная пена делится на бытовую и профессиональную.
                p Профессиональная монтажная пена направлена на проведение больших объемов работ. Для её нанесения используют специальный монтажный пистолет с длинной трубкой. Для этого баллоны с профессиональной пеной оснащены резьбой и клапанами. Трубка пистолета позволяет удобно и качественно наносить материал в труднодоступных местах. Благодаря точной регулировке подачи пены, материал расходуется намного экономичней в сравнении с бытовым вариантом. Сразу после использования, пистолет необходимо промыть специальным средством «очиститель монтажной пены. Это необходимо для предотвращения застывания пены внутри пистолета.
                h3 Состав монтажной пены
                p Монтажная пена также различается на однокомпонентную и двухкомпонентную.
                p Достаточно длительный срок производители выпускали только однокомпонентную монтажную пену, которая удовлетворяла потребности строителей. При ее производстве изоцианат и полиол смешивают на заводе и полученную однородную смесь помещают в аэрозольные баллоны. Самый большой недостаток такого продукта – срок хранения и время застывания. Уже через год баллон с однокомпонентной пеной можно отправлять на помойку, так как его содержимое безвозвратно затвердеет.
                p Отличие двухкомпонентной пены в том, что два основных компонента (изоцианат и полиол) находятся в отдельных друг от друга полостях аэрозольного баллона. На дне находится затвор, который не дает этим компонентам смешиваться. Перед началом работы необходимо удалить затвор, путем прокрутки специального колёсика, находящегося также на дне баллона, но уже с внешней стороны. После этого требуется запустить химическую реакцию, тщательно встряхнув баллон для полного соединения компонентов. Помимо продолжительного срока хранения, у данного типа пены есть еще одно, не менее важное преимущество – длительность застывания составляет всего 20-30 минут. К сожалению, двухкомпонентный вариант даст меньший объем материала, несмотря на свою высокую стоимость.
                h3 Рекомендации по использованию пены
                p Мы рекомендуем работать с монтажной пеной только в униформе, так как шансы очистить её с одежды равны нулю. Не стоит забывать и про перчатки. Если пена застыла на поверхности кожи – приготовьтесь провести с пемзой немало счастливых минут. В незастывшем состоянии пену можно удалить с кожи с помощью растворителя.
                p Предварительно увлажните поверхность, на которую собираетесь нанести материал. Далее тщательно трясите баллон не меньше минуты. Это поможет добиться однородности всего содержимого баллона. При неполном смешивании компонентов на выходе вы получите не пену, а тягучую массу с невнятными свойствами.
                p Во время эксплуатации баллон необходимо держать кверху дном. Это обусловлено тем, что пропеллент, вытесняющий смесь, легче других компонентов.
                p Перед использованием пены необходимо понимать, что после нанесения она расширяется в несколько раз. Излишки пены могут сильно деформировать материал, с которым происходит работа.
                p Также считаем важным сообщить, что пенопропилент разрушается под действием ультрафиолета (солнечных лучей). Для сохранности структуры и формы пены, её необходимо шпаклевать.
                //- .product__body-images
                //-     .product__body-group
                //-         img(src='/assets/product/img/mednye-fitingi.jpg' alt='медные фитинги')
                include ../partials/info-service.pug