extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Нейлоновый хомут

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/nejlonovyj-khomut.jpg' alt='нейлоновый хомут')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Нейлоновые хомуты нужны для крепления кабеля, электрических проводов. Нейлоновыми клипсами ксс делают маркировки, прикрепляют провода к несущим конструкциям.