extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Ниппели

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/nippeli.jpg' alt='ниппели')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Ниппели - это фасонные изделия, которые позволяют соединять между собой воздуховоды одного диаметра.
                p Производятся ниппели вентиляционные из того же материала, что и сами воздуховоды.
                p С помощью ниппелей, воздуховоды можно быстро соединить простым круговым движением - они вставляются в ниппель с разных сторон, после чего соединение готово и можно продолжить работу с другими элементами системы вентиляции.
                p Основные размеры ниппелей для соединения воздуховодов – это его диаметр и длина. Оба значения стандартизированы. Диаметр подбирается из расчета сечения соединяемых труб, а соответственно длина элемента из расчета его диаметра. При этом в таблицах ГОСТов есть дополнительные показатели, которые определяю площадь самого ниппеля и его вес.

            include ../tables/nippeli.pug