extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Огнезащита трубопроводов

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/ognezashchita-truboprovodov.jpg' alt='огнезащита трубопроводов')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Огнезащита трубопроводов позволяет увеличить их огнестойкость и избежать негативных последствий возгорания. Повышение температуры, возникающее при пожаре, негативно влияет на состояние металлических трубопроводов, что может завершиться полных обрывом коммуникаций и крупными разрушениями. Специалисты нашей компании проводят обработку металлических и пластиковых труб огнезащитными термостойкими составами, что заметно увеличивает период сопротивления теплу и огню.
                h3 Действие системы огнезащиты
                p Система огнезащиты создает препятствие для потока тепла, замедляет нагревание металла, препятствует плавлению, сохраняет прочность трубопровода и первоначальную форму. Высокая гидро, электроизоляции, а также продуманная защита от огня необходимы как для наземных, так и подземных трубопроводов. Для того, чтобы достичь максимального эффекта, огнезащитные материалы должны быть пластичными, способными выдержать нагрузки и обеспечивающими хорошее сцепление с основой. Есть разные виды огнезащиты, которая подбирается отдельно для каждого объекта.
                h3 Основные виды огнезащиты
                p Для увеличения огнестойкости трубопроводов применяют три основных метода:
                ul
                    li Нанесение огнестойкой краски и теплоизолирующего состава. При резком повышении температуры воздуха выкрашенная поверхность начинает пениться с выбросом химического вещества - углеродно-фосфатного пенококса, который препятствует горению. Таким образом можно увеличить огнестойкость трубопроводов любого типа с 15 до 240 минут;
                    li Формирование базальтового слоя. Базальт - хороший изоляционный материал, который не подвержен горению. Базальтовые маты толщиной от 2 до 100 см используют в качестве изолирующего слоя. Они гибкие, ими можно обернуть трубы любого диаметра, в том числе, на сложных участках трубопроводов. Для крепления используют термостойкий клей или стальную ленту. Базальтовый мат защищает трубы от огня в течение часа;
                    li Противопожарные муфты. Установка муфт является методом пассивной защиты от огня. Как правило, их монтируют в процессе строительства здания - там, где трубопроводы проходят сквозь внутренние ограждения. Муфты используются для труб из ПВХ (или ПЭ). При увеличении температуры объем муфты увеличивается, образуя блокирующую отверстие прослойку. Это защищает не только трубопровод, но само здание. Расширение начинается уже при 170°С, процесс занимает не более 5 минут;
                p <b>В нашей компании</b> вы можете заказать профессиональную огнезащиту трубопроводов любого диаметра и назначения. Наши специалисты подберут оптимальный состав либо метод механической защиты от огня. Подбор краски происходит с учетом свойств материала, из которого изготовлены трубы, а также особенностей окружающей среды. Правильное использование огнезащиты позволит не только предупредить серьезные последствия пожара, но и значительно увеличить срок эксплуатации трубопровода.
                include ../partials/info-service.pug