extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') PAV-B диффузоры

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/pav-b-diffuzory.jpg' alt='pav-b диффузоры')
                .product__header-text
                    p Диффузоры вытяжные круглой формы PAV-B предназначены для подачи и удаления воздуха системами вентиляции и кондиционирования, а также может использоваться в качестве запорного клапана при отключении системы вентиляции или отдельных ее участков.

                    p Монтаж осуществляется с помощью присоединительного патрубка, который крепится на самонарезающих винтах к стенкам воздуховода или к подшивному потолку.

                    p Присоединительный патрубок поставляется в комплекте с диффузором.

            //- include ../tables/pav-b-diffuzory.pug