extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Приточно-вытяжные вентиляционные установки СВАН

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/pritochno-vytyazhnye-ventilyacionnye-ustanovki-svan.jpg' alt='приточно вытяжные, вентиляционные установки сван')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Приточно-вытяжные вентиляционные установки низкопрофильные СВАН предназначены для создания и поддержания в обслуживаемых помещениях промышленных и общественных зданий и сооружений искусственного климата с заданными параметрами путём обработки и подачи воздуха.
                p Приточно-вытяжные вентиляционные установки компонуются из отдельных блоков, имеющих унифицированные присоединительные размеры. Агрегаты устанавливаются на металлической опорной раме.
                p Агрегаты могут устанавливаться как в горизонтальном, так и в вертикальном положении за исключением агрегатов, имеющих в своём составе блок воздухоохладителя. Агрегаты с блоком воздухоохладителя могут устанавливаться только горизонтально.
                p Набор блоков агрегата и их расположение в агрегате определяется заданной технологией обработки воздуха на объекте.
                p В качестве блока вентиляторов используются вентиляторы серии ВИПм с пониженными шумовыми характеристиками через стенки.
                p Воздухонагреватели водяные типа Т-КВД имеют теплообменную поверхность из двух или трёх рядов медных трубок, oребренных пластинками из алюминиевой фольги. Трубные коллекторы стальные с подсоединительными патрубками с наружной трубной резьбой 1".
                p Агрегаты могут комплектоваться воздухоохладителями как водяными, так и фреоновыми типа ВOКФ, а также компрессорно-конденсаторными блоками (ККБ). ККБ оснащены собственной системой управления.
                p Максимальные параметры теплофикационной воды, на которые рассчитаны воздухонагреватели:
                ul
                    li температура воды, не более 180 °С;
                    li давление, не более 1,6 МПа;