extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Профильные трубы

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/profilnye-truby.jpg' alt='профильные трубы')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Для изготовления металлопрофиля применяется метод горячей или холодной деформации, сварка, а также комбинированный способ.
                p Труба может быть холоднодеформированной или горячедеформированной. Для получения нужных форм/размеров заготовки проходят через специальный формовочный станок. Горячая деформация отличается тем, что подразумевает применение давления при высокой температуре. Изделия производят из низкоуглеродистой, низколегированной, а также оцинкованной стали. Нержавейка и медные сплавы устойчивы к коррозии, но их цена на порядок выше.
                p Технология сваривания включает три основных этапа:
                ul
                    li Листы металла проходят через конвейер, где проверяются на наличие дефектов;
                    li Нарезка на ленты, которые в дальнейшем будут свариваться друг с другом электросваркой высокочастотными токами;
                    li Последний этап - охлаждение эмульсионными составами;
                p При комбинированном методе трубы изготавливают так:
                ul
                    li Из стальных листов делают штрипсы (заготовки);
                    li Для получения нужного типоразмера заготовки соединяют путем сваривания металла;
                    li На формовочном стане из штрипса формируется изделие нужного сечения с ребрами жёсткости;
                p Готовые изделия проходят многоступенчатый контроль качества и проверку на соответствие ГОСТам 30245-2003, 8645-68.
                h3 Виды профильных труб
                p Отличаются профтрубы по форме сечения. Кроме типовых прямоугольника, квадрата, овала выпускаются нестандартные фигуры - треугольник, многоугольник, звезда.
                p <b>Квадрат</b>
                p Квадратная форма позволяет сохранять устойчивость конструкции и выдерживать значительные нагрузки. Такую трубу легко транспортировать и монтировать. Это универсальный материал для широкого применения: армирование каркаса стен, устройство перекрытий там, где от конструкции требуется жесткость и прочность.
                p <b>Прямоугольник</b>
                p По характеристикам прочности прямоугольный металлопрофиль не уступает квадратному. Используется в случаях, когда нужно снизить вес конструкции без потери основных эксплуатационных характеристик.
                p <b>Овал</b>
                p Профтрубы с овальным сечением применяются в качестве декоративного элемента. Например, для устройства металлических ограждений, навесов, беседок. Овальные изделия отличаются небольшой толщиной стенок - от 0,5 мм до 1,2 мм.
                p <b>Другие виды</b>
                p Еще одна разновидность профтрубы - мебельная. За счет более тонких стенок она имеет небольшой вес, легко монтируется, долговечна, но не способна выдерживать повышенные нагрузки. Для нее также характерен небольшой диапазон размеров: от 10х10 мм до 30х30 мм для квадрата и от 20х10 мм до 40х25 мм для прямоугольной трубы.
                h3 Типоразмеры продукции в ассортименте
                p Прочность, способность выдерживать нагрузки и вес любой профильной трубы, независимо от ее размера, определяются толщиной стенок. Так, для холодного и горячего проката эти параметры равны 1-8 мм и 4-14 мм соответственно. Для труб, изготовленных методом сварки, - до 5 мм. Размеры изделий определяются ГОСТом 8639–82 (действует 17 госстандартов для изделий с разным сечением).
                p Чтобы легко определить характеристики профиля, по всей его длине производитель наносит маркировку с указанием:
                ul
                    li Наименования;
                    li Размеров;
                    li Химического состава сплава;
                    li ГОСТа;
                h3 Сфера применения профильных труб
                p Данные изделия широко применяются в строительной сфере, машиностроении, промышленности, сельском хозяйстве. За счет разнообразия их форм, прочности и невосприимчивости к агрессивной среде, что обеспечивает высокую износостойкость, можно создавать любые сооружения - каркасы зданий, навесы, теплицы, беседки.
                p Прямоугольные профильные трубы могут заменить уголки, швеллеры, брус без потери прочности конструкции. При этом у них гораздо меньший вес и ниже цена. В машиностроении профиль применяется для изготовления деталей, используемых в строительстве тяжёлой техники. Лестницы, остановки общественного транспорта, оконные рамы, системы вентиляции, складское оснащение - далеко не полный список сфер применения металлопрофиля.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/preimushchestva-i-nedostatki.jpg' alt='преимущества и недостатки')
                h3 Преимущества и недостатки изделий
                p Из достоинств профтрубы стоит выделить:
                ul
                    li Простоту монтажа;
                    li Универсальность;
                    li Невысокую цену;
                    li Большой запас прочности;
                    li Устойчивость к неблагоприятным климатическим условиям;
                    li Удобство использования и разнообразие форм сечения;
                    li Сравнительно небольшой вес;
                p Главный минус изделий - проблема сгибания. Своими руками, без специальных приспособлений, правильно деформировать и не испортить заготовку затруднительно. Изделиям из черного металла характерен еще один недостаток - риск возникновения коррозии.
                h3 Советы по выбору
                p Критерии выбора профиля - форма, габариты, толщина металла, вид сплава. Квадратные или прямоугольные изделия из нержавеющей стали, изготовленные бесшовным методом трубопроката, подойдут для возведения несущих конструкций. Их прочность зависит от параметров: чем больше толщина/размер, тем выше прочность.
                p Для строительства сооружений с небольшим весом подойдут профили с тонкими стенками. В мебельном производстве и для декоративного оформления используют трубы с хромированным покрытием разной формы сечения, включая овальную.
                p Делать выбор нужно с учетом расчетной нагрузки. Профессионалы ее определяют по справочным таблицам ГОСТов 8639-82, 8645-68 (отдельная формула для каждого способа распределения нагрузки или фиксации трубы на опорах). Но обычным потребителям площе использовать онлайн-калькуляторы в сети. Или обратиться к менеджеру, который рассчитает ориентировочную нагрузку на конструкцию и подберет необходимые изделия.
                include ../partials/info-service.pug