extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Промышленные кондиционеры

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/promyshlennye-kondicionery.jpg' alt='промышленные кондиционеры')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p При всех своих достоинствах традиционные сплит- и мульти-сплит-системы оказываются бессильными, когда речь заходит о кондиционировании воздуха не в частном доме или небольшом кафе, а на каком-нибудь крупном объекте. Можно, конечно, обвешать стены торгового центра сотней внешних блоков, но это, во-первых, неэстетично, а во-вторых, экономически нерентабельно.
                p Выход есть – промышленный кондиционер, мощность которого может достигать 200–10000 кВт. Подобные установки способны круглый год обеспечивать комфортные условия пребывания людей в зданиях любой площади и этажности, а потому с успехом применяются на самых разнообразных объектах:
                ul
                    li Крупные офисные центры и государственные учреждения;
                    li Торговые и выставочные центры;
                    li Гостиницы;
                    li Медицинские учреждения;
                    li Предприятия общественного питания;
                    li Театры и концертные залы;
                    li Музеи и библиотеки;
                    li Крытые стадионы, плавательные бассейны и спорткомплексы;
                    li Фармацевтические и промышленные предприятия и т.д.;
                p Одна централизованная установка, обслуживающая все здание, обходится в конечном итоге дешевле, чем сплит-системы в каждой комнате: повышенные затраты на начальном этапе со временем компенсируются сниженным расходом электроэнергии и экономией на обслуживании и ремонте. Кроме того, кондиционеры промышленного назначения устанавливаются в технических помещениях или на крыше, а значит, не портят фасад здания и не мешают своим шумом работникам и посетителям.
                p Ресурс промышленных систем, предназначенных для контроля и поддержания оптимального микроклимата на крупных промышленных и полупромышленных объектах, составляет не менее 20-30 лет. Выбор вида и характеристик кондиционера осуществляется с учетом площади здания, его назначения и интенсивности эксплуатации оборудования.
                h3 Мультизональные VRV- и VRF-системы
                p Мультизональная VRV-система по своей сути является усовершенствованным вариантом обычной мульти-сплит-системы. Но в отличие от последней, VRV допускает подключение к одному внешнему блоку не нескольких штук, а нескольких десятков штук внутренних. Кроме того, увеличено и максимальное допустимое расстояние между внутренним и наружными блоками: теперь оно может составлять уже не 10-25, а 100 метров.
                p Как удалось достичь столь разительного изменения? Если в обычных мульти-сплит-системах каждый внутренний блок связан с внешним отдельной фреоновой трассой, то в VRV-системах все блоки подключаются к единому трубопроводу, состоящему из двух или трех труб. Объем хладагента, подаваемого из общей трассы к тому или иному внутреннему блоку, зависит от тепловой нагрузки на этот блок и регулируется индивидуальным терморегулирующим вентилем.
                p Такое техническое решение позволяет существенно уменьшить потери мощности кондиционера при навешивании еще одного внутреннего блока или увеличении расстояния до него. Помимо этого, ускоряются и удешевляются монтажные работы, и, что более важно, появляется возможность при необходимости легко модернизировать систему, в том числе расширить ее.
                p Как и в обычных мультисистемах, внутренние блоки могут быть разных типов и иметь разную мощность (как правило, от 2 до 25 кВт). При этом каждому блоку может быть задан свой режим, а управление ими может осуществляться как с помощью индивидуальных пультов ДУ, так и с помощью централизованного пульта или персонального компьютера.
                p Помимо VRV- (Variable Refrigerant Volume – «Переменный объем хладагента») существуют VRF-системы (Variable Refrigerant Flow – «Переменный поток хладагента»). Принципиально они ничем друг от друга не отличаются, существование же различных обозначений связано исключительно с тем, что VRV является зарегистрированной торговой маркой компании Daikin, а значит, другие производители использовать эту аббревиатуру не могут.
                h3 Системы чиллер – фанкойл
                p Принципиальное отличие системы чиллер–фанкойл от всех прочих систем кондиционирования воздуха заключается в том, что роль теплоносителя здесь выполняет не газовый хладагент, а вода (в регионах с холодным климатом ее заменяют незамерзающей при умеренных морозах жидкостью, чаще всего водным раствором этиленгликоля).
                p Охлаждает воду чиллер – аппарат, предназначенный специально для охлаждения жидкостей. Посредством насосов охлажденная вода подается по трубопроводам к фанкойлам. Последние выполняют ту же роль, что и внутренние блоки обычных мульти-сплит-систем, т.е. кондиционируют воздух в помещениях.
                p Сравнение системы чиллер–фанкойл с традиционной мульти-сплит-системой, использующей в своей работе фреон или другой газовый хладагент, позволяет выявить ряд преимуществ первой:
                ul
                    li Количество фанкойлов в системе ограничивается лишь производительностью чиллера;
                    li Благодаря высокой теплоемкости воды, потери переносимого холода на каждый погонный метр трассы незначительны. Максимальное допустимое расстояние между чиллером и фанкойлом зависит исключительно от мощности насосов, гоняющих теплоноситель по трубам, и может достигать сотен метров;
                    li Для соединения чиллера с фанкойлами вместо дорогих медных коммуникаций используются самые обычные водопроводные трубы. Благодаря этому монтаж и обслуживание трубопровода существенно дешевле и проще, чем в случае газонаполненных систем;
                    li Фасад здания не «украшен» гирляндной внешних блоков кондиционеров. Чиллер может быть установлен в любом удобном месте, например, в подвале, на чердаке или вовсе за пределами здания;
                h3 Центральные кондиционеры
                p В принципе термин «центральный кондиционер» может быть применен к любой промышленной системе. Однако используется он и для особого вида кондиционеров – модульного. Подобные кондиционеры спроектированы для решения целого комплекса задач – охлаждения или подогрева, увлажнения или осушивания, вентиляции и очистки воздуха.
                p Центральные кондиционеры выпускаются в виде набора стандартных модулей, каждый из которых предназначен для выполнения определенной функции:
                ul
                    li Модуль охлаждения – внешний компрессорно-конденсаторный блок, работающий на фреоне, или чиллер, охлаждающий воду;
                    li Модуль нагрева может быть выполнен в одном из двух вариантов. Это может быть либо водяной нагреватель (теплообменник, подключенный к системе центрального или автономного отепления), либо электрический (система обычных ТЭНов);
                    li Модуль вентиляции предназначен для забора свежего воздуха извне и подачи его в кондиционируемые помещения. Для снижения шума, создаваемого вентиляторным модулем, нередко дополнительно используют систему шумоглушения – набор звукопоглощающих пластин из стекловолокна или минеральной ваты;
                    li Модуль увлажнения включает в себя форсуночную камеру или паровой увлажнитель. Если увлажнение воздуха происходит в форсуночной камере, обязательным условием является установка каплеуловителя, предотвращающего попадание нераспыленных капель воды в другие модули системы;
                    li Модуль фильтрации предназначен для очистки подаваемого в кондиционируемые помещения воздуха от пыли. При повышенных требованиях к качеству воздуха устанавливается два модуля фильтрации. В первом размещают фильтры грубой очистки (задерживают до 60% пыли), во втором – фильтры тонкой очистки (задерживают до 90% пыли);
                p Размеры каждой секции унифицированы и обычно составляют от 0.5х0.5 до 2.5х2.5 метров. Компоновка кондиционера зависит в первую очередь от назначения помещений и его площади и производится индивидуально для каждого объекта.
                h3 Крышные кондиционеры
                p Крышный кондиционер – моноблок, устанавливаемый на крыше здания. По своему устройству он напоминает огромный оконный кондиционер, но помимо стандартных узлов в его конструкции часто имеется также специальная камера, предназначенная для смешения забираемого из помещения и наружного воздуха, а также нагревательный элемент для подогрева воздуха в холодное время года.
                p Мощность крышных кондиционеров может варьироваться в зависимости от модели от 8 до 140 кВт, при этом за час они прогоняют через себя от 1500 до 25000 кубометров воздуха. Обычно подобные системы используются для кондиционирования воздуха в больших одноэтажных помещениях с общей кровлей – торговых, выставочных и конференц-залах, на крытых стадионах и т.п.
                h3 Шкафные кондиционеры
                p Шкафный кондиционер представляет собой моноблок, устанавливаемый внутри помещения (реже встречаются системы с выносным конденсатором). Подача охлажденного воздуха производится через верхнюю панель либо непосредственно в помещение, либо в систему воздуховодов. Поскольку все конструкционные элементы шкафного кондиционера находятся в легкодоступном месте, монтировать и обслуживать его достаточно просто.
                p Кроме того, размещение компрессора кондиционера внутри помещения гарантирует, что установка будет исправно функционировать вне зависимости от температуры воздуха на улице.
                p Шкафные кондиционеры, как правило, используются в производственных помещениях, где требуется постоянное поддержание заданной температуры. Мощность охлаждения подобных кондиционеров – от 10 до 80 кВт.
                h3 Прецизионные кондиционеры
                p Прецизионные кондиционеры являются одной из разновидностей шкафных кондиционеров. В отличие от обычных своих собратьев, лишенных особого статуса, они способны поддерживать заданную температуру с высокой точностью (отклонения в ту или другую сторону не превышают 1°С). Это, впрочем, не единственное их достоинство: с неменьшей точностью они контролируют и поддерживают еще и влажность воздуха. Последнее достигается путем добавления в конструкцию агрегата дополнительных узлов – гигростата и увлажнителя.
                p Как правило, прецизионный кондиционер – это двухблочная система, но, несмотря на это, он отлично справляется со своей работой и в холодное время года (вплоть до –35°С). Раздача воздуха может осуществляться как через верхнюю панель, так и через нижнюю (фальшпол).
                p Основное предназначение прецизионных кондиционеров – поддержание подходящего микроклимата в помещениях библиотек и книгохранилищ, музеев, фармацевтических лабораторий, некоторых производственных помещений, компьютерных залов и т.п. Часто они включаются в общую автоматизированную систему контроля и управления микроклиматом здания.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/invertornye-i-linejnye-kondicionery.jpg' alt='инверторные и линейные кондиционеры')
                h3 Инверторные и линейные кондиционеры
                p Все кондиционеры, вне зависимости от мощности, размера или предназначения, делятся на линейные и инверторные. Принципиальное различие этих двух разновидностей заключается в наличии или отсутствии инвертора, позволяющего плавно изменять частоту вращения двигателя компрессора и, как следствие, мощность самого кондиционера. Разберемся, что это означает с практической точки зрения.
                p <b>Линейный кондиционер</b>
                p Линейный кондиционер имеет фиксированную мощность. Если на улице не слишком жарко, а значит, для достижения ощущения комфорта охладить воздух в помещении нужно лишь незначительно, эта мощность может оказаться избыточной, но изменить ее невозможно. Именно поэтому линейные кондиционеры работают в режиме постоянных остановок и пусков двигателя компрессора (нередко такие кондиционеры даже называют стартстоповыми).
                p Когда термодатчик известит систему, что температура  воздуха в помещении опустилась на 1-2°С ниже заданного значения, компрессор попросту отключится. Когда же температура вновь повысится, компрессор снова начнет работать на полную мощность.
                p Предсказуемым недостатком подобного технического решения являются сильные колебания температуры воздуха внутри кондиционируемого помещения. Избежать этих колебаний, увы, практически невозможно: более точное поддержание заданных температурных параметров может быть достигнуто лишь путем слишком частого включения / выключения компрессора, но это чревато быстрым износом последнего.
                p Еще один существенный минус линейных моделей – поток очень холодного воздуха, исходящий из внутреннего блока. Поскольку кондиционер работает на полную мощность, воздух, проходя через испаритель, охлаждается на ~15°С вне зависимости от того, какое значение выставлено пользователем на пульте управления. Находиться под такой холодной струей очень некомфортно и, более того, небезопасно для здоровья.
                p <b>Инверторный кондиционер</b>
                p Инверторный кондиционер обладает переменной мощностью охлаждения. (В документации к подобным моделям обычно указывается не одно значение мощности, а диапазон, в котором она может меняться.) Достигается это за счет того, что в инверторе переменный ток преобразуется в постоянный, а затем обратно, но уже другой частоты. Это дает возможность плавно изменять частоту оборотов двигателя компрессора, а значит, и плавно регулировать мощность кондиционера.
                p Что это означает на практике? Если температура воздуха в помещении сильно отличается от комфортной для пользователя, компрессор будет работать на полную мощность, и воздух охладится достаточно быстро. Когда температура достигнет заданного значения (а точнее еще не достигнет, но уже максимально приблизится), компрессор не отключится, как это происходит в линейных кондиционерах, а снизит обороты. Как следствие, инверторные модели точнее, чем линейные, поддерживают заданную температуру, создавая в помещении более комфортные условия, меньше шумят и позволяют существенно экономить электроэнергию.
                p Пожалуй, единственный недостаток инверторных кондиционеров – их высокая стоимость. В противном случае они давно бы уже вытеснили линейные модели с рынка.
                include ../partials/info-service.pug