extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Прямоугольные дроссель-клапаны

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/pryamougolnye-drossel-klapany.jpg' alt='прямоугольные дроссель-клапаны')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Дроссель клапан прямоугольного сечения используется для частичного перекрытия вентиляционного канала и регулирования потока воздуха. Клапан выполнен в виде прямоугольного патрубка, внутри которого расположено поворотное полотно. Дроссель выпускается любого необходимого сечения, с учетом технологических ограничений. Как правило, изготавливаются дроссель клапаны стандартизированных сечений, как и воздуховоды.
                p Прямоугольные дроссель клапан по умолчанию имеет фланцевое соединения. Фланец изготавливается из шины и уголков. При необходимости, возможно изготовление дросселей с фланцами из стального уголка, а также без фланцевых дросселей. При производстве клапанов используется оцинкованная сталь, толщиной от 0,5 мм до 1,0 мм.
                p Стандартная длина дроссель клапана на 50 мм больше, чем высота клапана. По запросу длина возможно увеличение или уменьшение длины дросселя.
                p Монтаж дроссель клапана возможен в любом пространственном положении, который не перекрывает доступ к узлу управления.
                include ../partials/info-service.pug

            //- include ../tables/pryamougolnye-drossel-klapany.pug