extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Прямоугольные отводы

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/pryamougolnye-otvody.jpg' alt='прямоугольные отводы')
                .product__header-text
                    p Пред заказом рекомендуем детально ознакомиться с предлагаемыми типоразмерами прямоугольных отводов 90 и 45 градусов, приведенными с соответствующих таблицах.

                    p Прямоугольные отводы выпускаются двух стандартных вариантов: отводы 90 и отводы 45. При этом отводы 90 выпускаются двух типов: с квадратной шейкой и с круглой.

                    p Прямоугольные отводы широко используются при монтаже вентиляции. Особенно часто применяются отводы 90 градусов. Соединение отвода с воздуховодом или другим фасонным изделием осуществляется следующими способами:

                    ul
                        li На фланцах из шины и уголка;
                        li На фланцах из сварного уголка;
                        li Без фланцев на реечном соединении;

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Мы производим отводы для прямоугольных воздуховодов различного сечения, с различными углами поворота и толщиной металла. Диапазон типовых размеров от 100×100 мм. до 2500×2500 мм. Материал — качественная оцинкованная сталь, устойчивая к коррозии. Типовым вариантом является прямоугольный отвод 90 градусов и отвод 45 градусов. Возможно изготовление под заказ прямоугольных отводов с любым нестандартным сечением и углом поворота.

                p Дополнительными преимуществами отводов прямоугольного сечения является эстетичный внешний вид, экономия занимаемого пространства, возможность компактного размещения за подвесными потолочными конструкциями. Прямоугольный вентиляционный отвод может иметь соединение посредством еврошины или с помощью фланцев из черного металла.

                p Компания Ecosystem осуществляет изготовление и поставку прямоугольных отводов в Казани и других регионах. Вас ожидает широкий ассортимент, возможность изготовления нестандартных элементов, неизменно высокое качество и строгое выполнение заказа в заранее оговоренные сроки.

                .product__body-images
                    h3 Отвод прямоугольный (90&deg;)
                    .product__body-group
                        img(src='/assets/product/img/pryamougolnye-otvody-90.jpg' alt='прямоугольные отводы 90 градусов')
                        img(src='/assets/product/img/pryamougolnye-otvody-90-skhema.jpg' alt='схема прямоугольных отводов 90 градусов')
                        img(src='/assets/product/img/pryamougolnye-otvody-90-tip.jpg' alt='тип прямоугольных отводов 90 градусов')

                    h3 Отвод прямоугольный (45&deg;)
                    .product__body-group
                        img(src='/assets/product/img/pryamougolnye-otvody-45.jpg' alt='прямоугольные отводы 45 градусов')
                        img(src='/assets/product/img/pryamougolnye-otvody-45-skhema.jpg' alt='схема прямоугольных отводов 45 градусов')
                    .product__body-group
                        img(src='/assets/product/img/pryamougolnye-otvody-45-tip.jpg' alt='тип прямоугольных отводов 45 градусов')

            include ../tables/pryamougolnye-otvody.pug