extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Прямоугольные тройники

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/pryamougolnye-trojniki.jpg' alt='прямоугольные тройники')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Прямоугольным тройником для вентиляции называют стандартную фасонную деталь для разветвления воздуховода, актуальную для любых систем вентиляции. Они оснащаются различными конфигурациями для соответствия системам.
                p Изготавливают из оцинкованной стали от 0,5 до 1 мм толщиной. Это востребованный фасонный элемент, активно задействованный сегодня в устройстве вентиляции нового типа ввиду сложности разветвлений и переходов. Без этих деталей разветвление неосуществимо.
                p Возможно заказать различной высоты, длины и сечения. Выглядит лаконично и аккуратно, возможно окрасить. Материал ответвления не подвергается действию влажности. Правильный подбор параметров позволяет избежать вибрации и преждевременного разрушения.
                p Преимущества:
                ul
                    li Доступная цена на продукцию;
                    li Возможность оформления заказов прямо на сайте;
                    li Оперативная доставка приобретенной партии изделий;
                    li Наличие всех необходимых гарантий;
                    li Оказание консультативной и практической помощи;

            include ../tables/pryamougolnye-trojniki.pug