extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Прямоугольные заглушки

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/pryamougolnye-zaglushki.jpg' alt='прямоугольные заглушки')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Заглушка, применяемая в системах прямоугольных воздуховодов, имеет форму прямоугольника, стороны которого равны сторонам выхода воздуховода. Использование прямоугольной заглушки обусловлено необходимостью герметичного закрытия воздуховода. Заглушка для прямоугольного воздуховода может быть изготовлена также с сеткой, она предупреждает попадание в систему воздуховодов мусора и посторонних предметов, являясь недорогим аналогом наружных решеток.
                include ../partials/info-service.pug

            //- include ../tables/pryamougolnye-zaglushki.pug