extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Прямоугольные утки

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/pryamougolnye-utki.jpg' alt='прямоугольные утки')
                .product__header-text
                    p Прямоугольные утки дают возможность соединять прямоугольные воздуховоды, смещенные в пространстве относительно друг друга.

                    p Установка уток прямоугольных воздуховодов открывает широчайшие возможности при монтаже воздуховодов сложной конфигурации.

                    p Такие фасонные элементы позволят учесть конструкционные особенности помещений и обогнуть их выступающие части, они предоставят возможность проложить системы поверх любых строительных объектов или в обход их.

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Изделия отличаются:

                ul
                    li Надежностью;
                    li Простой, функциональной и легко монтируемой конструкцией;
                    li Ценовой доступностью;

            include ../tables/pryamougolnye-utki.pug