extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Прямые врезки

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/pryamye-vrezki.jpg' alt='прямые врезки')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Прямые врезки являются частью ассортимента фасонных изделий и производятся на заказ по заявкам клиентов, поскольку варианты исполнения этих фасонных деталей разнообразные и зависят от типа каналов, для которых они предназначаются.
                p Прямые врезки применяются при монтаже воздуховодов круглого типа к другому прямоугольному воздуховоду. Другое предназначение – присоединение к стенке воздуховода.
                p Выполняются из нержавеющей, оцинкованной, черной стали. Могут прикрепляться с использованием заклепок либо саморезов.
                include ../partials/info-service.pug

            include ../tables/pryamye-vrezki.pug