extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Прямоугольные воздуховоды

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/pryamougolnye-vozdukhovody.jpg' alt='прямоугольные воздуховоды')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Прямоугольные воздуховоды используют в зданиях промышленного значения и жилых помещениях. Монтаж таких воздуховодов достаточно прост, при этом обеспечивается необходимый уровень герметичности.
                p Стоимость их в с сравнении с круглыми может быть дороже на 20-30%. Время монтажа прямоугольных каналов также занимает больше времени, чем круглых из-за необходимости делать и скреплять фланцы.
                p Они обладают большей пропускной способностью, а также компактностью, благодаря чему они могут использоваться в помещениях с ограниченной площадью.
                p Преимущества:
                ul
                    li Более простое крепление благодаря плотному прилеганию к поверхности;
                    li Большая пропускная способность при экономии пространства;
                    li Значительно меньший требуемый размер в перегородках и перекрытиях строительных конструкций;
                    li Увеличение полезной высоты потолка помещения;
                    li Возможность легко скрыть воздуховод за подвесным потолком или другими декоративными конструкциями;
                include ../partials/info-service.pug

            include ../tables/pryamougolnye-vozdukhovody.pug