extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Прямоугольные врезки

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/pryamougolnye-vrezki.jpg' alt='прямоугольные врезки')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Прямоугольная врезка позволяет соединить каналы воздуховодов, осуществить их разветвление. Аналогичную функцию выполняет тройник, однако изготовление врезки дешевле, а монтаж проще.
                p Для монтажа прямоугольных врезок необходимо:
                ul
                    li Сделать отверстие в воздуховоде (сторона воздуховода должна быть больше отверстия для врезки);
                    li Между врезкой и воздуховодом необходимо нанести слой уплотнителя;
                    li Прикрепить врезку к воздуховоду с помощь саморезов или заклепок;
                include ../partials/info-service.pug

            //- include ../tables/pryamougolnye-vrezki.pug