extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') RAD диффузоры

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/rad-diffuzory.jpg' alt='rad диффузоры')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Диффузоры потолочные RAD - это выполненные из алюминия конструкции, предназначенные для обеспечения беспрепятственной подачи и удаления воздуха в помещениях любого назначения.
                p Потолочная решетка прекрасно встраивается в подвесные конструкции, обеспечивая приток воздуха, равномерно распределенный на четыре стороны.
                p Установленные противомоскитные сетки, а также запорные клапаны являются дополнением к основной конструкции повышающим комфорт и безопасность эксплуатации.

            include ../tables/rad-diffuzory.pug