extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Рефнеты и фитинги

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/refnety-i-fitingi.jpg' alt='рефнеты и фитинги')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Надежность и долговечность труб из меди нашли применение в обустройстве систем кондиционирования, отопления, водопровода, пожаротушения. Для сборки магистралей любой конфигурации используются соединительные элементы - фитинги.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/mednye-fitingi.jpg' alt='медные фитинги')
                h3 Основные виды соединений фитингов для медных труб
                p Трубопроводы из меди обладают преимуществом перед аналогами из стали и полипропилена. Отсутствие коррозийных процессов, широкие температурные границы эксплуатации и выдерживание, благодаря пластичности меди, резких перепадов давлений убедили потребителей в правильности их выбора. Для создания разветвлений в трубопроводах необходимы соединительные элементы с такими же характеристиками применения.
                p Для монтажа медных труб используются следующие виды фитингов:
                ul
                    li Обжимные. Иначе их называют «компрессионные»;
                    li Фитинги под капиллярную пайку;
                    li Пресс - фитинги;
                p Выбор соединительного элемента определяется видом транспортируемого вещества по трубопроводам и техническими параметрами эксплуатации медных магистралей.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/mednye-fitingi-1.jpg' alt='медные фитинги')
                h3 Фитинги для медных труб обжимные
                p Данный тип соединения - механический. Вспомогательное оборудование или температурная пайка не применяется. Это дает возможность произвести быстрый монтаж только с помощью разводных ключей.
                p Компрессионными фитингами соединяются медные трубы при невозможности применения пайки или пресс - инструментов в виду малого рабочего пространства или при наличии ограничения по нормам противопожарной безопасности.
                p Для соединения медных труб используются обжимные соединительные элементы только из цветных металлов. На практике чаще выбирают латунные изделия.
                p Конструктивно соединение обжимного фитинга с трубой включает:
                ul
                    li Корпус с нанесенной на краях наружной метрической резьбой;
                    li Гайка с внутренней метрической резьбой;
                    li Полимерное уплотнительное кольцо;
                p Край трубы вставляется до упора в соединительный элемент и производится затяжка гайки разводным ключом. По мере навинчивания гайки, плотность прилегания кольца к трубе увеличивается и создается прочное соединение.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/mednye-fitingi-2.jpg' alt='медные фитинги')
                h3 Фитинги для пайки медных труб
                p Метод капиллярной пайки труб и медных соединительных элементов считается самым надежным, так как в соединении отсутствует полимерный уплотнитель. Свинец или олово в качестве припоя надежно соединяют медные поверхности фитинга и трубы.
                p Пайка предпочтительна при транспортировке по трубам из меди агрессивных и опасных для человека газообразных или жидких веществ. Подобный вид соединения может выдерживать значительные перепады внутреннего давления в трубопроводах.
                p Отводы, переходники, петли и углы для пайки медных труб могут быть как однораструбными, так и двухраструбными.
                p Для осуществления капиллярной пайки необходимы следующие оборудование и материалы:
                ul
                    li Газовая горелка;
                    li Мелкая наждачка;
                    li Флюс;
                    li Припой;
                p Последовательность соединения с помощью высокотемпературной пайки:
                ul
                    li Поверхности меди, которые подлежат соединению, зачищаются шкуркой;
                    li Очищенные участки меди обрабатываются флюсом;
                    li Конец трубки вставляется в фитинг;
                    li Весь выдавленный из соединения флюс удаляется;
                    li Место контакта нагревается газовой горелкой;
                    li К зазору между фитингом и медной трубой подносится припой;
                    li Припой заполняет все внутреннее пространство между поверхностями соединительного элемента и трубки;
                p Данный вид соединения выбирается при монтаже систем кондиционирования.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/mednye-fitingi-3.jpg' alt='медные фитинги')
                h3 Пресс-фитинги под медную трубу
                p Этот вид соединения использует такое свойство меди как пластичность. Для фиксации трубы в пресс - фитинге требуется только специальное электрическое оборудование.
                p В конструкцию соединительного элемента включены уплотнительные кольца из полимера. Следует помнить, что для создания трубопроводов для транспортировки газа цвет полимерного материла пресс - фитинга будет желтый, а для воды - черный.
                p После установки края медной трубки в фитинг, производится прессование этого соединения пресс - инструментом. По завершении процесса на поверхности соединительной части остаются шесть или восемь граней.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/mednye-fitingi-4.jpg' alt='медные фитинги')
                h3 Рефнет (разветвитель)
                p Универсальные медные рефнеты (тройники) для монтажа кондиционеров выбираются исходя из показателей суммарной производительности внутренних блоков на охлаждение, типа применяемого хладагента и присоединительных диаметров труб. Расчет производится, как правило, проектной организацией для правильной работы всей системы.
                p Конструкция разветвителей позволяет в минимальные сроки произвести монтаж системы кондиционирования, обеспечивая надежную работу кондиционера на долгое время. Универсальные рефнеты хороши тем, что их можно использовать под различные диаметры фреонопроводов. Требуется всего лишь отрезать часть рефнета-разветвителя с не нужным диаметром.
                p Цена рефнета разветвителя зависит от вида изделия и типа системы кондиционирования, для которой он предназначен. Различают три вида разветвителей:
                ul
                    li Для монтажа газовых магистралей;
                    li Для прокладки жидкостных магистралей;
                    li Универсальные;
                p Применяются рефнеты чаще всего для монтажа систем кондиционирования мультизонального типа с большим количеством внутренних блоков, так называемых VRF (ВРФ), VRV (ВРВ) систем.
                include ../partials/info-service.pug