extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') SAD диффузоры

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/sad-diffuzory.jpg' alt='sad диффузоры')
                .product__header-text
                    p Диффузоры потолочные SAD - это выполненные из алюминия конструкции, снабженные клапаном расхода воздуха. Диффузоры предназначены для обеспечения беспрепятственной подачи и удаления воздуха в помещениях любого назначения.

                    p Потолочная решетка прекрасно встраивается в подвесные конструкции, обеспечивая приток воздуха, равномерно распределенный на четыре стороны.

                    p Установленные противомоскитные сетки, а также запорные клапаны являются дополнением к основной конструкции повышающим комфорт и безопасность эксплуатации.

            include ../tables/sad-diffuzory.pug