extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Шпильки

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/shpilki.jpg' alt='шпильки')
                .product__header-text
                    p Шпильки представляют собой стандартный металлический стержень с резьбой, которые позволяют максимально быстро и надежно скрепить любые объекты. При этом монтажные изделия можно использовать для работы с любыми материалами, включая древесный массив и металл.

                    p Одной из особенностей является отсутствие оголовка, что позволяет использовать шпильки совместно с другими монтажными элементами такими, как гайка. Также шпильки имеют различные конструктивные особенности и диаметр. За счет этого вы всегда сможете подобрать наиболее подходящее изделие для выполнения конкретно вашей специфики задач.

            include ../tables/shpilki.pug