extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Скобы

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/skoby.jpg' alt='скобы')
                .product__header-text
                    p Скоба для стяжки фланцев применяется при монтаже прямоугольных воздуховодов вентиляционных систем и систем кондиционирования.
                    p Скоба для стяжки фланцев служит дополнительным креплением фланцев прямоугольных воздуховодов и обеспечивает повышенную герметичность вентиляционной системы.
                    p Скоба изготавливается из оцинкованной стали , толщина скобы составляет 2,5 мм или 3мм, в комплектацию также входит крепежный болт диаметром 8мм. Воздуховоды крепятся дополнительно скобой при условии, что точки крепления расположены на расстоянии свыше 300 мм, а при присоединении вентиляционного оборудования 150 мм, для повышения герметичности.