extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Скобы M8 ZN

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/skoby-m8-zn.jpg' alt='скобы m8 zn')
                .product__header-text
                    p Предназначены для дополнительной стяжки фланцев при сборке воздуховодов.

                    p Скобы необходимо устанавливать, если расстояние между двумя точками крепления более 300 мм, и в системах с повышенными требованиями к герметичности через каждые 150 мм.