extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Составные приточные вентиляционные установки АВС

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/sostavnye-pritochnye-ventilyacionnye-ustanovki-avs.jpg' alt='составные приточные вентиляционные установки авс')
                .product__header-text
                    p Воздухонагреватели водяные имеют теплообменную поверхность из двух или трех рядов медных трубок, oребренных пластинками из алюминиевой фольги. Трубные коллекторы стальные с подсоединительными патрубками с наружной трубной резьбой 1.
                    p Максимальные параметры теплофикационной воды, на которые рассчитаны воздухонагреватели:

                    ul
                        li температура воды, не более 180 °С;
                        li давление, не более 1,6 МПа;

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p В состав стандартных агрегатов входят:

                ul
                    li клапан воздушный регулировочный с различными вариантами привода в зависимости от исполнения автоматики;
                    li фильтр карманный EU3;
                    li воздухонагреватель водяной или электрический;
                    li воздухоохладитель непосредственного испарения или водяной вентилятор ВРПП;
                    li 300 - 8000 м<sup>3</sup>/час;

                p Приточные вентиляционные установки АВС комплектуются из стандартизованных элементов канальных систем следующих проходных сечений, аналогичных проходным сечениям вентиляторов ВРПП в мм:

                ul
                    li 300x150;
                    li 400x200;
                    li 500x250;
                    li 500x300;
                    li 600x300;
                    li 600x350;
                    li 700x400;
                    li 800x500;
                    li 1000x500;