extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Струбцины

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/strubciny.jpg' alt='струбцины')
                .product__header-text
                    p При выполнении монтажа воздуховодов в вентиляционных системах и системах кондиционирования воздуха достаточно часто возникают рабочие моменты, когда крепить воздуховоды к потолку и к другим строительным конструкциям или нецелесообразно, или просто невозможно.

                    p В таких ситуациях для монтажа воздуховодов рекомендуется использовать металлический уголок, двутавровые или тавровые балки. При этом на присутствующий металлический профиль прикрепляются специальные струбцины, на которые устанавливаются при помощи шпильки воздуховоды.

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Сама струбцина включает в себя зажим и раму. В качестве зажима в материале применяется болт М10 или М8, что позволяет надежно и плотно произвести фиксацию струбцины на боковой части профиля из металла. В раму обсуждаемого изделия для крепления воздуховода вворачивается шпилька. По высоте подвес воздуховода можно регулировать с помощью выкручивания или вкручивания шпильки. Применение струбцины при монтаже воздуховодов выгодно тем, что по сравнению с монтажом на кронштейны, не возникает необходимости сверлить отверстия для установки кронштейнов в строительных конструкциях

            include ../tables/strubciny.pug