extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Тепловые завесы КЭВ-28P3171W

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/teplovye-zavesy-kehv-28p3171w.jpg' alt='тепловые завесы кэв 28p3171w')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Встраиваемая потолочная воздушно-тепловая завеса для проёмов высотой до 3,5 метров. Тепловая завеса предназначена для скрытой установки за подвесным потолком. Сервис и обслуживание осуществляется через переднюю панель завесы.
                p Комплектация:
                ul
                    li Воздушно-тепловая завеса 300 Потолочная, пульт управления завесой HL10, паспорт.

            include ../tables/teplovye-zavesy-kehv-28p3171w.pug