extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Тепловые завесы КЭВ-20P2111W

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/teplovye-zavesy-kehv-20p2111w.jpg' alt='тепловые завесы кэв 20p2111w')
                .product__header-text
                    p Тепловая завеса Комфорт для проемов высотой от 2 м до 2,5 м. Переднее всасывание воздуха допускает установку завесы в ограниченном пространстве. По заказу панель - из нержавеющей стали.

                    p Комплектация:

                    ul
                        li Воздушно-тепловая завеса Комфорт, пульт управления завесой HL10, комплект крепежных кронштейнов, паспорт;

            include ../tables/teplovye-zavesy-kehv-20p2111w.pug