extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Тепловые завесы КЭВ-42P3116W

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/teplovye-zavesy-kehv-42p3116w.jpg' alt='тепловые завесы кэв 42p3116w')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Тепловая завеса Призма-1 с двумя лицевыми панелями, под углом.
                p Комплектация:
                ul
                    li Воздушно-тепловая завеса Призма-1, пульт управления завесой HL10, паспорт.

            include ../tables/teplovye-zavesy-kehv-42p3116w.pug