extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Тепловые завесы КЭВ-100P4060W

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/teplovye-zavesy-kehv-100p4060w.jpg' alt='тепловые завесы кэв 100p4060w')
                .product__header-text
                    p Тепловая завеса IP54 с повышенной коррозионной стойкостью для проемов высотой от 3 до 5 метров в помещениях с атмосферой, содержащей капельную влагу, например, в автомойках.

                    p Комплектация:

                    ul
                        li Воздушно-тепловая завеса, герметик, комплект крепежных кронштейнов, паспорт.

            include ../tables/teplovye-zavesy-kehv-100p4060w.pug