extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Тепловые завесы

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/teplovye-zavesy.jpg' alt='тепловые завесы')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Тепловые завесы обдают приятным тёплым воздухом в зимнее время при входе в торговые центы, спорткомплексы, магазины и на другие объекты общего пользования. Предназначение этого оборудования заключаются в отсечении потоков холодного воздуха с улицы. Различные виды тепловых завес устанавливаются на входных группах объектов, в которых предусмотрено частое открывание дверей.
                p Очень часто в магазинах, ресторанах и складских помещениях на входе устанавливают тепловые завесы. Их задача состоит в том, чтобы не пускать в помещение холодный воздух с улицы. Отличный вариант для обеспечения комфортной температуры в здании, где часто открываются двери.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/teplovye-zavesy-2.jpg' alt='тепловые завесы')
                h3 Предназначение тепловых завес:
                ul
                    li В холодное время года предотвращают образование сквозняков, что снижает вероятность болезней персонала и посетителей;
                    li Снижение расходов на отопление;
                    li Защита морозильных камер и складов охлажденной продукции от таяния;
                    li Снижение теплопотерь;
                    li Защита от пыли, насекомых и посторонних запахов;
                    li Минимизация потребления электроэнергии;
                    li В теплый период времени уменьшение потерь на кондиционирование;
                p Мы предлагаем большое количество видов тепловых завес. Для выбора оптимального варианта по мощности и другим параметрам будет полезно ознакомиться с информацией, представленной ниже.
                h3 Какие бывают виды тепловых завес
                p В зависимости от направления воздушного потока различают 2 вида тепловых завес:
                ul
                    li Горизонтальные;
                    li Вертикальные;
                .product__body-images.f-wrap
                    .product__body-group
                        div
                            img(src='/assets/product/img/gorizontalnye-teplovye-zavesy.jpg' alt='горизонтальные тепловые завесы')
                    .product__body-group
                        div
                            img(src='/assets/product/img/vertikalnye-teplovye-zavesy.jpg' alt='вертикальные тепловые завесы')
                p Вертикальное оборудование устанавливается по бокам проемов, а горизонтальное над ним.
                p Кроме того, существует специальные виды тепловых завес. Примером таких устройств может быть брызгозащитное оборудование, которым комплектуют автомобильные мойки.
                p По видам потребляемой энергии воздушные завесы различают на:
                ul
                    li Электрические тепловые завесы;
                    li Водяные тепловые завесы;
                    li Газовые тепловые завесы;
                    li Завесы без обогрева;
                h3 Важные характеристики всех видов завес
                p Все перечисленные виды завес классифицируют по таким характеристикам, как:
                ul
                    li Мощность;
                    li Режим работы;
                h3 Мощность
                p Эта характеристика влияет на способность климатического оборудования быстро прогревать воздушные массы, которые попадают в помещение из окружающей среды.
                p Расчёт мощностных показателей при выборе тепловых завес рассчитывают по следующему алгоритму: при высоте потолков в пределах от 280 до 300см на 10м2 помещения должен приходиться 1кВт мощности. Это упрощённая методика, но для более точного расчёта климатического оборудования необходимо воспользоваться помощью квалифицированных специалистов из компаний, которые занимаются продажей/установкой тепловых завес.
                p В зависимости от мощностных показателей и производительности выделяют 3 основных вида тепловых завес:
                ul
                    li Бытовые завесы могут устанавливаться не только на проемах жилых объектов. Их используют для монтажа над кассовыми окнами в киосках и других МАФах. Такое оборудование снижает вероятность возникновения сквозняка и выполняют функции дополнительного отопительного оборудования для небольших помещений;
                    li Средние завесы предназначены для проемов с высотой от 250 до 300см. Они обеспечивают снижение теплопотерь при частом открывании входных дверей и предотвращают появление сквозняков в больших помещениях;
                    li Большие и сверхмощные устройства предназначены для промышленных объектов с высотой проемов более 700 см. Их устанавливают на проемы складских ворот или ангаров, на входных группах супермаркетов и ТРЦ;
                h3 Режим работы
                p По режиму работы выделяют 2 вида тепловых завес:
                ul
                    li Оборудование постоянного действия;
                    li Системы переменного действия;
                p Методы монтажа:
                ul
                    li Горизонтальные завесы воздушные устанавливают над проемами окон или дверей. В этом случае климатическое оборудование монтируется на всю ширину проема, для того, чтобы предотвратить поступление наружного воздуха по краям. Этот вид тепловых завес является наиболее популярным, но в случаях года отсутствует конструкционная возможность такого монтажа или для больших проемов используют вертикальные устройства с боковым размещением. Технология монтажа этих видов завес имеет незначительные различия;
                    li Вертикальные устройства устанавливают по бокам проемов так, чтобы обеспечить горизонтальную направленность продуцируемого воздушного потока. Для повышения эффективности работы климатического оборудования вертикальные тепловые завесы устанавливают с двух сторон от проема. В каталогах производителей представлены универсальные завесы, которые могут крепиться в вертикальном и горизонтальном положении;
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/ehlektrichestvo.jpg' alt='электричество')
                h3 Электрические тепловые завесы
                p Электрические тепловые завесы, как правило, можно встретить на входных группах гипермаркетов и ТРЦ. Двери этих объектов Тепловая завеса открывается несколько раз в минуту, но при этом, надежный тепловой барьер позволяет сохранять нормальный микроклимат в помещении даже в морозную погоду. Нужно помнить, что основная задача, которую решает установка тепловой завесы это не дополнительный обогрев внутреннего воздуха, а его отсечение от наружных воздушных масс. Это обеспечивает нормальный микроклимат в помещении, несмотря на любые погодные условия.
                p Преимущества тепловых электрических завес:
                ul
                    li Оборудование этого вида отличается небольшим весом;
                    li Простой монтаж;
                    li Отсутствие риска подтопления и взрывоопасности;
                p Кроме преимуществ, у этого вида тепловых завес есть и недостатки:
                ul
                    li Большие объёмы потребления электроэнергии;
                    li Риски, которые связаны с работой электрооборудования, которое находится под напряжением;
                p Установка тепловых электрических завес на входной группе общественных зданий позволяет снизить затраты на отопление и кондиционирование и обеспечить стабильный микроклимат в помещениях. На рынке представлен широкий выбор климатического оборудования этого вида с разными техническими характеристиками. Как отмечалось выше, основное предназначение такого оборудования состоит в формировании барьера, препятствующего прохождению уличного воздуха в помещение.
                p Тепловые электрические завесы в большинстве случаев имеют защиту — IP20, которая защищает посетителей от нечаянного касания оборудования рукой, отключая устройство. Кроме того, аварийное отключение завесы происходит при сильном перегреве оборудования. Такая защита присутствует в всех видах электрических завес. Отдельные производители снабжают свои модели защитой от попадания влаги — IP54. Такие устройства отличают устойчивостью к коррозии (их каркас выполнен из нержавейки или оцинкованной стали) и могут работать в условиях высокой влажности. В конструкции электрических тепловых завес предусмотрен нагревательный элемент, который питается электротоком. Существует два вида таких элементов:
                ul
                    li СТИЧ выпускается на основе проволоки или металлической ленты. Такие элементы быстро нагреваются и имеют низкую себестоимость;
                    li ТЭН разогревается медленнее, но может продуцировать более высокую температуру. Его производят из металла в виде трубок разной формы, на которой крепится решетка, повышающая эффективности передачи тепловой энергии;
                p Воздух, нагретый ТЕНами или СТИЧем разгоняется тепловыми вентиляторами в одном направлении, что позволяет создать воздушный барьер, который можно сравнить с падающим водным потоком. Выбирая тепловую завесу этого вида следует обратить внимание на присутствие трубчатого нагревателя, который способен обеспечить более высокую производительность. Еще одна полезная функция – дистанционное управление прибором. Кроме того, для нагревателя должна предусматриваться отдельная регулировка, что позволит использовать воздушную завесу в летнее время.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/voda.jpg' alt='вода')
                h3 Водяные тепловые завесы
                p Эффективным вариантом оборудования для создания воздушного барьера в больших проемах служит водная тепловая завеса. Особенность климатических устройств этого вида заключается в низком энергопотреблении. В тоже время, монтаж водяных тепловых завес требует внушительных финансовых затрат, так как они подключаются к водопроводу. Для предотвращения замерзания калорифера, работающего на воде, эти устройства комплектуются современной управляющей автоматикой.
                p Преимущества установки водяных тепловых завес:
                ul
                    li Более экономичное потребление энергии сравнительно с электрическими видами завес;
                    li Возможность установки в проемах, ширина которых превышает три метра;
                    li Комплектация надежной автоматикой, предохраняющей от перегрева;
                    li Удобная конструкция и адаптивный дизайн;
                    li Простое управление направлением подогретого воздушного потока обеспечивается поворачивающейся решеткой, которая находится рядом с соплом;
                    li Низкий уровень шума в процессе работы;
                    li Эффективное предотвращение попадания через открытый проем потоков наружного воздуха, пыли, насекомых и т.д.;
                    li Защита от возникновения сквозняков в помещении;
                    li Высокая степень защиты от коррозии и продолжительные сроки эксплуатации;
                p Водяные тепловые завесы получили применение на различных объектах коммерческого и промышленного назначения:
                ul
                    li Заводские цеха;
                    li Складские комплексы;
                    li Вагонные депо;
                    li Ангары;
                    li Торгово-развлекательные комплексы;
                    li Спорткомплексы и фитнесс центры;
                    li Банковские учреждения;
                p Есть у этого вида завес и свои слабые стороны:
                ul
                    li Сложная и дорогостоящая установка, которая предусматривает подключение к центральному отоплению;
                    li Зависимость от исправной работы водопровода (в случае аварий систем отопления и водоснабжения завесы этого вида работать не будут);
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/gaz.jpg' alt='газ')
                h3 Газовые тепловые завесы
                p Относительно недавно на рынке появился новый вид климатического оборудования – газовые тепловые завесы. За достаточно короткое время они стали очень популярными для обустройства объектов, где нет технической возможности для подключения других видов завес. При выборе этого оборудования следует учитывать его взрывоопасность и тот факт, что газ обладает удушающим эффектом, так как вытесняет кислород из воздуха, поэтому эксплуатация газовых завес должна осуществляться при строгом соблюдении правил техники безопасности.
                p Преимущество тепловых завес на газовом топливе:
                ul
                    li Доступный и недорогой энергоноситель;
                    li Эффективная работа в широком диапазоне температур;
                    li Отсутствие риска промерзания системы;
                    li Формирование однородной воздушной завесы;
                    li Достаточно высокая плотность воздушного потока;
                    li Оборудование может работать на разных видах газового топлива;
                p Как отмечалось выше, основной недостаток климатического оборудования заключается в высокой горючести газа и его опасности для здоровья людей. При неквалифицированном подключении таких завес повышается вероятность возникновения аварийных ситуаций.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/kholod.jpg' alt='холод')
                h3 Тепловая завеса без обогрева
                p Для некоторых объектов (морозильные камеры, склады охлажденной продукции и т.д.) нет необходимости устанавливать воздушные завесы, которые формируют воздушный барьер из подогретого воздуха. Здесь будет уместно устанавливать климатические устройства без теплового источника. Кроме того, этот вид завес может применяться для того, чтобы разбить большое помещение на отдельные зоны с заданными температурными параметрами. Такая необходимость возникает в крупных продуктовых супермаркетах, в хранилищах сельхозпродукции и т.д. Для их монтажа обустраивают технологические проемы, на которых с наружной стороны горизонтально или вертикально крепится разделительная воздушная завеса.
                p Плотный поток воздуха в завесы этого вида создают за счет мощного высокооборотистого вентилятора. Монтаж разделительной завесы должен выполняться так, чтобы разделительный поток воздуха направлялся под углом в направлении от зоны, в которой необходимо обеспечить стабильный микроклимат. Такое решение обеспечит надежное препятствие от проникновения внутрь воздушных масс вдоль поверхности пола.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/ukazatel.jpg' alt='указатель')
                h3 Правильный выбор тепловой завесы
                p Взвешенный подход к выбору определенного вида тепловых завес предполагает точную оценку необходимой мощности оборудования с учетом климатических условий, конструкционных особенностей здания и параметров вентиляционной системы. Даже при равной площади проемов в зданиях разного назначения необходимая мощность тепловой завесы будет отличаться.
                p Алгоритм выбора нужного вида тепловой завесы:
                ul
                    li Точно установите, какую функцию должно выполнять оборудование (отсекание наружного воздуха, частичный обогрев помещения и т.д.), а также определите частоту и продолжительность открывания проема;
                    li Замерьте расстояние, которое нужно перекрыть воздушной «заслонкой» (завеса не должна быть короче, чем проем);
                    li Рассчитайте необходимую длину потока. От правильно определения этого параметра зависит продуктивность оборудования. Нужно учесть, что сквозняки уменьшают эффект от работы тепловой завесы;
                    li Уточните допустимую шумность оборудования. Для жилых домов, офисных помещений или заведений общественного питания необходимо выбирать тепловые завесы с минимальным уровнем шума. В противном случае будут возникать ситуации, при которых придется выбирать минимальный режим работы вентиляторов в ущерб качеству микроклимата в помещениях;
                    li Сделайте анализ эксплуатационных условия. Для объектов с высокой влажностью или чрезмерной загрязненностью воздуха необходимо подбирать специальные виды тепловых завес;
                    li Изучите регулировки оборудования и возможности по управлению ими. Более новые модели имеют дистанционные пульты управления, с помощью которых можно эффективно управлять скоростью вращения вентиляторов и температурой воздушного потока. Такое оборудованием имеет концевые выключатели, включающие климатическую технику при открытом проеме. В тоже время, эффективность концевых выключателей в некоторых случаях будет сомнительной, так завеса будет включаться буквально на 1 минуту. Если проем ворот открывается лишь на короткое время, то концевыми выключателями комплектовать тепловую завесу нет необходимости. В некоторых моделях могут устанавливаться и другие виды элементов автоматики. Получите у продавца информацию об их функциональном назначении, чтобы не платить лишние деньги за ненужное оборудование;
                    li Изучите параметры теплового оборудования с учетом потребляемого вида энергии. Для электрических тепловых завес уточните параметры напряжения электросети и допустимую максимальную мощность. Совокупная нагрузка не должна быть выше установленных нормативов, так как это может стать причиной воспламенения электропроводки и поломке оборудования;
                    li Рассчитайте тепловую мощность климатического оборудования. Если необходимо обеспечить отсечение наружного воздуха и дополнительный обогрев помещения, то рассчитывать тепловую мощность нужно следующим образом: на 27м3 объема помещения должен приходиться 1кВт тепла. Нужно учесть, что тепловая завеса не может считаться полноценным отопительным устройством. Они используются только, как дополнительное оборудование, но, в тоже время, с помощью тепловой завесы можно быстро прогреть воздух в небольших помещениях;
                    li Если вы не планируете устанавливать завесу скрытого монтажа, обратите внимание на дизайн оборудования. Если в последствии вы решите, что оборудование не вписывается в концепцию входной группы и закроете его кожухом или покрасите, то можете лишиться гарантии;
                p Монтаж тепловой завесы выполняется с внутренней (теплой) стороны проемы, максимально близко к нему. При этом, воздушная завеса должна перекрывать всю ширину проема. При установке завесы между помещениями внутри здания, то с разных сторон проема давление может быть разным. Для выравнивания давлений необходимо использовать вентиляционную систему.
                include ../partials/info-service.pug