extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Трубный хомут

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/trubnyj-khomut.jpg' alt='трубный хомут')
                .product__header-text
                    p=info.supText
                    each phone in info.phones
                        a(href='tel:' + phone)=phone
                    span=info.time
                    p=info.subText

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Трубный хомут это неотъемлемая часть трубопроводных систем самого различного назначения. Он позволяет надежно фиксировать трубы, так, чтобы снижать их возможную вибрацию до минимума и исключать деформацию в местах крепления. Это достигается путем взятия хомутом на себя основной нагрузки в определенном месте системы.
                p Хомуты бывают различных форм (круглые, прямоугольные, продолговатые) и конструкций (стяжки, червячные и т.д.), что напрямую определяет их назначение. Они с успехом используются в таких сферах человеческой деятельности, как - автомобильная, компьютерная, машиностроительная и др. Их качество зависит от материала, из которого изготовлены хомуты, и высокой степени проработки. Они должны легко закручиваться, надежно фиксируя трубы.
                p Трубные хомуты могут пригодиться для параллельного крепления парных труб, а также для вертикального и горизонтального - одиночных. Они отличаются по степени выдерживаемой нагрузки, которая может быть от стандартной до предельной. Выбор хомутов будет напрямую зависеть от всех вышеизложенных факторов. Подбирая оптимальные для ваших условий изделия, необходимо помнить о важности высокого качества. Оно позволяет использовать хомуты долгое время, не теряя при этом их первоначальных характеристик.