extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Утепленная гофротруба

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/uteplennaya-gofrotruba.jpg' alt='утепленная гофротруба')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Тонкий вентиляционный гофрированный рукав в холодное время года охлаждается, на его стенках конденсируется влага из теплого воздуха помещений. Поэтому трубы обязательно утепляют.
                p Аккуратно утеплить гофротрубу самостоятельно достаточно сложно.
                p Иногда для этого сооружают дополнительные короба, заполненные утеплителем. Создается громоздкая и не всегда уместная конструкция.
                p Готовые утепленные гофры для вентиляции сразу же решают проблему конденсата. Утепленная гофра представляет собой многослойную конструкцию. Внутренний слой – гибкий воздуховод из полиэфирной ленты с напылением алюминия. Далее идет минеральная вата, обернутая защитным слоем металлизированной пленки. Толщина изоляционного слоя 2,5 см. Каркас вентиляционной гофры под слоем утеплителя изготавливается из стальной высокоуглеродистой проволоки. Для снижения горючести используется водный акриловый состав с пламегасителями.
                p Назначение утепленной вентиляционной гофры:
                ul
                    li Уменьшение теплопотерь;
                    li Термоизоляция систем вентиляции;
                    li Воздуховоды для систем кондиционирования;
                    li Предупреждение выпадения конденсата в вентканалах;
                p Вентиляционные гофры со слоем утепления используются в воздухообменных системах с давлением до 2400 Па, в качестве периферийных магистралей для центральных кондиционеров. И в качестве вытяжных труб систем вентиляции жилых и промышленных зданий.
                include ../partials/info-service.pug