extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Вентиляторы

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/ventilyatory.jpg' alt='вентиляторы')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Вентилятор – механическое устройство, которое предназначено для перемещения воздуха по воздуховодам систем вентиляции, а также кондиционирования. Кроме того, он осуществляет прямую подачу или забор воздуха из помещения, создавая для этого необходимый перепад давления.
                P Вентиляторы могут поставляться самостоятельно, а также в составе вентиляционных агрегатов, секций, установок, кондиционеров, воздушных завес, фанкойлов, воздухоочистителей, сплит-систем и т.д.
                p По принципу действия и конструкции вентиляторы разделяют на:
                ul
                    li Осевые;
                    li Радиальные;
                    li Диаметральные;
                h3 ОСЕВЫЕ ВЕНТИЛЯТОРЫ
                p Самый простой осевой вентилятор представляет собой расположенное в цилиндрическом корпусе лопаточное рабочее колесо пропеллерного типа. При его вращении воздух, поступающий через входное отверстие, перемещается между лопаток в осевом направлении и затем поступает в выпускное отверстие. Эти вентиляторы применяются для подачи значительных объемов воздуха при малых аэродинамических сопротивлениях сети.
                p К преимуществам осевых вентиляторов относится то, что они имеют больший КПД по сравнению с диаметральными и радиальными вентиляторами, а также меньшие размеры.
                h3 РАДИАЛЬНЫЕ ВЕНТИЛЯТОРЫ
                p Радиальный вентилятор состоит из:
                ul
                    li Лопаточного радиального колеса;
                    li Спирального корпуса (кожуха);
                    li Станины с валом и подшипниками;
                p При вращении колеса воздух, который поступает через входное отверстие и попадает в каналы между лопатками колеса, двигается в радиальном направлении к периферии колеса и сжимается. Под воздействием центробежной силы он перемещается по этим каналам, а затем собирается спиральным корпусом и направляется в его выпускное отверстие.
                p В системах кондиционирования и вентиляции применяются радиальные вентиляторы:
                ul
                    li С лопатками, загнутыми назад или вперед;
                    li Одностороннего или двустороннего всасывания;
                    li На одном валу с эл. двигателем или с клиноременной передачей;
                p Плюсы вентиляторов с лопатками, загнутыми назад: экономия электроэнергии где-то на 20%, достаточно легко переносят перегрузки по расходу воздуха.
                p Достоинством вентиляторов с лопатками, загнутыми вперед, является то, что они могут достичь необходимого результата (обладая теми же расходными и напорными характеристиками), занимая меньше места и при этом создавая меньше шума.
                h3 ДИАМЕТРАЛЬНЫЕ ВЕНТИЛЯТОРЫ
                p Диаметральный вентилятор состоит из рабочего колеса барабанного типа с загнутыми вперед лопатками и корпуса, который имеет патрубок на входе и диффузор на выходе. Принцип действия такого вентилятора заключается в двукратном поперечном прохождении потока воздуха через рабочее колесо.
                p Достоинствами диаметральных вентиляторов являются:
                ul
                    li Более высокие аэродинамические параметры (по сравнению с другими типами вентиляторов);
                    li Компактность установки;
                    li Удобство компоновки;
                    li Высокий КПД;
                p Благодаря вышеперечисленным плюсам эти вентиляторы имеют очень широкое применение, а именно в установках кондиционирования и вентиляции воздуха.
                p Мы - профессиональная инжиниринговая проектно-монтажная компания. На нашем сайте Вы можете получить коммерческое предложение и найти необходимую информацию.
                //- .product__body-images
                //-     .product__body-group
                //-         img(src='/assets/product/img/kholod.jpg' alt='холод')
                include ../partials/info-service.pug