extends ../layouts/product.pug

block content
    section.product
        .container
            h1.product__title(data-aos='fade-right' data-aos-duration='1000' data-aos-once='true') Вентиляционные установки

            .product__header(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                .product__header-img
                    img(src='/assets/product/img/ventilyacionnye-ustanovki.jpg' alt='вентиляционные установки')
                include ../partials/info-contact.pug

            .product__body(data-aos='fade-up' data-aos-duration='1000' data-aos-once='true')
                p Современные системы вентиляции предназначены для обеспечения полноценного воздухообмена, правильного распределения воздушных масс по всему помещению и формирования оптимальных микроклиматических условий для комфортного пребывания людей.
                p Организация качественной вентиляции - сложная инженерная задача, для решения которой выполняются индивидуальные расчеты и подбор наиболее подходящего оборудования. Видов вентиляционных установок большое множество и в зависимости от типа помещения, а также целей и преследуемых задач, подбирается определенное оборудование.
                p По функциональным особенностям все вентиляционные установки можно разделить на 3 типа:
                ul
                    li Приточные;
                    li Вытяжные;
                    li Приточно-вытяжные;
                p Для того, чтобы разобраться в конструктивных и функциональных особенностях, а также понять принцип работы, стоит остановиться на каждом из видов оборудования подробнее.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/pritochnye-ventilyacionnye-ustanovki.jpg' alt='приточные вентиляционные установки')
                h3 Приточные вентиляционные установки
                p Приточные вентиляционные установки служат для постоянного притока свежего воздуха в помещении, при этом выполняется его предварительная фильтрация, нагрев, охлаждение и в некоторых моделях осушение/увлажнение. Практически все модели имеют свойство регулировать заданную температуру приточного воздуха путем нагрева или охлаждения (при наличии блока охлаждения).
                p Чтобы понять принцип работы приточных вентиляционных установок,  сначала стоит ознакомиться с их основными элементами:
                ul
                    li Вентилятор - основной элемент системы, который обеспечивает поступление свежего воздуха, благодаря создаваемому принудительному давлению;
                    li Фильтр - устанавливается на входе приточного устройства и нужен для очищения приточных воздушных масс от посторонних запахов, защиты от мелких насекомых, пыли и других загрязнений механического плана. В зависимости от установленного комплекта фильтров (грубой/тонкой/ультратонкой очистки), зависит уровень и качество фильтруемого воздуха;
                    li Воздушный клапан - необходим для контроля над воздушными потоками поступающего воздуха и его перекрытия в случае выключения вентиляционной системы;
                    li Калорифер - служит для нагрева приточного воздуха до требуемой температуры. Калориферы могут быть водяными или электрическими. Первые подключаются к системе теплоснабжения (технической воды или отопления) здания, а вторые работают от электрической сети;
                    li Шумоглушитель - предназначен максимально снижать уровень шума, который возникает во время движения воздуха по воздуховодам и от вибраций вентилятора;
                p Таким образом, принцип работы приточных установок состоит в подаче свежего, предварительно очищенного от пыли воздуха, нагретого/охлажденного до нужной температуры, путем его принудительного нагнетания посредством вентилятора.
                h3 Виды приточных вентиляционных установок
                p Современная линейка приточных установок радует своим разнообразием. В продаже имеются как компактные приточные установки - мини-системы с минимальным набором опций, так и сложные промышленные модели с функцией нагрева и охлаждения воздуха.
                p Приточные установки могут быть наборными (модульными) и собираться по частям, как конструктор, непосредственно на месте их установки, либо моноблочными, в которых все рабочие элементы и комплектующие заключены в единый звукоизолированный корпус.
                .product__body-images.f-wrap
                    .product__body-group
                        div
                            img(src='/assets/product/img/monoblochnaya-pritochnaya-ustanovka.jpg' alt='моноблочная приточная установка')
                            i Моноблочная приточная установка
                    .product__body-group
                        div
                            img(src='/assets/product/img/modulnaya-pritochnaya-ustanovka.jpg' alt='модульная приточная установка')
                            i Модульная приточная установка
                p Оптимальная приточная вентиляционная установка для квартиры - моноблочная. Она имеет компактные размеры, работает тихо и не требует проведения дорогостоящих проектных и расчетных работ и специализированной пуско-наладки.
                p Промышленные и полупромышленные приточные установки имеют более масштабные размеры, поэтому чтобы рационально и экономно использовать пространство, такие вентиляционные установки, как правило, размещают на крыше или в технических помещениях, венткамерах и т.д.
                p Приточные установки также могут работать на предварительное охлаждение (приточная установка с охлаждением) или нагрев воздуха перед подачей в помещение, или совмещать в себе две функции сразу (приточная установка с охлаждением и нагревом). Для этих целей в оборудовании предусматривают секции обогрева и/или охлаждения.
                p В секции нагрева воздушных масс используются медные и алюминиевые теплообменники, которые работают на горячей воде или электронагревателе. Водяные теплообменники оснащают термостатом для защиты от обмерзания, а электронагреватели снабжают двухступенчатой системой защиты для их отключения в случае перегрева. Секция охлаждения приточной установки состоит из медно-алюминиевых теплообменников которые работают на холодной воде или гликолевой смеси, либо используется фреоновый испаритель.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/pritochnaya-ustanovka-s-ehlektricheskim-kaloriferom.jpg' alt='приточная установка с электрическим калорифером')
                        i Приточная установка с электрическим калорифером
                p Приточная установка с электрическим калорифером обеспечивает подачу в помещение уже нагретого и отфильтрованного от всех загрязнений воздуха, с учетом низкой температуры в точке забора. Такие модели просты в установке, имеют компактные размеры, демонстрируя при этом высокую эффективность работы. Увеличение температуры происходит за счет контакта приточного воздуха с раскаленными пластинами или спиралями из тугоплавких материалов. Оребрение тэнов выполняют из стали или алюминия. Корпус изготавливают из особо прочной стали, а для хороших показателей тепло-и шумоизоляции предусматривают дополнительный слой из минеральной ваты или пенополистирола. Встроенные фильтры являются непременным элементом устройства и выполняют качественную очистку приточного воздуха от нежелательных примесей.
                p Оборудование можно условно разделить на два типа: без управления, или со встроенным автоматическим блоком управления. В последнем случае, можно задавать нужные настройки температуры нагрева, следить за степенью загрязнения фильтров и корректировать работу системы. Приточные установки с электрическим калорифером монтируют на стенах, или под подвесными потолками. Кроме того, нужно обеспечить свободный доступ к блоку управления для полноценного обслуживания и контроля за состоянием прибора.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/pritochnaya-ustanovka-s-vodyanym-kaloriferom.jpg' alt='приточная установка с водяным калорифером')
                        i Приточная установка с водяным калорифером
                p Приточная установка с водяным калорифером - наиболее выгодная с экономической точки зрения. Такие установки передают тепловую энергию от теплоносителя, который циркулирует внутри радиатора устройства. Жидкость совсем не уступает по эффективности нагрева электрическому аналогу, зато затраты на его обслуживание существенно ниже. Установки такого типа очень эффективны для работы в помещениях с большой площадью, за счет значительной площади покрытия. Это возможно благодаря конструкционным особенностям прибора (нагрев осуществляется в плоскости, перпендикулярной потоку воздушных масс).
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/vytyazhnye-ventilyacionnye-ustanovki.jpg' alt='вытяжные вентиляционные установки')
                h3 Вытяжные вентиляционные установки
                p Главное предназначение вытяжных вентиляционных установок заключается в отводе отработанного воздуха из помещения и равномерном выравнивании давления при действующем притоке. Вытяжные вентустановки устраняют и отводят не только неприятные запахи, но и удаляют различные вредности из помещения, такие как углекислый газ, пыль, дым, а также другие опасные для здоровья человека загрязнения и примеси.
                p Конструкция вытяжных установок включает в себя вытяжной вентилятор, воздуховоды, шумоглушитель, элементы автоматики и дефлектор. Вытяжку можно сделать общеобменной (для всего помещения), либо локальной, которая целенаправленно удаляет и вытягивает загрязненный воздух и вредности непосредственно в месте их возникновения (местные отсосы). Это особенно актуально для больших или специализированных помещений (например, цех).
                p На практике в качестве вытяжного оборудования используется просто вытяжной вентилятор, который либо имеет определенную автоматику для возможности изменения производительности и правильного включения/отключения, либо просто включается кнопкой-пускателем с режимом работы on/off.
                p Для полноценной и правильно работающей системы необходимо совместное использование приточной и вытяжной вентиляции, так как обособленно, вытяжные установки не могут обеспечить полноценного и качественного воздухообмена.
                p Особое внимание стоит уделить вытяжным противодымным установкам, ключевая задача которых заключается не только в отводе дыма и продуктов горения, но и недопущении дальнейшего распространения огня по всему зданию.
                p Для этих целей, в вытяжных установках такого типа задействуют:
                ul
                    li Специальные вентиляторы, отводящие дым и тепло;
                    li Воздуховоды из огнеупорных и тугоплавких материалов;
                    li Особые противодымные и противопожарные клапаны;
                p Вытяжные противодымные установки обязательно автоматизируют, синхронизируя даже сразу несколько способов, на случай выхода одного из сигнальных устройств включения из строя.
                .product__body-images
                    .product__body-group
                        img(src='/assets/product/img/pritochno-vytyazhnye-ventilyacionnye-ustanovki.jpg' alt='приточно-вытяжные вентиляционные установки')
                h3 Приточно-вытяжные вентиляционные установки
                p На сегодняшний день, приточно-вытяжные установки являются наиболее удобными, эффективными и практичными. Они широко применяются не только для частной собственности, гостиниц, административных зданий, но и с успехом задействованы на крупных промышленных предприятиях, складских площадках и цехах.
                p Существует несколько наиболее распространенных разновидностей:
                ul
                    li Приточно-вытяжные установки с опцией рециркуляции воздуха. Принцип работы приточно-вытяжных установок с рециркуляцией состоит в том, что часть воздушных масс, забираемых системой из помещения, перемешивается с холодными воздушными массами, которые поступают извне. После чего, нагретый таким образом воздух поступает внутрь помещения.  Большим плюсом таких установок является существенная экономия электроэнергии. К недостаткам можно отнести ограничение на установку в помещениях, в которых есть присутствие взрывоопасных горючих смесей, испарений и газов;
                    li Приточно-вытяжные установки с охлаждением. Такие приточно-вытяжные установки наиболее целесообразны для использования в помещениях, которые требуют поддержания прохладного температурного режима для хранения продуктов или материалов. Применяются в летний сезон в общественных помещениях, либо в холодильных помещениях, или цехах, где технологическим процессом предусмотрено поддержание определенной низкой температуры. В оборудовании имеется секция охлаждения, а также каплеуловитель, который устанавливают непосредственно за теплообменником/испарителем. Конденсат собирается в поддон из антикоррозийного материала, а дренажный патрубок выводят через боковую панель со стороны обслуживания;
                    li Приточно-вытяжные установки, совмещенные с кондиционером. Подобное оборудование, оснащенное тепловыми насосами и фильтрами, совмещает в себе приточно-вытяжную остановку и кондиционер, заключенных в компактный теплоизолированный корпус;
                    li Приточно-вытяжные вентиляционные установки с рекуператором. Вентиляционные установки с рекуперацией тепла являются на сегодня наиболее выгодным и экономически целесообразным решением для увеличения КПД вентиляции помещения. Принцип работы рекуператора заключается в том, что вместо бесполезного выброса в атмосферу уже отработанного и нагретого воздуха, он извлекает из него тепло и вновь пускает на подогрев поступающих приточных масс. В летний сезон, установки с рекуператором работают на охлаждение приточного теплого воздуха посредством более прохладного исходящего. Грубо говоря, рекуператор позволяет практически бесплатно сохранять тепло и, соответственно, ваши средства для оплаты электроэнергии.
                    p Установки такого типа могут быть оборудованы следующими видами рекуператоров:
                    ul
                        li Пластичными;
                        li Роторными;
                    p Роторные рекуператоры гораздо эффективнее и работоспособнее пластинчатых, к тому же, выдерживают более интенсивные и суровые условия эксплуатации. Но и цена таких моделей гораздо выше;
                p Стоимость вентиляционной установки приточно-вытяжного типа, конечно, выше обычной приточной или вытяжной. Но с учетом того, что экономический эффект от нее гораздо более значительный и ощутимый, относитесь к этому как к вашему выгодному вложению в будущий комфорт и безопасность. К слову говоря, на небольших объектах типа гостиниц, клиник или небольших офисов окупаемость приточно-вытяжной установки с рекуперацией составляет около 1 года за счет экономии расходов электроэнергии.
                include ../partials/info-service.pug